<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>新献浆员登记</title>
		<link rel="stylesheet" href="../../../layui-master/src/css/layui.css">
		<!--bootstarp-->
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<!--新献浆员登记css-->
		<link href="../../../css/list/log.css" rel="stylesheet">
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
		</style>
	</head>

	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" id="busdeta">
				<!--基本信息及验证-->
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis newgeBus">
						<p class="grayP busgrayp"><label class="grayLa newgryla">基本信息</label></p>
						<div class="row newregistr">
							<div class="col-xs-6 colxsgray" id="buscolsx" style=" border-right: 1px solid #c3baba!important;">
								<div class="form-group newikrd">
									<label class="control-label UserC">浆员编号：</label>
									<div class="input-group">
										<input value="864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>

								<div class="form-group newikrd">
									<label class="control-label UserC">浆员姓名：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><ls>曾用名</ls>：</label>
									<div class="input-group">
										<input value="广东省深圳市南沙区藏" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">浆员性格：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>

								<div class="form-group newikrd">
									<label class="control-label UserC">浆员血型：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">指纹信息：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">档案状态：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">证件号码：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">到期日期：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">上年度体检日期：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">末次检验结果：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>

								<div class="form-group newikrd">
									<label class="control-label UserC">建档日期：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">浆员地址：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="col-xs-6 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC">IC卡号：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">浆员年龄：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">建档年龄：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">浆员民族：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">献浆种类：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">介绍人：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">掌静脉：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">联系电话：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">献浆次数：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">末次采浆日期：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">下次预约日期：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">备注：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">备注2：</label>
									<div class="input-group">
										<input value="43065864558450" title="" class="form-control newfrin" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<p class="grayP busgrayp"><label class="grayLa newgryla">照片信息</label></p>
						<div class="row newregistrS">
							<div class="col-xs-4 busdetalis">
								<img src="../../../img/new_pa2.png">
							</div>
							<div class="col-xs-4 busdetalis">
								<div class="row">
									<div class="col-xs-12 buscoltalis">
										<img src="../../../img/new_pa2.png">
									</div>
									<div class="col-xs-6 busxstalis">
										<img src="../../../img/new_pa2.png">
									</div>
									<div class="col-xs-6 busxstalis">
										<img src="../../../img/new_pa2.png">
									</div>
								</div>
							</div>

							<div class="col-xs-4 busdetalis">
								<img src="../../../img/new_pa2.png">
							</div>
						</div>
						<div class="row busgrayp">
							<!--table 表格-->
							<table class="layui-hide" id="Busdetatable" lay-filter="demo"></table>
							<!--table 表格-->

						</div>

					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script src="../../../js/jquery.min.js"></script>
		<!--bootstarp表格插件-->

		<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
		<!--layer插件包-->
		<script src="../../../layui-master/src/layui.js" charset="utf-8"></script>
 
		<script>
			
		</script>
	</body>

</html>