<!DOCTYPE html>
<html> 
	<head>
		<meta charset="UTF-8">
		<title>高级查询(流失率统计查询)</title>
		<link rel="stylesheet" href="../../../layui-master/src/css/layui.css">
		<!--bootstarp-->
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<!--文件上传-->
		<link href="../../../css/fileinput.min.css" rel="stylesheet">
		<link href="../../../css/common.css" rel="styleshe et">
		<!--新献浆员登记css-->
		<link href="../../../css/list/log.css" rel="stylesheet">
		<style type="text/css">
			.newolod {padding-left: 35%;} #newpray .innpuld {margin-left: -8%;}
		</style>
	</head> 
	<body id="newpray">
		<div class="gray-bg " style="    padding-top: 1em;"> 
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-12 colx8">
					<div class="row">
						<div class="col-xs-12"> 
							<div class="row">
								<div class="col-xs-12 colxsgray">
									<div class="col-xs-6">
									<div class="form-group newformcol">
										<label class="control-label col-xs-2" style=" line-height: 2.5em;">日期</label>
										<div class="input-group col-xs-10 date">
					<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="" class="form-control" />
										</div>
									</div>
								</div> 
								
								<div class="col-xs-6">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="button" class="btn  btn-info" style="padding: 0.3em 1em;">查询</button> 
											<button type="button" class="btn  btn-info" style="padding: 0.3em 1em;">导出到EXCEL</button> 
											<button type="button" class="btn  btn-info" style="padding: 0.3em 1em;">打印</button>
										</div>
									</div>
								</div>
					 
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="    margin-right:0px">
							<table class="layui-table" id="reunserquery" lay-filter="parse-table-demo" style=""></table>	
					</div>
				</div>
			
			
				</div>
		</div>
		<script src="../../../js/jquery.min.js"></script> 
			<!--bootstarp表格插件-->
	<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
	<script src="../../../layui-master/src/layui.js" charset="utf-8"></script>
	<script src="../../../js/business/pulping/pulpingquery.js"></script>
</html>