<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>业务管理</title>
		<link rel="shortcut icon" href="favicon.ico"/>
		<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet"/> 
		<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/index.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/Index_home.css}" rel="stylesheet"/>
	</head>
	<body class="fixed-sidebar full-height-layout gray-bg">
		<div id="wrapper" class="wrabusr">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="arabusimg">
					<img th:src="@{'/img/Quud_03.png'}" />
					<label >业务管理</label>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li>
							<a href="#">
								<i class="fa fa-pie-chart"></i>
								<span class="nav-label">血源管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li>
									<a class="J_menuItem" th:href="@{/providerBaseinfo/insertNewPlasma}" data-index="0">新献浆员建档</a>
								</li>
								<!-- <li>
									<a class="J_menuItem" th:href="@{/providerBaseinfo/newRegistrantionPage}" data-index="0">新献浆员登记</a>
								</li> -->
								<li>
									<a class="J_menuItem" th:href="@{/card/toCardList}" data-index="1">发卡</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerBaseinfo/queryInformationhy}" data-index="2">浆员信息变更</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerBaseinfo/plasmaList}" data-index="3">献浆员高级查询</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerBaseinfo/plasmaExamine}" data-index="4">基本信息审核</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-bar-chart"></i>
								<span class="nav-label">登记管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/providerRegistries/registration}" data-index="7">献浆员登记</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerRegistries/regisinformation}" data-index="8">登记信息查询</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerAbout/aboutPeople}" data-index="8">预约人数统计</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/providerRegistries/collectionCount}" data-index="8">采浆记录统计</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-check-square-o"></i> <span class="nav-label">体检管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/check/checkList}" data-index="9">献浆员体检</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/newCheck/newCheckList}" data-index="10">新献浆员体检</a>
								</li>

								<li>
									<a class="J_menuItem" th:href="@{/check/checkQueryList}" data-index="11">体检高级查询</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/refuseInfo/checkRefuseInfo}" data-index="12">体检拒绝信息发布</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/refuseInfo/assayRefuseInfo}" data-index="13">化验拒绝信息发布</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/refuseInfo/otherRefuseInfo}" data-index="14">生物所反馈</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/rabatinfo/rabatinfoList}" data-index="13">胸片记录查询</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-television"></i> <span class="nav-label">检验管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/specimenCollection/initPage}" data-index="14">标本采集</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/smallBlood/initPage}" data-index="15">固定浆员采小血</a>
								</li>
								<li>
									<a class="J_menuItem"  th:href="@{/bloodRedProteinContent/initPage}" data-index="17">血红蛋白含量</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/fixedPulpRegister/initPage}" data-index="16">检验登记</a>
								</li>
								<!-- 目前先不使用
								 <li>
									<a class="J_menuItem" th:href="@{/detectionProteins/initPage}" data-index="18">血红蛋白检测</a>
								</li> -->
								<li>
									<a class="J_menuItem" th:href="@{/proteinContent/initPage}" data-index="19">蛋白含量</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/newCard/initPage}" data-index="20">新献浆员化验</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/newCard/initOldPage}" data-index="21">献浆员化验</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/serumElectrophoresis/electrophoresis}" data-index="22">血清电泳</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/queryInfo/initPage}" data-index="23">化验记录高级查询</a>
								</li>
								
								<li>
									<a class="J_menuItem" th:href="@{/testConfig/initPage}" data-index="24">检验配置</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/elisaInfo/initPage}" data-index="25">酶标板打印</a>
								</li>


							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-user"></i> <span class="nav-label">采浆管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/plasmYell/plasmaYell}" data-index="10">采浆验证</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/plasmCollection/plasmCollectionList}" data-index="10">采浆</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/plasmCollection/collQueryList}" data-index="10">采浆记录高级查询</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">费用管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/costGrant/index}" data-index="11">费用发放</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/costGrant/toCostQuery}" data-index="11">费用发放查询</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/activity/plasmaActivity}" data-index="11">浆站活动</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/bindMessage/toInviteBind}" data-index="11">邀请绑定</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/levelConfig/toBindFit}" data-index="11">邀请设置</a>
								</li>
								
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">浆库管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/plasmaStock/stock}" data-index="12">血浆入库</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/plasmaStock/queryStockList}" data-index="12">浆库高级查询</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/plasmaStock/outPlasmaStock}" data-index="12">送浆</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">检疫期管理</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/quarantine/quarantinePage}" data-index="12">检疫期名单</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/quarantine/quarantineRegPage}" data-index="12">检疫期登记列表</a>
								</li>
							</ul>
						</li>

						<!-- <li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">固定浆员登记验证</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" href="" data-index="13">登记验证</a>
								</li>
							</ul>
						</li> -->
					</ul>

				</div>
			</nav>
			<!--左侧导航结束-->
			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row content-tabs">
					<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
					<nav class="page-tabs J_menuTabs">
						<div class="page-tabs-content">
							<a href="javascript:;" class="active J_menuTab" data-id="home2.html">首页</a>
						</div>
					</nav>
					<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
					<div class="btn-group roll-nav roll-right">
						<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                    </button>
						<ul role="menu" class="dropdown-menu dropdown-menu-right">
							<li class="J_tabShowActive">
								<a>定位当前选项卡</a>
							</li>
							<li class="divider"></li>
							<!--    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>-->
							<li class="J_tabCloseOther">
								<a>关闭其他选项卡</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row J_mainContent" id="content-main">
					<iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="../providerBaseinfo/insertNewPlasma" frameborder="0" data-id="" seamless=""></iframe>
				</div>
			</div>
			<!--右侧部分结束-->
		</div>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<script th:src="@{/layui-master/src/layer.min.js}"></script>
		<script th:src="@{/js/hplus.min.js}"></script>
		<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
		<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
		<script th:src="@{/js/contabs.min.js}"></script>
	</body>

</html>
