<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>浆员信息变更</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head>
	<style type="text/css">
		.form-group{}
		.layui-upload-list{margin: 0;}
		.gray-bg .wrapper .colnewo{border: 0;}
		.gridrow{width: 77%;  float: left;}
		.Idimgr{        height: 4em;
			margin-left: 3.5em;
			position: absolute;
			top: 0;
			left: -3.8em;
			width: auto;}
	</style>
	<body id="newpray">
	<form id="updateForm" enctype="multipart/form-data">
	<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid">
			<div class="col-xs-12 colx8 ">
				<div class="row rowinfor">
					<div class="col-xs-3 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>姓名</la>：</label>
							<div class="input-group">
								<input id="id" name="id" type="hidden"/>
								<input id="name" name="name"  class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC">身份证号：</label>
							<div class="input-group">
								<input id="idNo" name="idNo"  class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>民族</la>：</label>
							<div class="input-group">
								<select name="nation" id="nationId" class="form-control">
								</select>
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>性别</la>：</label>
							<div class="input-group">
								<select name="sex" id="sex" class="form-control">
									<option value="0">男</option>
									<option value="1">女</option>
								</select>
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC">出生日期：</label>
							<div class="input-group">
								<input id="birthday"  name="birthday" onclick="dayControl('birthday')" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC">电话号码：</label>
							<div class="input-group">
								<input id="phone" name="phone" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>血型</la>：</label>
							<div class="input-group">
								<!-- <select  name="bloodType" id="bloodType" class="form-control" disabled="disabled">
									<option value="0">A</option>
									<option value="1">B</option>
									<option value="2">O</option>
									<option value="3">AB</option>
								</select> -->
								<input id="input_bloodType" class="form-control" readonly="readonly"/>
								<input type="hidden" id="bloodType" name="bloodType" value=""/>
							</div>
						</div>

					</div>
					<div class="col-xs-3 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>籍贯</la>：</label>
							<div class="input-group">
								<input  id="place" name="place" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><ls>现居地</ls>：</label>
							<div class="input-group">
								<input id="addressx" name="addressx" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC">证件到期：</label>
							<div class="input-group">
								<input id="validDate" name="validDate" onclick="dayControl('validDate')" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>病史</la>：</label>
							<div class="input-group">
								<input id="history" name="history" class="form-control" />
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC">浆员类型：</label>
							<div class="input-group">
								<select name="type" id="type" class="form-control">
									<option value="0">普通</option>
									<option value="1">普免</option>
									<option value="2">特免</option>
								</select>
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><la>状态</la>：</label>
							<div class="input-group">
								<select name="plasmaState" class="form-control">
									<option value="0">正常</option>
									<option value="1">暂时拒绝</option>
									<option value="2">永久拒绝</option>
								</select>
							</div>
						</div>
						<div class="form-group newikrd">
							<label class="control-label UserC"><ls style="letter-spacing: 4px;    margin-right: -3px;">IC卡号</ls>：</label>
							<div class="input-group">
								<input id="icNumber" name="icNumber" class="form-control" readonly="readonly"/>
							</div>
						</div>

					</div>
					<div class="col-xs-3 colnewo" style="    margin-top: -0.8em;">
						<div class="row" style="padding-left: 14%;" >
							<div class="col-xs-12 coldiv">
								<div class="layui-upload-list">
									<img class="layui-upload-img" src="/img/new_pa1.png" style=" height: 8em; margin-left: 1.5em; width: auto;" id="demo1" />
									<p id="demoText"></p>
								</div>
							</div>

							<div class="row newrowseg coldiv6">
								<div class="form-group newikrd">
									<div class="input-group newInpa butnewikr">
										<span class="btn upload"  style="float: left;margin-right: 1em;font-size: 12px;">身份证正面<input type="file" onchange="addFile('demo1','file',0)" name="file" class="upload_pic" id="file" /></span>
										<span class="btn upload"  style="float: left;    font-size: 12px;">身份证反面<input type="file" onchange="addFile('demo2','file1',1)" name="file" class="upload_pic" id="file1" /></span>
									</div>
								</div>
							</div>

						</div>

						<div class="row rowinfor" style="    margin-top: 0em;">
							<!-- <div class="form-group newikrd">
								<label class="control-label UserC">浆员类型：</label>
								<div class="input-group">
									<select name="type" id="type" class="form-control">
										<option value="0">普通</option>
										<option value="1">普免</option>
										<option value="2">特免</option>
									</select>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>状态</la>：</label>
								<div class="input-group">
									<select name="plasmaState" class="form-control">
										<option value="0">正常</option>
										<option value="1">暂时拒绝</option>
										<option value="2">永久拒绝</option>
									</select>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><ls style="letter-spacing: 4px;    margin-right: -3px;">IC卡号</ls>：</label>
								<div class="input-group">
									<input id="icNumber" class="form-control" readonly="readonly"/>
								</div>
							</div> -->
							<div class="form-group newikrd">
								<label class="control-label UserC">建档日期：</label>
								<div class="input-group">
									<input id="createDate" name="createDate" onclick="dayControl('createDate')"  class="form-control" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>备注</la>：</label>
								<div class="input-group">
									<input id="remarks" name="remarks" class="form-control" />
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-3 colnewo" style="    margin-top: -0.8em;">
						<img class="layui-upload-img Idimgr" src="/img/new_pa1.png" id="demo2" />
						<div class="row" style="padding-left: 15%;">

							<div class="col-xs-12 coldiv">
								<div class="layui-upload-list">
									<img class="layui-upload-img" src="/img/new_pa1.png" style=" height: 8em; margin-left: 1.5em; width: auto;" id="play" />

								</div>
							</div>
							<div class="row newrowseg coldiv6">
								<div class="form-group newikrd">
									<div class="input-group newInpa butnewikr">
										<button type="button" class="btn  btn-info" style="margin-left: 0;    font-size: 12px;" id="newcamera">启动摄像头</button>
										<button type="button" class="btn  btn-info" style="font-size: 12px;" id="newfacial">面部识别</button>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="row rowinfor" style="    margin-top: 0em;">
							<div class="form-group newikrd">
								<label class="control-label UserC">建档日期：</label>
								<div class="input-group">
									<input id="createDate" name="createDate" onclick="dayControl('createDate')"  class="form-control" />
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>备注</la>：</label>
								<div class="input-group">
									<input id="remarks" name="remarks" class="form-control" />
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<div class="row gridrow">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr" style=" margin:  0 auto;">
							<input type="hidden" value="" id="providerNo"/>
							<button type="button" class="btn  btn-info" id="updateBaseInfo">修改</button>
							<button type="button" class="btn  btn-info" id="submit_wei">提交卫计委审核</button>
							<button type="button" class="btn  btn-info" id="update_plalsma">更新浆员信息</button>
							<button type="button" id="refreshPage"  class="btn  btn-info">刷新</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</form>
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA">
				<div class="col-xs-12">
					<div class="ibox">
						<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal">
								<div class="col-xs-2 colikra" style="margin-left:-1%; margin-top: 1.2em;">  
									<div class="form-group newformcol">
										<label class="control-label col-xs-4" style="margin:0;padding:0;">浆员信息列表</label>
									</div>
								</div>

								<div class="col-xs-10" style="  margin-top: 0.8em;">
									<div class="shu">
										<div class="form-group newformcol">
											<label class="control-label UserC">姓名：</label>
											<div class="input-group">
												<input placeholder="请输入姓名" id="seaName" class="form-control"/>
											</div>
										</div>
									</div>
									<div class="shu">
										<div class="form-group newformcol">
											<label class="control-label UserC">身份证号：</label>
											<div class="input-group">
												<input placeholder="请输入身份证号" id="seaIdNo"  class="form-control"/>
											</div>
										</div>
									</div>
									<div class="shu">
										<div class="form-group newformcol">
											<label class="control-label UserC">献浆卡号：</label>
											<div class="input-group">
												<input placeholder="请献浆卡号" id="seaProviderNo" class="form-control"/>
											</div>
										</div>
									</div>
									<div class="shubut">
										<div class="form-group newformcol">
											<div>
												<button type="button" id="search" class="btn  btn-info">查询</button>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row busr">

				<div class="col-md-12 bustrNew">
					<!--table列表-->
					<table class="layui-hide" id="infortest" lay-filter="demo"></table>

					<!---->
					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script> 
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		
		<script th:src="@{/js/zoom.js}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/utils.js}"></script>
		<!--浆员信息变更js-->
		<script th:src="@{/js/business/busblood/butdatel.js}"></script>
		<script th:src="@{/js/business/busblood/information_hy.js}"></script>
		<!-- 人脸识别 -->
		<script  th:src="@{/js/common/start_camera.js}"></script>
		 
			<script th:src="@{/js/imgx.js}"></script>
	<img src="" alt="" class="bigimg" />
<div class="mask">
	<img src="" alt="" />
</div>
	</body>

</html>