<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>体检高级查询</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
			.newregistr {
   margin-left: 0%;  
}
			#newpray .gray-bg .colx8 .padyu{width: 30%!important;}
		</style>
		<!-- TODO 时间问题 -->
	</head>
	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" id="busdeta" style="">
				<div class="col-xs-12 colx8 colnewo" >
					<div class="row newregis" style="border-bottom: 0px solid #e7e7e7 !important;">
						<div class="row newregistr">
							<div class="col-xs-12" id="search">

								<div class="col-xs-3 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC padyu">体检日期：</label>
										<div class="input-group phyea">
											<div class="col-xs-5 advancol">
												<input  class="form-control" id="startTime" readonly="readonly"/>
											</div>
											<div class="col-xs-1 advancolS">
												--
											</div>
											<div class="col-xs-5 advancol">
												<input  class="form-control" id="endTime" readonly="readonly"/>
											</div>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC padyu"><la>姓名</la>：</label>
										<div class="input-group phyea">
											<input  class="form-control newfrin" id="name"/>
										</div>
									</div>
									
								</div>

								<div class="col-xs-3 colxsgray">
<div class="form-group newikrd">
										<label class="control-label UserC padyu">献浆卡号：</label>
										<div class="input-group phyea">
											<input  class="form-control newfrin" id="providerNo"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC padyu">建档日期：</label>
										<div class="input-group phyea">
											<div class="col-xs-5 advancol">
												<input  class="form-control" id="regStartTime" readonly="readonly"/>
											</div>
											<div class="col-xs-1 advancolS">
												--
											</div>
											<div class="col-xs-5 advancol">
												<input  class="form-control" id="regEndTime" readonly="readonly"/>
											</div>
										</div>
									</div> 
								</div> 
								<div class="col-xs-3 colxsgray">
<div class="form-group newikrd">
										<label class="control-label UserC padyu">身份证号：</label>
										<div class="input-group phyea">
											<input  class="form-control newfrin" id="idNo"/>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC padyu">体检结果：</label>
										<div class="input-group phyea">
											<select name="result" class="form-control" id="result">
												<option value="">请选择</option>
												<option value="0">合格</option>
												<option value="1">不合格</option>
											</select>
										</div>
									</div>
								</div>
						<div class="col-xs-3 colxsgray">

									<div class="form-group newikrd">
										<label class="control-label UserC padyu"><ls>IC卡号</ls>：</label>
										<div class="input-group phyea">
											<input  class="form-control newfrin" id="icNumber"/>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC padyu">是否体检：</label>
										<div class="input-group phyea">
											<select name="isCheck" class="form-control" id="isCheck">
												<option value="">请选择</option>
												<option value="0">未体检</option>
												<option value="1">已体检</option>
											</select>
										</div>
									</div>
						</div>
							</div> 
						</div>
						<div class="row newrowseg">
							<div class="form-group newikrd" style="    margin-top: 0.7em;">
								<div class="input-group newInpa butnewikr" style=" width: inherit !important;">
									<button type="button" class="btn  btn-info Phyegis phyX" id="query">查询</button>
									<button type="button" class="btn  btn-info Phyegis phyX" id="rest">重置</button>
									<shiro:hasPermission name="check:down">
										<button type="button" class="btn  btn-info Phyegis phyX" id="export">导出到EXCEL</button>
									</shiro:hasPermission>
									<button type="button" class="btn  btn-info Phyegis phyX" id="print">打印</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
			<div class="gray-bg ">
			<div class="row newrowseg"  >
							<div class="col-xs-12"> 
								<table class="layui-hide" id="check" lay-filter="demo"></table>
							</div>

						</div>
					</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script> 
		<script th:src="@{/js/check/check_query_list.js}"></script>
	</body>
</html>
