<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="renderer" content="webkit" />
		<title>生物所反馈</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
		<style type="text/css">
			.newolod {padding-left: 35%;}
			.layui-table-view{margin:  0;}
		</style>
		<!-- TODO mytask 拒绝信息发布问题 -->
	</head>
	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-9 colx8 colnewo"> 
					<div class="row newregis" style=" border-bottom: 0px solid #e7e7e7 !important;" id="basic"> 
						<div class="row newregistr">
							<div class="col-xs-4 colxsgray"> 
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>姓名</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="name" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>性别</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="sex" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">献浆卡号：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="providerNo" id="providerNo"/>
									</div>
								</div>
								
								<div class="form-group newikrd">
									<label class="control-label UserC">发布医生：</label>
									<div class="input-group">
										<input th:value="${session.admin.name}" title="" class="form-control newfrin not" name="userName" readonly="readonly"/>
										<input type="hidden" th:value="${session.admin.id}" title="" class="form-control newfrin not" name="releaseId" />
									</div>
								</div>
							</div>
							<div class="col-xs-4 colxsgray"> 
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>血型</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="bloodType" id="bloodType"/>
									</div>
								</div> 
								 <div class="form-group newikrd">
									<label class="control-label UserC"><la>类型</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="type" id="type"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><ls style="    letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="icNumber"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4 colxsgray"> 
								<div class="form-group newikrd">
									<label class="control-label UserC">医生意见：</label>
									<div class="input-group">
										<select name="opinion" class="form-control" id="opinion">
											<option value="">请选择</option>
											<option value="0">暂时拒绝</option>
											<option value="1">永久淘汰</option>
										</select>
									</div>
								</div>   
								<div class="form-group newikrd">
									<label class="control-label UserC">拒绝天数：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="day" id="day" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
									</div>
								</div>
								<div class="form-group newikrd">	
									<label class="control-label UserC">拒绝原因：</label>
									<div class="input-group phyea">
										<select name="eliminateReason" id="eliminateReason" class="form-control not">
											<option value="">请选择</option>
										</select>
									</div>
								</div> 
							</div>
						</div>
					</div>
					<div class="row newrowseg" style="margin-top: 0em;margin-bottom: 0.5em;">
						<div class="form-group newikrd">
							<div class="input-group newInpa butnewikr Phygisa" style="margin-left: 45%;">
								<input type="hidden" id="id"/> 
								<input type="hidden" value="" id="isRefuse"/>
								<button type="button" class="btn  btn-info Phyegis" id="baseic_query">查询</button>
								<button type="button" class="btn  btn-info Phyegis" id="confirm">确定</button>
								<button type="button" class="btn  btn-info Phyegis" id="cancel">取消发布</button> 
								<button type="button" class="btn  btn-info Phyegis" id="refresh">刷新</button>
							</div>
						</div>
					</div>
				</div>
				<!--上传证件及照片-->
				<div class="col-xs-3 colnewo">
					<div class="row" style=" margin-top: 2em;"> 
						<div class="col-xs-12 coldix">
							<img id="idCard"  class="layui-upload-img" src="../../../img/new_pa1.png" style="width: auto;height: 10em;position: initial;" name="imagez"/>
						</div> 
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style=" ">
					<div class="col-xs-12">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
									<div class="row form-horizontal" style="padding-top:1em">
									<div class="col-xs-8 colikra" style="margin-left:-1.8em">
										<div class="form-group newformcol">
											<label class="control-label col-xs-4" style=" ">生物所反馈</label>
										</div>
									</div> 
									<div class="col-xs-3"> 
										 
											<label class="control-label UserCS" >献浆卡号：</label>
											<div class="input-group">
												<input  class="form-control newfrin" id="providerNo_search"/>
											</div>
										 
									</div>
									<div class="col-xs-1">
										<div class="form-group newformcol">
											<div class="pull-left">
												<button type="button" class="btn  btn-info" id="query">查询</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row busr"> 
					<table class="layui-hide" id="refuse" lay-filter="page"></table>
					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.webcam.js}"></script>
		<script th:src="@{/js/zoom.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/check/other_refuse.js}"></script>
				<script th:src="@{/js/imgx.js}"></script> 
	<img src="" alt="" class="bigimg" />
<div class="mask">
	<img src="" alt="" />
</div>
	</body>
</html>
