<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>浆员X光胸片检查录入</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
	.newolod {padding-left: 35%;} 
	.newgeBus #buscolsx{border-right: 0px solid #c3baba!important;}
	#newpray #busdeta .newikrd .input-group{width:73%!important}	
	#newpray .gray-bg .colx8 .input-group #intspan{	    background-color: #65c979;
    border-color: #65c979; color: #FFF; float: left;} 
	.userfile {width: 9em; position: relative; display: inline-block;  background: #70bf80;
    border: 1px solid #70bf80; border-radius: 4px; padding: 8px 12px; overflow: hidden;
    color: #ffffff; text-decoration: none; text-indent: 0;  line-height: 20px;}
.userfile input { position: absolute; font-size: 100px; right: 0;  top: 0;  opacity: 0;}
.userfile:hover {  color: #FFF; } 
.newgeBus{margin-right: -15px !important;;
    margin-left: -15px !important;;}
		</style>
	</head>

	<body id="newpray">
		<div class="gray-bg " style="    padding-top: 1em;">
			<div class="row newregistr" id="search">
				<div class="col-xs-4 colxsgray"> 
					<div class="form-group newikrd">
						<label class="control-label UserC" style="float: left;    line-height: 2.5em;"><la>浆员卡号</la>：</label>
						<div class="input-group">
								<input class="form-control newfrin" id="boxId"/>
						</div>
						
					</div> 
				</div>
				<div class="col-xs-1 colxsgray">
				<button type="button" class="btn  btn-info" id="chaxun">查询</button>
				</div>
			</div>
			<div class="wrapper wrapper-content animated fadeInRight weralid" id="busdeta">
			<form id="rabatForm" enctype="multipart/form-data">
				<!--基本信息及验证-->
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis newgeBus"> 
						<div class="row newregistr" id="basic">
							<div class="col-xs-5 colxsgray" id="buscolsx">
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC"  ><ls style=" letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="icNumber" name="icNumber" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC"><la>姓名</la>：</label>
									<div class="input-group">
										<input value=" " title="" class="form-control newfrin" id="name" name="name" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC">献浆卡号：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="providerNo" readonly="readonly"/>
									</div>
								</div> 
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC"><la>年龄</la>：</label>
									<div class="input-group">
										<input value=" " title="" class="form-control newfrin" id="age" name="age" readonly="readonly"/>
									</div>
								</div>
							</div>
							
							<div class="col-xs-5 colxsgray">
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC">检查时间：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="startTime" id="startTime" readonly="readonly"/>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC">检查单位：</label>
									<div class="input-group">
										<select name="rabatunitId" class="form-control" data-tip="请选择皮肤是否正常" id="rabatunitId">
											<option value="" selected="selected">请选择</option>
										</select>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC">检查医生：</label>
									<div class="input-group">
										<select name="userId" class="form-control" data-tip="请选择皮肤是否正常" id="userId">
											<option value="" selected="selected">请选择</option>
										</select>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC">检查结果：</label>
									<div class="input-group">
										<select name="result" class="form-control" data-tip="请选择皮肤是否正常" id="result">
											<option value="0" selected="selected">合格</option>
											<option value="1" >不合格</option>
										</select>
									</div>
								</div>
								<div class="form-group newikrd buspgy">
									<label class="control-label UserC"><la>备注</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" name="remarks" id="remarks"/>
									</div>
								</div> 

							</div>
							<div class="col-xs-2" style="padding-top: 1.5em;">
								<div class="row newrowseg">
									<div class="form-group newikrd">
										<div class="input-group newInpa butnewikr Phygisa phyXisa">
											<button type="submit" class="btn  btn-info Phyegis phyX" id="confirm">确定</button>
											<button type="button" class="btn  btn-info Phyegis phyX" id="refresh">刷新</button>
											<!-- <span class="btn upload" id="intspan">上传胸片图像<input type="file" class="upload_pic" id="inforpload" /></span> -->
												<label>
													   <a href=" " class="userfile">
													      <span class="userfiles">上传胸片图像</span>
													      <input type="file" onchange="addFile()" name="file" id="file"/>
													   </a>
												</label>

										</div>
									</div>
								</div>
							</div>
						</div> 	 
						<div class="row newregistr"> 
							<div class="col-xs-8 buspsx">
								<p>检查列表</p> 
								<table class="layui-hide" id="rabat" lay-filter="rabat"></table>
							</div>  
							<div class="col-xs-4 buspsx">
								<ul>
									<li><p>胸片图像</p></li>
									<li>
									<img src="../../../img/new_pa1.png"  id="demo1"  class="userimg" style=" margin-top:  1em;"/>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				</form>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script> 
		<script th:src="@{/js/check/rabat.js}"></script>
	</body>
</html>