<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/healthGlobal.css">
    <link rel="stylesheet" href="../css/healthImg.css">
    <title>Document</title>
</head>
<body>
    <div class="img">
        <div class="img-one">
            <img src="../img/health_manual01.png" alt="">
        </div>
        <div class="img-two">
            <img src="../img/health_manual02.png" alt="">
        </div>
        <div class="img-three">
            <img src="../img/health_manual03.png" alt="">
        </div>
        <div class="img-four">
            <img src="../img/health_manual04.png" alt="">
        </div>
        <div class="img-five">
            <img src="../img/health_manual05.png" alt="">
        </div>
    </div>
</body>
</html>