<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/phone.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/element.css">
    <script src="../js/vue.js"></script>
    <script src="../js/element.js"></script>
</head>

<body>
    <div id="app">
        <el-collapse v-model="activeNames">
            <el-collapse-item name="1" v-for="item of phonelist">
                <span class="collapse-title" slot="title">
                    {{item.titlt}}
                </span>
                <el-collapse-item v-for="sum in item.phone">
                    <span class="collapse-title" slot="title">
                        {{sum.text}}
                    </span>
                    <div>
                        <img :src="sum.imgUrl" alt="">
                    </div>
                </el-collapse-item>
            </el-collapse-item>
        </el-collapse>
    </div>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    activeNames: ['1'],
                    phonelist: [
                        {
                            titlt: "Q1:为什么提示设备使用者已经存在?",
                            phone: [
                                {
                                    text: "华为手机",
                                    imgUrl: "../img/huawei.png"
                                },
                                {
                                    text: "小米手机",
                                    imgUrl: "../img/xiaomi.png"
                                },
                                {
                                    text: "魅族手机",
                                    imgUrl: "../img/3_7_3.png"
                                },
                                {
                                    text: "三星手机",
                                    imgUrl: "../img/3_7_4.png"
                                },
                                {
                                    text: "OPPO手机",
                                    imgUrl: "../img/3_7_5_OPPO.png"
                                },
                                {
                                    text: "ViVO手机",
                                    imgUrl: "../img/3_7_6_ViVO (1).png"
                                }
                            ]
                        }
                    ]
                }
            }
        })
    </script>
</body>

</html>