<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>启动摄像头</title>
    <!--bootstarp框架及公共样式-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <!--本地css文件-->
    <link th:href="@{/css/list/log.css}" rel="stylesheet"/>
</head>
<style>
    .burnw{border: 1px solid #b3b3b3; width: 48%;   height: 18.4em;   margin-top: 2.5em;   padding-right: initial;    padding-left: initial;    }
    #canvasA{  position: initial;  top: initial; }
    .colNewlnew canvas{border: 1px solid #e7e7e7;  width: 26em;  height: 18.3em;margin-top: initial;}
    video,
    canvas {margin-left: 0; margin-top: 0; position: absolute;border: 0px solid #e7e7e7 !important; height: 18.5em !important;}
    .burnw{width: 45.8%}
</style>
<body>
<div class="modal-dialog" style="margin: 0;">
    <div class="modal inmodal newolod" id="modalTown-catch" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog new_model">
            <div class="modal-content">
                <form id="newForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row form-horizontal">
                                        <div class="col-sm-6 col-xs-12 colNewlnew" style="width: 50%;">
                                            <div class="row">

                                                <div class="col-xs-12 ">
                                                    <!--摄像画布显示-->
                                                    <p class="cameBus">摄像区
                                                      <select id="videoSource" style="width: 210px;"></select>
                                                    </p>
                                                    <!--摄像头-->
                                                   <!--  <video id="video" width="320" height="240" preload="autoplay loop muted" ></video> -->
                                                   										<div id="vdoOne" style="">
		<video id="video" width="300" autoplay="autoplay"></video>
		<canvas id="canvasPreview"  width="300" height="224"></canvas>
		<canvas id="canvasUpload" style="display:none;" width='300' height='224'></canvas>
		<button id="snap" class="btn btn-default" type="button"></button>
	</div>
                                                    <canvas id="canvas" width="320" height="240"></canvas>
                                                </div>
                                            </div>

                                            <div class="col-xs-12" style="position: absolute; bottom: 0; top: 21.5em;">
                                                <div id="newreg_tionas newstira">
                                                    <div class="col-xs-4 coldiv6 newcolwq">
                                                        <button type="button" class="btn  btn-info" id="play">拍照</button>
                                                    </div>
                                                    <div class="col-xs-4 coldiv6 newcolwq">
                                                        <button type="button" class="btn  btn-info" id="delBtn">取消</button>
                                                    </div>
                                                    <div class="col-xs-4 coldiv6 newcolwq">
                                                        <button type="button" class="btn  btn-info" id="qued">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-12 colNewlnew burnw">
                                            <!--摄像画布显示-->
                                            <img src=""  id="canvasA" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<!--jquery包-->
<script th:src="@{/js/jquery.min.js}"></script>

<script  th:src="@{/js/face/tracking-min.js}"></script>
<script  th:src="@{/js/face/stats.min.js}"></script>
<script th:src="@{/js/face/face-min.js}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<!--layer插件包-->
<script th:src="@{/layui-master/src/layui.js}" ></script>
<!--本地js文件-->
<script th:src="@{/js/common/fonlade.js}"></script>
 <code class="language-javascript" deep="7"><script th:src="@{/js/common/idenface.js}"></script></code>  
</html>