<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>献浆员高级查询</title> 
		<link rel="stylesheet" href="../../../layui-master/src/css/layui.css">
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<!--浆员信息变更css-->
		<link href="../../../css/list/log.css" rel="stylesheet">
	</head>

	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<div class="col-xs-12 colx8 inforcol">
					<div class="row rowinfor">

						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">登记日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">出生日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">预约日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">建档日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">采浆日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">发卡日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">最后采浆日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input  class="form-control">
									</div>
								</div>
							</div>

						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>姓名</la>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>性别</la>：</label>
								<div class="input-group">
									<select name="type" class="form-control">
										<option value="">请选择</option>
										<option value="">男</option>
										<option value="">女</option>
									</select>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><ls>身份证</ls>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>血型</la>：</label>
								<div class="input-group">
									<select name="type" class="form-control">
										<option value="">请选择</option>
										<option value="">B</option>
										<option value="">A</option>
									</select>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>民族</la>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>地址</la>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><ls>登记人</ls>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>

						</div>
						<div class="col-xs-4 colxsgray">

							<div class="form-group newikrd">
								<label class="control-label UserC">献浆卡号：</label>
								<div class="input-group">
									<select name="type" class="form-control">
										<option value="">请选择</option>
										<option value="">合格</option>
										<option value="">不合格</option>
									</select>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC">免疫类型：</label>
								<div class="input-group">
									<select name="type" class="form-control">
										<option value="">请选择</option>
										<option value="">普通</option>
										<option value="">不普通</option>
									</select>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">登记方式：</label>
								<div class="input-group">
									<select name="type" class="form-control">
										<option value="">请选择</option>
										<option value="">身份证</option>
										<option value="">港澳通行证</option>
									</select>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>组号</la>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><ls style=" margin-left: -0.5em;">IC卡号</ls>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>乡镇</la>：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">采浆次数：</label>
								<div class="input-group">
									<input  class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group newikrd">
							<div class="input-group newInpa butnewikr" style=" margin:  0 auto;">
								<button type="button" class="btn  btn-info">查询</button>
								<button type="button" class="btn  btn-info">导出到EXCEL</button>
								<button type="button" class="btn  btn-info" id="BusAdvan">血源部月统计</button>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style=" ">

				</div>
				<div class="row busr">
		 
					<div class="col-md-12"  >
						<!--table 表格-->
						<table class="layui-hide" id="Advancedtest" lay-filter="demo"></table>
						<!--table 表格-->
						<div class="row">
							<div class="col-md-7 col-sm-12">
								<div class="dataTables_paginate bootstrap_full_number">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script src="../../../js/jquery.min.js"></script>

		<!--layer插件包-->
		<script src="../../../layui-master/src/layui.js" charset="utf-8"></script>

		<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
		<!--浆员信息变更js-->
		<script src="../../../html/Business/BusBlood/AdvancedQuery.js"></script>
	</body>

</html>