@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-10-16 11:49:46
 * @version $Id$
 */
*{
    margin: 0;padding: 0;font-family: 微软雅黑;
}
a,s,del,u{
    color: #333;text-decoration: none;
}
ul,ol,dl{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,i,em,b,strong{
    font: normal 12px '微软雅黑';
}
input,textarea,button,a,select{
    outline: none;
}
textarea{
    resize: none;
}
img{
    display: block;border: none;
}
.clear{
    clear: both;
}
.clearfix:after{
    content: '';display: block;width: 0;height: 0;visibility: hidden;clear: both;
}