<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="UTF-8" />
		<title>血浆入库</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {padding-left: 35%;}
			#newpray .gray-bg .colx8 .inhenagoi{width: 42% !important;}
			.colsur{width:auto !important}
			.bustrNew .phyegistrS {width: 37%;}
			.bustrNew .phytable { width: 62% !important;}
		</style>
	</head>
	<body id="newpray" style="height: 900px;">
		<div id="stock_list">
			<!--startprint-->
			<table class="layui-table" id="stock" lay-filter="demo" style=""></table>
			<!--endprint-->
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/plasmaStock/print_stock.js}"></script>
	</body>
</html>