.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background: #23c6c8;
    color: #fff;
}
.ibox-content{
    border: 0;
}
.btn-reset{
    background-color: #B6A2DF;
    border-color:#B6A2DF;
    color: #fff;
}
.btn-reset:hover{
    background-color: #AD98D3;
    color: #fff;
}
body{
    background-color: #f3f3f4;
}

.writebox{
    background-color: #fff;
    min-height: 400px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
}

