<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>采浆情况设置</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="styleshe et"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
			 
			#newpray .innpuld {
				margin-left: -8%;
			}
		</style>
	</head>

	<body id="newpray">
			<div class="gray-bg " style="    padding-top: 1em;    padding-bottom: 1em;">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<form id="updateSupplies">
					<div class="col-xs-12 colx8" style="padding-right: 2em;">
					 
								<div class="row">
									<div class="col-xs-6 colxsgray">
										
										<div class="form-group newikrd">
											<label class="control-label UserC">耗材编号：</label>
											<div class="input-group">
												<input name="id" th:value="${info.id}" type="hidden"/>
												<input th:value="${info.number}" name="number" id="number" title="" class="form-control newfrin" />
											</div>
										</div>
										
										<div class="form-group newikrd">
											<label class="control-label UserC">耗材名称：</label>
											<div class="input-group">
												<input th:value="${info.name}" name="name" id="name" title="" class="form-control newfrin" />
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC"><la>浓度</la>：</label>
											<div class="input-group">
												<input th:value="${info.thick}" name="thick" id="thick" title="" class="form-control newfrin" />
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC">所属类别：</label>
											<div class="input-group">
											<input id="type" th:value="${info.typeId}" type="hidden"/>
												<select name="typeId" id="typeId" class="form-control">
													<option value="">请选择</option>
												</select>
											</div>
										</div>

										<div class="form-group newikrd">
											<label class="control-label UserC"><la>单位</la>：</label>
											<div class="input-group">
											<input name="unit" id="unit" th:value="${info.unitId}" type="hidden"/>
												<select name="unitId" id="unitId" class="form-control">
													<option value="">请选择</option>
												</select>
											</div>
										</div>

										<div class="form-group newikrd">
											<label class="control-label UserC">生产厂商：</label>
											<div class="input-group">
											<input name="supply" id="supply" th:value="${info.supplyId}" type="hidden"/>
												<select name="supplyId" id="supplyId" class="form-control">
													<option value="">请选择</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-6 colxsgray">
										<div class="form-group newikrd">
											<label class="control-label UserC">用于模块：</label>
											<div class="input-group">
											<input name="applyy" id="applyy" th:value="${info.apply}" type="hidden"/>
												<select name="apply" id="apply" class="form-control">
													<option value="">请选择</option>
													<option value="0">采浆</option>
													<option value="1">化验</option>
													<option value="2">免疫</option>
												</select>
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC"><la>备注</la>：</label>
											<div class="input-group">
												<input th:value="${info.remark}" name="remark" id="remark" title="" class="form-control newfrin" />
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC"><la>规格</la>：</label>
											<div class="input-group">
												<input th:value="${info.standard}" name="standard" id="standard" title="" class="form-control newfrin" />
											</div>
										</div>
											<div class="form-group newikrd">
											<label class="control-label UserC"><ls>进货价</ls>：</label>
											<div class="input-group">
												<input th:value="${info.money}" name="money" id="money" title="" class="form-control newfrin" />
											</div>
										</div>

										<div class="form-group newikrd">
											<label class="control-label UserC">库存上限：</label>
											<div class="input-group">
												<input th:value="${info.maxStock}" name="maxStock" id="maxStock" title="" class="form-control newfrin" />
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC">库存下限：</label>
											<div class="input-group">
												<input th:value="${info.minStock}" name="minStock" id="minStock" title="" class="form-control newfrin" />
											</div>
										</div>
										
									</div>
								 
						</div>
						<div class="col-xs-12">
							<div class="form-group newformcol">
								<div class="pull-right">
									<button type="submit" class="btn  btn-info" style=" margin-right: 1em;">确定</button>
									<button type="button" class="btn  btn-info" id="cannel">取消</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<!--  jQuery Validation plugin javascript -->
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!--公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/supplies/config/supplies_update.js}"></script>
		</body>
</html>