<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadl.account.dao.AuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fadl.account.entity.Auth">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="masterType" property="masterType" />
        <result column="url" property="url" />
        <result column="permission" property="permission" />
        <result column="parentId" property="parentId" />
        <result column="isDisable" property="isDisable" />
        <result column="parentIds" property="parentIds" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, masterType, url, permission, parentId, isDisable, parentIds, createDate, updateDate, creater, updater
    </sql>
	<!-- 查询菜单列表 -->
	<select id="queryAuthList" resultType="com.fadl.common.DataRow" parameterType="java.util.HashMap">
		SELECT id,name,masterType,url,permission,parentId,DATE_FORMAT(createDate,'%Y-%m-%d') as createDate from auth
		where 1=1
		<if test="name!=null and name!=''">
		AND name LIKE CONCAT('%',#{name},'%')
		</if>
		LIMIT #{pageNum},#{pageSize}
	</select>
	<!-- 查询菜单列表总数 -->
	<select id="queryAuthListCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		SELECT COUNT(*) FROM (
		SELECT * from auth
		where 1=1
		<if test="name!=null and name!=''">
		AND name LIKE CONCAT('%',#{name},'%')
		</if>
		) tc
	</select>
	<!-- 查询角色全部信息 -->
	<select id="queryAuthInfo" resultMap="BaseResultMap">
		SELECT * FROM auth WHERE parentId =0
	</select>

	<!-- 查询权限菜单集合 -->
	<select id="queryAuthList" resultMap="BaseResultMap">
		SELECT * FROM auth
	</select>
</mapper>
