<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>免疫注射信息</title>
    <link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/list/log.css}" rel="stylesheet" />
    <style type="text/css">
        .newolod {
            padding-left: 35%;
        }
		.col-xs-6{
		padding-left: 7px;
    	padding-right: 0;
		}
        .layui-layer-content {
            margin-top: 2.5em;
        }

        .layui-layer-title {
            display: none;
        }

        .pull-center .layui-layer-ico {
            background: initial
        }

        .layui-layer-page .layui-layer-content {
            overflow: hidden!important;
        }

        .layui-layer-dialog .layui-layer-content {
            padding: 0 !important;
        }

        .newrowseg {
            margin-top: 0;
        }
        .phyegistr p{    font-size: 15px;
    margin-left: 1em;
    color: #54a664;}
    </style>
</head>
<body id="newpray">
    <div class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight weralid" style="">
            <div class="col-xs-12 colx8 colnewo">
                <div class="row newregis" style="border:initial !important">
                    <div class="col-xs-12">
                        <div class="row newregistr" id="sertfd">
                            <div class="col-xs-3 colxsgray"> 
                                <div class="form-group newikrd">
                   <label class="control-label UserC">免疫类型：</label>
                                    <div class="input-group"> 
                                        <select id="immuneId" class="form-control">
                                        <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">浆员姓名：</label>
                                    <div class="input-group">
                                        <input value="" id="name" title="" class="form-control newfrin" />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">献浆卡号：</label>
                                    
                                         <div class="input-group">
                                        <input value="" id="providerNo" title="" class="form-control newfrin" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-3 colxsgray" style="display:none">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">免疫编号：</label>
                                    <div class="input-group">
                                               <input value="" id="immuneId" title="" class="form-control newfrin" />
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row newrowseg">
                    <div class="form-group newikrd">
                        <div class="input-group newInpa butnewikr" style=" "> 
                            <button type="button" class="btn  btn-info" id="query">查询</button>
                            <button type="button" class="btn  btn-info " id="reset">重置</button>
                            <button type="button" class="btn  btn-info " id="aaa">刷新</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg" id="" style=" ">
        <div class="wrapper wrapper-content animated fadeInRight"> 
            
            <div class="row busr">
                <div class="col-md-12 bustrNew">
                    <!--table数据-->
                    <div class="phyegistr">
                    	<p style="margin-top: 24px;    margin-left: 2em;">免疫基本信息</p>
                    	<shiro:hasPermission name="injectionFrequency:in">
                        <table class="layui-hide" id="newtestS" lay-filter="demo"  ></table>
                        </shiro:hasPermission>
                    </div>
                   
                   <div class="row">
                    	<div class="col-xs-6">
                    		<div class="phyegistr">
                    	<p style=" margin-left: 1em;">基础针注射信息</p>
                    	<shiro:hasPermission name="injectionFrequency:left">
                        <table class="layui-hide" id="newtest" lay-filter="demo"></table>
                        </shiro:hasPermission>
                    </div>
                    	</div>
                    	<div class="col-xs-6">
                    		<div class="phyegistr">
                    	<p style=" margin-left: 1em;">加强针注射信息</p>
                    	<shiro:hasPermission name="injectionFrequency:right">
                        <table class="layui-hide" id="newtesta" lay-filter="demo"></table>
                        </shiro:hasPermission>
                    </div>
                    	</div>
                    </div> 
                    
                </div>
            </div>
        </div>
    </div>
    <!--jQuery包-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--bootstarp表格插件-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--layer插件包-->
    <script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script> 
    
    <script th:src="@{/js/immune/injectionmanagement/immune_shot_message.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/dateUtil.js}"></script>
	
</body> 
</html>
