<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>普免基础针注射</title>
    <link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/list/log.css}" rel="stylesheet" />
    <style type="text/css">
        .newolod {
            padding-left: 35%;
        }

        .layui-layer-content {
            margin-top: 2.5em;
        }

        .layui-layer-title {
            display: none;
        }

        .pull-center .layui-layer-ico {
            background: initial
        }

        .layui-layer-page .layui-layer-content {
            overflow: hidden!important;
        }

        .layui-layer-dialog .layui-layer-content {
            padding: 0 !important;
        }

        .newrowseg {
            margin-top: 0;
        }
   
        @media (max-width: 1900px) {
        	   #grinut{   width: 67%;}
        }
        @media (max-width: 1300px) {
        	     #grinut{    width: 65%;}
        }
    </style>
</head>

<body id="newpray">
    <div class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight weralid" style="">
            <!--基本信息及验证-->
            <div class="col-xs-12 colx8 colnewo">
                <div class="row newregis" style="border:initial !important">
                    <div class="col-xs-10"> 
                        <div class="row newregistr" id="reload">
                            <div class="col-xs-4 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <la>姓名</la>：</label>
                                    <div class="input-group">
                                        <input value="" id="name" title="" class="form-control newfrin" readonly="readonly" />
                                        <input  type="hidden" id="id" />
                                        <input  type="hidden" id="vaccineId"/>
                                        <input  type="hidden" id="isShot"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <la>性别</la>：</label>
                                    <div class="input-group">
                                        <input value="" title="" class="form-control newfrin" id="sex" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <la>血型</la>：</label>
                                    <div class="input-group">
                                        <input value="" title="" class="form-control newfrin" id="bloodType" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <la>类型</la>：</label>

                                    <div class="input-group">
                                        <input id="type" value="" title="" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div> 
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <ls style="letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
                                    <div class="input-group">
                                        <input value="" id="icNum" title="" class="form-control newfrin" readonly="readonly" />
                                    </div>
                                </div> 
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">献浆卡号：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="providerNo" class="form-control newfrin" readonly="readonly" />
                                    </div>
                                </div> 
                              <!--   <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <ls>登记号</ls>：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="regId" class="form-control newfrin" readonly="readonly" />
                                    </div>
                                </div> -->
                                 <div class="form-group newikrd">
                                    <label class="control-label UserC">免疫编号：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="immuneNum" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        <la>类别</la>：</label>
                                    <div class="input-group">
                                    	<input id="immuneId" type="hidden"/>
                                        <input value="" readonly="readonly" title="" class="form-control newfrin" id="immuneName" />
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">注射时间：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="shotTime" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">使用疫苗：</label>
                                    <div class="input-group">
                                    <input value="" title="" id="immune" class="form-control newfrin" />
                                     <!--   <select id="immune" class="form-control">
                                        </select>--> 
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">疫苗批号：</label>
                                    <div class="input-group">
                                    <input value="" title="" id="immuneBatch" class="form-control newfrin" />
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC"><ls>注射量</ls>：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="shotNum" class="form-control newfrin" />
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC"><la>规格</la>：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="size" class="form-control newfrin" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC"><ls>针次数</ls>：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="num" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        注射护士：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="nurse" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">生产厂家：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="factoryName" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                                
                                <div class="form-group newikrd">
                                    <label class="control-label UserC"><ls>有效期</ls>：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="validateDate" class="form-control newfrin" readonly="readonly"/>
                                    </div>
                                </div>
                                
                                 <div class="form-group newikrd">
                                    <label class="control-label UserC">有无异常：</label>
                                    <div class="input-group">
                                    	<select id="errorSeason" class="form-control">
                                    		<option value="">请选择</option>
                                    		<option value="0">无</option>
                                    		<option value="1">有</option>
                                    	</select>
                                    </div>
                                </div>
                                
                                 <div class="form-group newikrd">
                                    <label class="control-label UserC">异常处理：</label>
                                    <div class="input-group">
                                        <input value="" title="" id="errorSolve" class="form-control newfrin" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div class="col-xs-12 coldix">
                                <img id="play" th:src="@{/img/new_pa1.png}" class="layui-upload-img" style="width:  auto;height:10em ;   position: initial; " />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row newrowseg">
                    <div class="form-group newikrd">
                        <div class="input-group newInpa butnewikr" style=" ">
                        	<shiro:hasPermission name="ordinaryInjection:injection">
                            <button type="button" class="btn  btn-info" id="shot">注射</button>
                            </shiro:hasPermission>
                            <button type="button" class="btn  btn-info" id="refresh">刷新</button>
                            <shiro:hasPermission name="ordinaryInjection:cancel">
                            <button type="button" class="btn  btn-info " id="cancelShot">取消注射</button>
                            </shiro:hasPermission>
                            <button type="button" class="btn  btn-info " style="display: none;">打印</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg" id="" style=" ">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row UserA" style=" ">
                <div class="col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" style="padding: 0;">
                            <div class="row form-horizontal">
                                <div class="col-xs-7 colikra" style=" margin-left:-1.9%; margin-top: 0.7em;">
                                    <div class="form-group newformcol">
                                        <label class="control-label col-xs-4" style=" ">浆员信息列表</label>
                                    </div>
                                </div>
                               <!--  <div class="col-xs-3">
                                    <div class="form-group newformcol">
                                        <label class="control-label col-xs-4" style="padding-left:0;padding-right:0">登记时间：</label>
                                        <div class="input-group col-xs-8 date">
     <input id="regTime" type="text" placeholder="开始日期" title="请输入开始日期" value="2017-06-25" class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xs-4" style="margin-top: 0.7em;">
                                    <div class="form-group newformcol">
                                        <label class="control-label col-xs-4" style="padding-left:0;padding-right:0">工作时间：</label>
                                        <div class="input-group col-xs-8 date">
     <input name="startTime" id="startTime" type="text" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1" style="margin-top: 0.7em;">
                                    <div class="form-group newformcol">
                                        <div class="pull-right">
                                            <button type="button" class="btn  btn-info" id="query">查询</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row busr">
               
                <div class="col-md-12 bustrNew">
                    <!--table数据-->
                    <div class="phyegistrS">
                        <p>未注射人员</p>
                        <shiro:hasPermission name="ordinaryInjection:listW">
                        <table class="layui-hide" id="newtest" lay-filter="demo"></table>
                        </shiro:hasPermission>
                    </div>
                    <div class="phyegistrS phytable">
                        <p>已注射人员</p>
                        <shiro:hasPermission name="ordinaryInjection:listY">
                        <table class="layui-hide" id="newtestS" lay-filter="demo"></table>
                        </shiro:hasPermission>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        </div>
    </div>
    <!--jQuery包-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--bootstarp表格插件-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/zoom.js}"></script>
    <!--layer插件包-->
    <script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/immune/injectionmanagement/ordinary_base_shot.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/dateUtil.js}"></script>
    <script th:src="@{/js/imgx.js}"></script> 
	<img src="" alt="" class="bigimg" />
	<div class="mask">
	<img src="" alt="" />
	</div>
</body>

</html>
