<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8" />
    <title>注射信息查询</title>
    <link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/list/log.css}" rel="stylesheet" />
    <style type="text/css">
        .newolod {
            padding-left: 35%;
        }

        .layui-layer-content {
            margin-top: 2.5em;
        }

        .layui-layer-title {
            display: none;
        }

        .pull-center .layui-layer-ico {
            background: initial
        }

        .layui-layer-page .layui-layer-content {
            overflow: hidden!important;
        }

        .layui-layer-dialog .layui-layer-content {
            padding: 0 !important;
        }

        .newrowseg {
            margin-top: 0;
        }
        
    </style>
</head>
<body id="newpray">
    <div class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight weralid" style="">
            <div class="col-xs-12 colx8 colnewo">
                <div class="row newregis" style="border:initial !important">
                    <div class="col-xs-12">
                        <div class="row newregistr" id="search_par">
                          <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">注射时间：</label>
                                         <div class="input-group col-xs-8 date">
                                        <input name="startDate" id="startDate" type="text" placeholder="开始日期" title="请输入开始日期" class="form-control" />
                                        <span class="input-group-addon">至</span>
                                        <input name="endDate" id="endDate" type="text" placeholder="结束日期" title="请输入结束日期" class="form-control" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        献浆卡号：</label>
                                    <div class="input-group">
                                        <input value="" id="providerNo" title="" class="form-control newfrin" />
                                    </div>
                                </div>
                            </div>
                             <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        浆员姓名：</label>
                                    <div class="input-group">
                                        <input value="" id="name" title="" class="form-control newfrin" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC"><ls> 针次数</ls>：</label>
                                    <div class="input-group">
                                    <select name="num" id="num" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">是否注射：</label>
                                    <div class="input-group">
                                        <select name="isShot" id="isShot" class="form-control">
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div> 
                                </div> 
                            </div>
                               <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">免疫类型：</label>
                                    <div class="input-group">
                                        <select name="immuneId" id="immuneId" class="form-control">
                                            <option value="">请选择</option>
                                        </select>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row newrowseg">
                    <div class="form-group newikrd">
                        <div class="input-group newInpa butnewikr" style=" "> 
                            <button type="button" class="btn  btn-info" id="query">查询</button>
                            <button type="button" class="btn  btn-info " id="reset">重置</button>
                            <button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
                            <shiro:hasPermission name="todayInjection:dao">
                            <button type="button" class="btn  btn-info" id="pudaochu">普免打印</button>
                             <button type="button" class="btn  btn-info" id="tedaochu">特免打印</button>
                            </shiro:hasPermission>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg" id="" style=" ">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row UserA" style=" ">
                <div class="col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" style="padding: 0;">
                            <div class="row form-horizontal">
                           <div class="col-xs-7 colikra" style=" margin-left:-1.9%; margin-top: 0.7em;">
                                    <div class="form-group newformcol">
                                        <label class="control-label col-xs-4" style=" ">浆员信息列表</label>
                                    </div>
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row busr">
                <div class="col-md-12 bustrNew">
                    <!--table数据-->
                    <div class="phyegistr">
                    	<shiro:hasPermission name="todayInjection:list">
                        <table class="layui-hide" id="newtestS" lay-filter="demo"></table>
                        </shiro:hasPermission>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--jQuery包-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--bootstarp表格插件-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--layer插件包-->
    <script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>  
    <script th:src="@{/js/immune/injectionmanagement/shot_message_query.js}"></script> 
	<script th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateUtil.js}"></script>
</body>

</html>
