<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>耗材供应商设置——修改</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="styleshe et"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
 
			#newpray .innpuld {
				margin-left: -8%;
			}
		</style>
	</head>

	<body id="newpray">
		<div class="gray-bg " style="    padding-top: 1em;    padding-bottom: 1em;">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<form id="updateSupply">
					<div class="col-xs-12 colx8" style="padding-right: 4em;">
						<div class="row">
							<div class="ibox">
								<div class="ibox-content">

									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    供应商名：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input name="id" th:value="${supply.id}" type="hidden"/>
													<input title="请输入 供应商名称" th:value="${supply.name}" id="name" name="name" class="form-control required" placeholder="请输入 供应商名称" />
												</div>
											</div>
										</div>
									</div>
									
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
													 联系人：<font color="red">*</font>
												</label>
												<div class="col-xs-8 input-group">
												<input title="请输入联系人" th:value="${supply.contacts}" id="contacts" name="contacts" class="form-control required" placeholder="请输入联系人" />
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    联系电话：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input title="请输入联系电话" th:value="${supply.mobile}" id="mobile" name="mobile" class="form-control required" placeholder="请输入联系电话" />
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    联系地址：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input title="请输入联系地址" th:value="${supply.address}" id="address" name="address" class="form-control required" placeholder="请输入联系地址" />
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group newformcol">
								<div class="pull-right">
									<button type="submit" class="btn  btn-info" style=" margin-right: 1em;">确定</button>
									<button type="button" class="btn  btn-info" id="cannel">取消</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<!--  jQuery Validation plugin javascript -->
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>

		<script th:src="@{/js/supplies/config/supply_update.js}"></script>
		</body>
</html>
