<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
		<meta charset="UTF-8"/>
		<title>耗材信息</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<!---->
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<!---->
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head> 
	
<style type="text/css">
	.indegirtion .btn-info{    margin-right: 1em;}
</style>
	<body id="newpray">
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis indegirtion">
						<div class="row newregistr" id="search_par">
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi"><la>名称</la>：</label>
									<div class="input-group inhemog">
								 <input type="text" name="name" id="name" placeholder="输入耗材名称" autocomplete="off" class="layui-input"/>
									</div> 
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi"><la>类别</la>：</label>
									<div class="input-group inhemog">
								<select name="type" id="type" class="form-control">
										<option value="">请选择</option>
										<option value="0">耗材</option>
										<option value="1">质控品</option>
									</select>
									</div> 
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">所属类型：</label>
									<div class="input-group inhemog">
									<select name="typeId" id="typeId" class="form-control">
											<option value="">请选择</option>
									</select>
									</div> 
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">用于模块：</label>
									<div class="input-group inhemog">
									<select name="apply" id="apply" class="form-control">
											<option value="">请选择</option>
											<option value="0">采浆</option>
											<option value="1">化验</option>
											<option value="2">免疫</option>
									</select>
									</div> 
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi"><ls>供应商</ls>：</label>
									<div class="input-group inhemog">
									<select name="supply" id="supply" class="form-control">
											<option value="">请选择</option>
									</select>
									</div> 
								</div>
							</div>
						</div>
						<div class="col-xs-3 input-group newInpa butnewikr"  style=" margin:  1em auto;">
								<button  type="button" class="btn  btn-info padmjg" data-type="reload" id="query">查询</button>
								<button  type="button" id="reset" class="btn  btn-info">重置</button>
								<shiro:hasPermission name="suppliesInfo:add">
								<button  type="button" class="btn  btn-info" id="puituation">添加</button>
								</shiro:hasPermission>
								<button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg" id="" style="">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style="">
				</div>
				<div class="row busr">
					<div class="col-md-12 bustrNew">
						<!--table数据-->
						<div class="phyegistrS" style="width:100%">
						<p>耗材列表
						</p>
						<script type="text/html" id="barDemo">
							<shiro:hasPermission name="suppliesInfo:update">
							<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">修改</a>
							</shiro:hasPermission>
							<shiro:hasPermission name="suppliesInfo:delect">
							<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
							</shiro:hasPermission>
						</script>
						<table class="layui-table" id="rumsers" lay-filter="page" style=""></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<!-- -->
		<script th:src="@{/js/supplies/config/suppliesInfo.js}"></script>
	</body> 
</html>