body{
	padding: 10px;
	/* overflow: hidden; */
	z-index: 9999;
}
.header{
	width: 100%;
	display: flex;
	padding: 15px 0;
	background: #dfdfdf;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.header .img{
	width: 15px;
	margin-left: 20px;
}
.header .img img{
	width: 100%;
}

.header .home{
	font-size: 13px;
	font-weight: bold;
	text-indent: 0.5rem;
	color: #aaaaaa;
}

.content{
	width: 100%;
	margin-top: 10px;
	background: #ffffff;
}
.content .history{
	display: flex;
	padding: 15px 0;
	background: #337ac7;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.content .history .icon{
	width: 20px;
	margin-left: 20px;
}

.content .history .icon img{
	width: 100%;
}


.content .history p{
	font-size: 16px;
	font-weight: bold;
	text-indent: 0.5rem;
	color: #ecf1f8;
}

.content .table{
	padding: 0 20px;
	border-radius: 10px;
	background: white;
    padding-bottom: 80px;

}
.content .table .check{
	padding: 15px 0;
	text-align: right;
}

.content .table .check input{
	width: 200px;
	height: 30px;
	padding:0 5px;
	margin-right: 5px; 
}
.content .table .check select{
	width: 200px;
	height: 30px;
	padding:0 5px;
	margin-right: 5px; 
}
.content .table .check button{
	width: 80px;
	height: 30px;
	color: #ffffff;
	background: #337ac7;
	border: 0;
}



.v-table-htable {
    color: #337ac7;
    font-weight: bold;
}
.v-table-body-cell button{
	background: #337ac7;
	font-size: 12px;
	padding: 0 5px;
    display: inline-block;
    line-height: 27px;
	color: #ffffff;
	border-radius: 5px;
	border: 0;
	
}




.v-table-row{
	background: none!important;
}

.v-table-header-inner{
	background-color: #f3f3f3;z-index: 200;
}
.v-table-views{
	font-size: 13px;
}


.v-modal{
	z-index: -1!important;
	background: red;
}
.el-message-box__wrapper{
	background-color: rgba(255,255,255,0.8)!important;
}

.btn-lgg,.btn-lggg{
	background: #888888;
	display: none;
}

.modal-header{
	background: #3277c1;
	color: #ffffff;
}
.modal-dialog{
	text-align: center;
}

.table-bordered th{
	text-align:center;
	color:#337ac7;
}
.table tbody tr td{
	vertical-align: middle!important;
}

.lock{
	width: 180px;
	height: 68px;
	margin: 0 auto;
	padding: 17px 20px;
	background: #ffffff;
}
.lock div{
	display: inline-block;
	vertical-align: middle;
	
}
.lock div+div{
	font-size: 12px;
	width: 90px;
}
.lock .lock-img{
	width: 36px;
}
.lock .lock-img img{
	width:100%;
}
#clean .modal-dialog{
	margin: 300px auto;
}