<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="renderer" content="webkit" />
		<title>首页</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link th:href="@{/css/list/echarts/bootstrap.min14ed.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<link th:href="@{/css/list/echarts/font-awesome.min93e3.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
		<link th:href="@{/css/list/echarts/home.css}" rel="stylesheet" />
	</head>
	<style type="text/css">
		.wrapper-content {
			padding: 20px 20px 20px 25px;
		} 
		#line_container2 canvas {
			top: -31px !important;
		}
	</style>

	<body>
		<div class="fixed-sidebar full-height-layout gray-bg">

			<div class="wrapper wrapper-content animated fadeInRight">

				<div class="row row-number">
					<div class="col-sm-3">
						<div class="ibox">
							<div class="ibox-content">
								<!--<p>今日预约人数</p>
                            <p class="number">25000</p>-->
								<div class="imxsdiv">
									<div class="imxsleft">
										<img th:src="@{/img/imxs1.png}" />
									</div>
									<div class="imxsright">
										<p>今日建档人数</p>
										<p><label id="record"></label><span>(人)</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="ibox">
							<div class="ibox-content">
								<!--  <p>今日持卡人数</p>
                            <p class="number">24800</p>-->
								<div class="imxsdiv">
									<div class="imxsleft imx2ed">
										<img th:src="@{/img/imxs2.png}" />
									</div>
									<div class="imxsright imx2eds">
										<p>今日登记人数</p>
										<p><label id="register"></label><span>(人)</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="ibox">
							<div class="ibox-content">
								<div class="imxsdiv">
									<div class="imxsleft imx3ed">
										<img th:src="@{/img/imxs3.png}" />
									</div>
									<div class="imxsright imx3eds">
										<p>今日采浆人数</p>
										<p><label id="collection"></label><span>(人)</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="ibox">
							<div class="ibox-content">
								<div class="imxsdiv">
									<div class="imxsleft imx4ed">
										<img th:src="@{/img/imxs4.png}" style="    height: 3.8em;" />
									</div>
									<div class="imxsright imx4eds">
										<p>今日采浆重量</p>
										<p><label id="plasmAmount"></label><span>(g)</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row conrrow borwo">
					<h3>建档人数</h3>
					<div class="col-md-8">
						<div class="ibox ">

							<div class="ibox-content conrlobd">
								<div class="tab_box">
									<div>
										<a href="javascript:;" class="on" onclick="loadToday()">今天</a>
										<a href="javascript:;" onclick="thismonth()" >本月</a>
										<a  href="javascript:;" onclick="thisyear()" >本年</a>
									</div>
									<div>

										<div class="row newregis rowmore">
										<input id="result" type="hidden"/>
											<div class="form-group newikrd" id="newtest">
											</div>
										</div>
									</div>
								</div>
				<div id="line_container1" style="width:100%;height:300px;    margin-top: 4em;">
				<!-- 这里是存放建档人数的echarts -->
				</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox">
							<div class="ibox-content conrlobd">

								<div class="tab_box">
									<p>建档人数统计</p>

								</div>
					<div id="line_container2" style="width:100%;height:300px;    margin-top: 4em;">
						<!-- 建档人数统计 -->
					</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row conrrow borwo">
					<h3>登记人数</h3>
					<div class="col-md-8">
						<div class="ibox ">

							<div class="ibox-content conrlobds">
								<div class="tab_box">
									<div>
										<a href="javascript:;" class="on" onclick="registriesDay()">今天</a>
										<a href="javascript:;" onclick="registriesMonth()">本月</a>
										<a href="javascript:;" onclick="registriesYear()">本年</a>
									</div>
									<div class="row newregis rowmore">
									<input id="registries_row" type="hidden"/>
										<div class="form-group newikrd" id="registries">
										</div>
									</div>
								</div>
				<div id="line_container3" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox">
							<div class="ibox-content conrlobds">

								<div class="tab_box">
									<p>登记人数统计</p>

								</div>
						<div id="line_container4" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
				</div>

				<!--            
           采浆人数-->
				<div class="row conrrow borwo">
					<h3>采浆人数</h3>
					<div class="col-md-8">
						<div class="ibox ">

							<div class="ibox-content conrlobdsa">
								<div class="tab_box">
									<div>
										<a href="javascript:;" class="on" onclick="collectionDay()">今天</a>
										<a href="javascript:;" onclick="collectionMonth()">本月</a>
										<a href="javascript:;" onclick="collectionYear()">本年</a>
									</div>
									<div class="row newregis rowmore">
										<input id="collection_row" type="hidden"/>
										<div class="form-group newikrd" id="collectionC">
										</div>
									</div>
								</div>
				<div id="line_container5" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox">
							<div class="ibox-content conrlobdsa">

								<div class="tab_box">
									<p>采浆人数统计</p>

								</div>
				<div id="line_container6" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
				</div>
				<!--采浆重量-->
				<div class="row conrrow borwo">
					<h3>采浆重量</h3>
					<div class="col-md-8">
						<div class="ibox ">

							<div class="ibox-content conrlobdsb">
								<div class="tab_box">
									<div>
										<a href="javascript:;" class="on" onclick="plasmAmountDay()">今天</a>
										<a href="javascript:;" onclick="plasmAmountMonth()">本月</a>
										<a href="javascript:;" onclick="plasmAmountYear()">本年</a>
									</div>
									<div class="row newregis rowmore">
									<input id="plasmAmount_row" type="hidden"/>
										<div class="form-group newikrd" id="plasmAmountC">
										
										</div>
									</div>
								</div>
					<div id="line_container10" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox">
							<div class="ibox-content conrlobdsb">

								<div class="tab_box">
									<p>采浆重量统计</p>

								</div>
				<div id="line_container11" style="width:100%;height:300px;    margin-top: 4em;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/css/list/echarts/echarts.min.js}"></script>
		<script th:src="@{/css/list/echarts/content.min.js}"></script>
		<script th:src="@{/css/list/echarts/home.js}"></script> 
	</body>

</html>