<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="UTF-8"/>
		<title>普免登记</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
						.newolod {padding-left: 35%;}
						.layui-layer-content{margin-top: 2.5em;}
						.layui-layer-title{display: none;}
						.pull-center .layui-layer-ico {background:initial}
						.layui-layer-page .layui-layer-content{overflow: hidden!important;}
						.newrowseg{margin-top: 0;}
						.layui-layer-dialog .layui-layer-content{padding: 0 !important;}
	    td:nth-child(8) {
	        display: none;
	    }
	
	    th:nth-child(8) {
	        display: none;
	    }
	    td:nth-child(9) {
	        display: none;
	    }
	
	    th:nth-child(9) {
	        display: none;
	    }
	    td:nth-child(10) {
	        display: none;
	    }
	
	    th:nth-child(10) {
	        display: none;
	    }
	    td:nth-child(11) {
	        display: none;
	    }
	
	    th:nth-child(11) {
	        display: none;
	    }
	    td:nth-child(12) {
	        display: none;
	    }
	
	    th:nth-child(12) {
	        display: none;
	    }
	    td:nth-child(13) {
	        display: none;
	    }
	
	    th:nth-child(13) {
	        display: none;
	    }
		</style>
	</head>
	<body id="newpray">
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
			<!--基本信息及验证-->
			<div class="col-xs-12 colx8 colnewo" >
				<div class="row newregis" style="border:initial !important">
					<div class="col-xs-10">
						
						<div class="row newregistr">
							<div class="col-xs-4 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>姓名</la>：</label>
									<div class="input-group">
										<input value="" id="name" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>住址</la>：</label>
									<div class="input-group">
										<input value="" id="addressx" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><ls style="letter-spacing: 4px;  margin-right: -3px;"> IC卡号</ls>：</label>
									<div class="input-group">
										<input value="" id="icNumber" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
							 <div class="form-group newikrd">
									<label class="control-label UserC">普免编号：</label>
									<div class="input-group">
										<input id="id" value="" type="hidden"/>
										<input value="" id="typeCode" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>性别</la>：</label>
									<div class="input-group">
										<input value="" id="sex" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">献浆卡号：</label>
									<div class="input-group">
									 <input id="register" type="hidden" />
									 <input value="" id="providerNo" readonly="readonly" title="" class="form-control newfrin"/>
								 </div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><ls>登记号</ls>：</label>
									<div class="input-group">
									 <input value="" id="registriesNo" readonly="readonly" title="" class="form-control newfrin"/>
								 </div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group newikrd">
									<label class="control-label UserC">出生日期：</label>
										<div class="input-group">
										<input value="" id="birthday" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC"><la>类型</la>：</label>
									<div class="input-group">
										<input value="" id="type" readonly="readonly" title="" class="form-control newfrin"/>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">免疫名称：</label>
									<div class="input-group">
										<select name="immuneId" id="immuneId" class="form-control">
											<option value="">请选择</option>
									</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-2" style="border-left: 1px solid #e7e7e7;">
						<div class="row">
									<div class="col-xs-12 coldix">
										<img id="play" th:src="@{/img/new_pa2.png}" class="layui-upload-img" style="width: 9em;height: auto;    position: initial; "/>
									</div>
						</div>
					</div>
				</div>
				<div class="row newrowseg">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr" style="margin-left: 32%;">
							<input id="num" type="hidden"/>
							<shiro:hasPermission name="ordinaryRegister:register">
							<button type="button" class="btn  btn-info" id="dengji" onclick="skufansp()">登记</button>
							</shiro:hasPermission>
							<button type="button" class="btn  btn-info" id="display">显示所有浆员</button>
							<button type="button" class="btn  btn-info" id="Refresh">刷新</button>
							<shiro:hasPermission name="puregister:translate">
							<button type="button" class="btn  btn-info" id="cancel" onclick="skufanspas()">取消登记</button> 
							</shiro:hasPermission>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-bg" id="" style=" ">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA" style=" ">
				<div class="col-xs-12">
					<div class="ibox">
						<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal">
								<div class="col-xs-7 colikra" style=" margin-left:-1.9%; margin-top: 0.7em;">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4" >浆员信息列表</label>
									</div>
								</div>
								<div class="col-xs-4" style=" margin-top: 0.8rem;">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4">工作时间：</label>
										<div class="input-group col-xs-8 date">
											<input name="startTime" id="startTime" type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-xs-1" style=" margin-top: 0.8rem;">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="button" id="query" class="btn  btn-info">查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row busr">
			 
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<div class="phyegistrS">
						<p>今日所有未登记普免浆员</p>
						<shiro:hasPermission name="ordinaryRegister:listW">
						<table class="layui-hide" id="registerNo" lay-filter="demo"></table>
						</shiro:hasPermission>
					</div>
					<div class="phyegistrS phytable">
						<p>今日所有已登记普免浆员</p>
						<shiro:hasPermission name="ordinaryRegister:listY">
						<table class="layui-hide" id="registerYes" lay-filter="demo"></table>
						</shiro:hasPermission>
					</div>
				</div>
			</div>
		</div>
		<div class="">
		</div>
	</div>
	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/zoom.js}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/immune/register/puregister.js}"></script>
	<script th:src="@{/js/imgx.js}"></script> 
	<img src="" alt="" class="bigimg" />
	<div class="mask">
	<img src="" alt="" />
	</div>
</body>
</html>
