<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>特免疫基本信息查询</title>
    <link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/list/log.css}" rel="stylesheet"/>
    <style type="text/css">
        .newolod {
            padding-left: 35%;
        }

        .layui-layer-content {
            margin-top: 2.5em;
        }

        .layui-layer-title {
            display: none;
        }

        .pull-center .layui-layer-ico {
            background: initial
        }

        .layui-layer-page .layui-layer-content {
            overflow: hidden!important;
        }

        .layui-layer-dialog .layui-layer-content {
            padding: 0 !important;
        }

        .newrowseg {
            margin-top: 0;
        }
        .wrapper .newikrd .input-group {
    width: 67%;
}
    </style>
</head>
<body id="newpray">
    <div class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight weralid" style="">
            <div class="col-xs-12 colx8 colnewo" id="search_par">
                <div class="row newregis" style="border:initial !important">
                    <div class="col-xs-12">
                        <div class="row newregistr">
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                      免疫编号：</label>
                                    <div class="input-group">
                                        <input value="" id="ordinaryNo" title="" class="form-control newfrin" />
                                    </div>
                                </div>
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                       免疫类型：</label>
                                    <div class="input-group">
                                       <select name="immuneId" id="immuneId" class="form-control">
											<option value="">请选择</option>
									</select>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">
                                        献浆卡号：</label>
                                    <div class="input-group">
                                        <input value="" id="providerNo" title="" class="form-control newfrin" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">特免基础针：</label>
                                    <div class="input-group">
                                        <input value="" id="pcount" title="" class="form-control newfrin" />
                                    </div>
                                </div> 
                            </div>
                            <div class="col-xs-3 colxsgray">
                                <div class="form-group newikrd">
                                    <label class="control-label UserC">特免加强针：</label>
                                    <div class="input-group">
                                        <input value="" id="tcount" title="" class="form-control newfrin" />
                                    </div>
                                </div> 
                            </div>
							<div class="col-xs-3 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">
									<la>姓名</la>：</label>
								<div class="input-group">
									<input value="" id="name" title="" class="form-control newfrin" />
								</div>
							</div>
							 
							</div>
                        </div>
                    </div> 
                </div>
                <div class="row newrowseg">
                    <div class="form-group newikrd">
                        <div class="input-group newInpa butnewikr" style=" ">
                            <button type="button" class="btn  btn-info" id="query">查询</button>
                            <button type="button" class="btn  btn-info" id="btn-reset">重置按钮</button>
                            <button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
                           <!--  <button type="button" class="btn  btn-info ">导出EXCEL</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gray-bg" id="" style=" ">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row UserA" style=" ">
                <div class="col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" style="padding: 0;">
                            <div class="row form-horizontal">
                           <div class="col-xs-7 colikra" style=" margin-left:-1.9%; margin-top: 0.7em;">
                                    <div class="form-group newformcol">
                                        <label class="control-label col-xs-4" style=" ">浆员信息列表</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row busr">
                <div class="col-md-12 bustrNew">
                    <!--table数据-->
                    <div class="phyegistr">
                        <table class="layui-hide" id="teregisterInfo" lay-filter="demo"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/immune/register/teregisterInfo.js}"></script>
</body>

</html>
