<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>保存记录打印2</title>
		<link rel="stylesheet" href="../../../../layui-master/src/css/layui.css"/>
		<link href="../../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../css/style.min862f.css?v=4.1.0" rel="stylesheet"/>
		<link href="../../../../css/common.css" rel="stylesheet"/>
		<link href="../../../../css/list/log.css" rel="stylesheet"/>
	</head>
	<style>
		#newpray .dayina {
			width: 100%;
			margin-bottom: 0;
		}
		#newpray .gray-bg .colx8 .inhenagoi {
			text-align: left;
			color: #b9b9b9;
		}
		.colxsgray{
			float: left;
			width: 27%;
			margin-left: 3em;
			padding:0
		}
		.busr table tr th {
		padding:1em 0;
		width: 14em;
		font-size: 12px;
}
		.busr table tr td {
		    padding:1em 0;
		    width: 14em;
		    font-size: 12px;
		}
	</style>
	<script language="javascript">
		function printdiv(printpage) {
			var newstr = printpage.innerHTML;
			var oldstr = document.body.innerHTML;
			document.body.innerHTML = newstr;
			window.print();
			document.body.innerHTML = oldstr;
			return false;
		}
		window.onload = function(){
			var bt = document.getElementById("bt");
			var div_print = document.getElementById("div_print");
			bt.onclick = function() {
				printdiv(div_print);
			}
		}
	</script>
	<body id="newpray">
  <button type="button" class="btn btn-success" name="print" id="bt">点击打印</button>
		<div class="gray-bg dayina" id="div_print">
			<div class="dayindiv">
				<p>HBsAg</p>
			</div>
			<div class="gray-bg">
				<div class="wrapper wrapper-content animated fadeInRight" style="width: 100%;    margin: 0 auto;">
					<div class="row newregis indegirtion">
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">献血将者卡号：</label>
								<label class="control-label UserC inhenagoi">52884655852</label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  "><la>姓名</la>：</label>
								<label class="control-label UserC inhenagoi">张三</label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  "><la>血型</la>：</label>
								<label class="control-label UserC inhenagoi">A</label>
							</div>
						</div>
					</div>
					<div class="row busr" id="bustable">
					</div>
				</div>
			</div>
		</div> 
			<script src="../../../../js/jquery.js"></script>
		<script src="../../../../js/business/inspection/elisa/bacdayin.js"></script> 
	</body>
</html>
