<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="UTF-8"/>
		<title>耗材配置_修改</title>
<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/icheck-bootstrap.css}"/>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
		<style type="text/css">
			.newolod {padding-left: 35%;}
			.wrapper .newikrd .inhemog {width: 74% !important;}
			#newpray .gray-bg .colx8 .UserC {width: auto !important;}
			.colnewo .indegirtion{margin-left: 0px;}
			#newpray{background: #FFF}
			.wrapper .newikrd .UserC ls {
    letter-spacing: 3px;
    margin-right: -1px;
}

		</style>
	</head>
	<body id="newpray">
		<div>
			<div class="gray-bg" style="    padding-top: 2em;">
				<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
					<div class="col-xs-12 colx8 colnewo">
						<div class="row indegirtion">
						<div class="col-xs-8 colxsgray">
					 
						<table class="layui-table" id="jiemei" lay-filter="page" style=" MARGIN-TOP: -2EM;"></table>
						</div>
								<div class="col-xs-4 colxsgray" style="float:right">
									<input type="hidden" id= "stockId" name="stockId"/>
									<div class="form-group newikrd">
										<label class="control-label UserC ">检测方法：</label>
										<div class="input-group inhemog">
											<select class="form-control" id="testingMethodid" name="testingMethodid" tip="请选择检测方法">
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC ">检测项目：</label>
										<div class="input-group inhemog">
											<select name="projectName" id="projectName"  class="form-control not" >
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
									<label class="control-label UserC "><la>名称</la>：</label>
										<div class="input-group inhemog">
										 	<input id="siName" class="form-control newfrin" readonly="readonly"/>
										</div>
									</div>
									 <div class="form-group newikrd">
										<label class="control-label UserC "><la>规格</la>：</label>
										<div class="input-group inhemog"> 
											<input id="standard" class="form-control newfrin" readonly="readonly"/>
										</div>
									</div>
									
									<div class="form-group newikrd">
									 <label class="control-label UserC "><la>批号</la>：</label>
									 <div class="input-group inhemog">
										<input id="batchNumber" class="form-control newfrin" readonly="readonly"/>
									 </div>
								 </div>


								 <div class="form-group newikrd">
									<label class="control-label UserC ">开始日期：</label>
									<div class="input-group inhemog">
										<input id="startTime" class="form-control newfrin" readonly="readonly"/>
									</div>
								</div>
 								<div class="form-group newikrd">
									<label class="control-label UserC ">结束日期：</label>
									<div class="input-group inhemog">
									<input id="endTime" class="form-control newfrin" readonly="readonly"/>
									</div>
								</div>

								<div class="form-group newikrd">
								 <label class="control-label UserC ">截止日期：</label>
								 <div class="input-group inhemog">
									<input id="expiryTime" class="form-control newfrin" readonly="readonly"/>
								 </div>
							 </div>

							 <div class="form-group newikrd">
								<label class="control-label UserC ">厂家名称：</label>
								<div class="input-group inhemog">
								<input  class="form-control newfrin" id="ssName"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<div class="input-group newInpa butnewikr">
								<shiro:hasPermission name="etsupp:edit">
									<button type="button" class="btn  btn-info" id="" style="width: 100%;" onclick="saveQc();">确定</button>
									</shiro:hasPermission>
					 	</div>
							</div>
								</div>
						</div>
						<div class="row newrowseg">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
			<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<!--bootstarp表格插件-->
	<script  th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<!--mbb酶标板JS-->
	<script th:src="@{/js/business/elisa/elisahao_add.js}"></script>
	</body>
</html>
