<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>酶标仪基础参数配置</title>
		<link rel="stylesheet" href="../../../../layui-master/src/css/layui.css">
		<!--bootstarp-->
		<link href="../../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../../css/common.css" rel="stylesheet">
		<link rel="stylesheet" href="../../../../css/icheck-bootstrap.css">
		<!--新献浆员登记css-->
		<link href="../../../../css/list/log.css" rel="stylesheet">
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
		</style>
	</head>

	<body id="newpray">
		<div>
			<div class="gray-bg ">
				<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
					<div class="col-xs-12 colx8 colnewo">
						<div class="row newregis indegirtion">
							<p class="grayP">
								<label class="grayLa">通信设置</label></p>
							<div class="row newregistr">
								<div class="col-xs-6 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC "><ls>波特率</ls>：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC ">仪器代号 ：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>

									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC ">通信端口 ：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>

									</div>
								</div>
								<div class="col-xs-6 colxsgray">
									<div class="form-group newikrd">
								<label class="control-label UserC "><ls>停止位</ls>：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>

									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC "><ls>数据位</ls>：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>

									</div>
									<div class="form-group newikrd">
									<label class="control-label UserC "><ls>效验位</ls>：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis indegirtion">
						<p class="grayP">
							<label class="grayLa ">酶标板数据</label></p>
						<div class="row newregistr">
							<div class="col-xs-6 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 1：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 2：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />

									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 3：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />

									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 4：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div>
							</div>
							<div class="col-xs-6 colxsgray">
								<div class="form-group newikrd">
								<label class="control-label UserC">滤光片 5：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 6：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 7：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div>

								<div class="form-group newikrd">
									<label class="control-label UserC">滤光片 8：</label>
									<div class="input-group inhemog">
										<input value=" " title="" class="form-control newfrin" />
									</div>
								</div> 
							</div>
						</div> 
					</div>
					<div class="row newrowseg">
						<div class="form-group newikrd">
							<div class="input-group newInpa butnewikr">
								<button type="button" class="btn  btn-info" id=" ">保存</button>
								<button type="button" class="btn  btn-info" id=" ">取消</button>
								<button type="button" class="btn  btn-info" id=" ">默认</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script src="../../../../js/jquery.min.js"></script>
		<!--bootstarp表格插件-->
		<script src="../../../../js/bootstrap.min.js?v=3.3.6"></script>
		<!--layer插件包-->
		<script src="../../../../layui-master/src/layui.js" charset="utf-8"></script>

	</body>

</html>