* {
	margin: 0;
	padding: 0;
}
#Imgrod{
    float: left;
    /* margin-top: 21rem; */
    display: block;
    /* margin-left: 19rem; */
    position: absolute;
    top: 36%;
    left: 37%;
    width: 26%;
    height: 27%;
}
#Imgrod p{
    font-size: 16px;
    line-height: 1rem;
    text-align: center;
    color: #FFF;
}
#Imgrod .clasImgrod{
    border: 1px  solid #bdbdbd;
    height: 100%;
    width: 100%;
    float: left;
    border-radius: 0.5rem;
    background: white;
}
.container {
	float: left;
	position: relative;
	width: 682px;
	height: 713px;
	margin: 2rem 0REM 2rem 2rem;
	/* border: 1px solid #F00; */
	background: url(../img/shig2.png) no-repeat 0.4rem 3.85rem;
	background-size: 682px 682px;
}
.container div{cursor:Pointer;}
.box {
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50px;
	text-align: center;
	font-size: 12px;
	/*
	background: #000;*/
	background: url(../img/shig1.png) no-repeat;
	background-size: 28px;
	line-height: 28px;
	color: #ced1d4;
	text-align: center;
}
#newpray{
    float: left;
    /* width: 1831px; */
    height: 100%;
    overflow-x: scroll;
    background: #f8fafb;
    }
.dot {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #F00;
}

.boxs {
	position: absolute;
	width: 28px;
	height: 28px;
	font-size: 12px;
	border-radius: 50px;
	text-align: center;
	background: #000;
	background: url(../img/shig1.png) no-repeat;
	background-size: 28px;
	line-height: 28px;
	color: #ced1d4;
	text-align: center;
}

.boxse {
	position: absolute;
	width: 28px;
	height: 28px;
	font-size: 12px;
	border-radius: 50px;
	text-align: center;
	background: url(../img/shig1.png) no-repeat;
	background-size: 28px;
	line-height: 28px;
	color: #ced1d4;
	text-align: center;
}
.bisloar{margin: 11rem 0REM;border: 1px solid #d6d6d6;float: left;}
.bisloar p{width: 74px;background-color:#FFFFFF;position:relative;top: -15px;left:30px;color: #868686;font-size: 1.7rem;text-align: center;padding: 0;margin: 0;}
.first {   -webkit-box-shadow:0 0 15px #FFF;  
  -moz-box-shadow:0 0 15px #FFF;  
  box-shadow:0 0 15px #FFF;   }