<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
		<meta charset="UTF-8"/>
		<title>耗材报损</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head>
<style type="text/css">
	.indegirtion .btn-info{ margin-right: 1em;}
</style> 
	<body id="newpray">
	<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid">
				<div class="col-xs-12 colx8 inforcol">
					<div class="row rowinfor" id="search_par">
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">查询日期：</label>
								<div class="input-group">
									<div class="col-xs-5 advancol">
									<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="" class="form-control" />
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input name="endTime" id="endTime" type="text" placeholder="结束日期" title="请输入结束日期" value="" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">报损单号：</label>
								<div class="input-group">
									<input value="" id="damageOrder" name="damageOrder" title="" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">审批状态：</label>
								<div class="input-group">
									<select name="status" id="status" class="form-control">
										<option value="">请选择</option>
										<option value="0">待审批</option>
										<option value="1">已审批</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group newikrd demoTable">
							<div class="input-group newInpa butnewikr" style=" margin:  1em auto;">
								<button type="button" id="query" class="btn  btn-info">查询</button>
								<button type="button" id="btn-reset" class="btn  btn-info">重置</button>
								<button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
								<shiro:hasPermission name="loss:update">
								<button type="button" class="btn  btn-info hcj" data-type="update">订单修改</button>
								</shiro:hasPermission>
								<!-- <button type="button" class="btn  btn-info lgk" data-type="delect" style="background: #e20a0a;  border: 0px solid;">订单删除</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row busr">
					<div class="row busr_sxid sxideNew" style=" margin-top: 0.5em;">
					 
					</div>
					<div class="col-md-12 bustrNew">
						<!--table数据-->
						<div class="phyegistrS" style="width:100%">
							<p>报损订单列表
								<shiro:hasPermission name="loss:add">
						 		<button  type="button" id="add" class="btn  btn-info padmjg" data-type="reload">耗材报损</button>
						 		</shiro:hasPermission>
						 	</p>
							<script type="text/html" id="barDemohao">
								<shiro:hasPermission name="loss:details">
								<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
								</shiro:hasPermission>
							</script>
							<table class="layui-hide" id="lossPage" lay-filter="demo"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/supplies/loss/loss.js}"></script>
		 
	</body>
</html>
