<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Examples</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<link th:href="@{/css/global.css}" rel="stylesheet"/>
	<link th:href="@{/css/role.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/vue-easytable.css}"/>
	<link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css"/>
	<script th:src="@{/js/vue.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/echarts/echarts.js}"></script>
	<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/js/vue-easytable.js}"></script>
</head>

<body>
	<div class="header">
		<div class="img">
			<img th:src="@{/img/home.png}" alt=""/>
		</div>
		<div class="home">主页＞角色管理</div>
	</div>
	<div class="content">
		<div class="history">
			<div class="icon">
				<img th:src="@{/img/role.png}" alt=""/>
			</div>
			<p>角色列表</p>
		</div>
		<div class="table">
			<div class="check">
				<div class="btn">
					<button type="">新增</button>
				</div>
				<span style="font-size: 12px;color: #337ac7; font-weight: bold;    line-height: 30px;">角色管理：</span>
				<input type="text" name="" value="" placeholder="请输入名称"/>
				<button type="">查询</button>
			</div>
			<div id="app">
				<div>
					<v-table
						:multiple-sort="false" :min-height="350" even-bg-color="#f2f2f2"
						:title-rows="tableConfig.titleRows" :columns="tableConfig.columns"
						:table-data="tableConfig.tableData" row-hover-color="#eee" row-click-color="#edf7ff"
						:paging-index="(pageIndex-1)*pageSize" v-on:on-custom-comp="customCompFunc"></v-table>

					<div class="mt20 mb20 bold"></div>
					<v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :total="total"
						:page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"
						style="padding: 20px 100px 20px 0;float: right;"></v-pagination>
				</div>
			</div>
		</div>
	</div>
	<!-- 公共JS -->
	<script th:src="@{/js/common/utils.js}"></script>
	<script th:src="@{/js/admin/role-table.js}"></script>
</body>

</html>
