<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>库房管理</title>
		<link rel="shortcut icon" href="favicon.ico"/>
		<link href="../../../css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet"/>
		<link href="../../../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
		<link href="../../../css/style.min862f.css" rel="stylesheet"/>
		<link href="../../../css/list/index.css" rel="stylesheet"/>
		<link href="../../../css/list/Index_home.css" rel="stylesheet"/>
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg">
		<div id="wrapper" class="wrabusr">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="arabusimg">
					<img src="../../../img/Quud_03.png" />
					<label for="">库房管理</label>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="">
							<a>
								<i class="fa fa-pie-chart"></i>
								<span class="nav-label">库房信息</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<!--<li>
									<a class="J_menuItem" href="kufangxi.htm" data-index="0">耗材信息</a>
								</li>-->
								<li>
									<a class="J_menuItem" th:href="@{/suppliesInfo/suppliesInfoPage}">
										<span class="nav-label">耗材信息</span>
									</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/suppliesSupply/supplyPage}" data-index="1">耗材供应商设置</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/depot/depot}" data-index="2">
										<span class="nav-label">仓库设置</span>
									</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/unit/unit}" data-index="3">
										<span class="nav-label">单位设置</span>
									</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/type/typePage}" data-index="3">
										<span class="nav-label">类型设置</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-bar-chart"></i>
								<span class="nav-label">耗材订购</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/order/orderPage}" data-index="7">订购</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/order/examinePage}" data-index="8">审批</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-check-square-o"></i> <span class="nav-label">耗材入库</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/orderForm/quarantine}" data-index="9">
										<span class="nav-label">检验</span>
									</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/suppliesStock/intoStock}" data-index="10">
										<span class="nav-label">入库</span>
									</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/suppliesStock/policePage}" data-index="27">库存报警</a> 
								</li> 
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-television"></i> <span class="nav-label">耗材使用</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse"> 
								<li>
									<a class="J_menuItem" th:href="@{/template/templatePage}" data-index="24">耗材模板</a>
								</li>
								<li> 
									<a class="J_menuItem" th:href="@{/outstock/outstockPage}" data-index="25">耗材出库</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/imexport/usedQueryPage}" data-index="25">耗材出入库记录</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">耗材退还</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/return/returnPage}"  data-index="11">耗材退还</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/return/queryReturn}" data-index="11">退还单审核查询</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">耗材报损</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/loss/lossPage}" data-index="12">耗材报损</a>
								</li> 
								<li>
									<a class="J_menuItem" th:href="@{/loss/queryLoss}" data-index="12">报损单审核查询</a>
								</li>
							</ul>
						</li> 
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">耗材摧毁</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/destroy/destroyPage}" data-index="13">耗材销毁</a>
								</li>
								<li>
									<a class="J_menuItem" th:href="@{/destroy/queryDestroy}" data-index="13">销毁单审核查询</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#"><i class="fa fa-edit"></i><span class="nav-label">库存盘点</span><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level collapse">
								<li>
									<a class="J_menuItem" th:href="@{/suppliesStock/pointPage}" data-index="13">盘点</a>
								</li>
							</ul>
						</li>
					</ul> 
				</div>
			</nav>
			<!--左侧导航结束-->
			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row content-tabs">
				<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
					<nav class="page-tabs J_menuTabs">
						<div class="page-tabs-content">
							<a href="javascript:;" class="active J_menuTab" data-id="kufangxi.html">耗材信息</a>
						</div>
					</nav>
					<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
					<div class="btn-group roll-nav roll-right">
						<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                    	</button>
						<ul role="menu" class="dropdown-menu dropdown-menu-right">
							<li class="J_tabShowActive">
								<a>定位当前选项卡</a>
							</li>
							<li class="divider"></li>
							<li class="J_tabCloseOther">
								<a>关闭其他选项卡</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row J_mainContent" id="content-main">
					<iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="../suppliesInfo/suppliesInfoPage"  frameborder="0" data-id="" seamless=""></iframe>
				</div>
			</div>
			<!--右侧部分结束-->
		</div>
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
		<script src="../../../layui-master/src/layer.min.js"></script>
		<script src="../../../js/hplus.min.js"></script>
		<script src="../../../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="../../../js/plugins/metisMenu/jquery.metisMenu.js"></script>
		<script src="../../../js/contabs.min.js"></script>
	</body>

</html>
