<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting value="true" name="callSettersOnNulls" />
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="DataRow" type="com.plasma.common.DataRow" />
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!-- 说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml -->
	<mappers>
		<mapper resource="com/plasma/buss/user/dao/mapper/UserDaoMapper.xml" />
		<mapper resource="com/plasma/buss/plasma/dao/mapper/ProviderBaseinfoDaoMapper.xml" />
		<mapper resource="com/plasma/buss/site/dao/mapper/PlasmaSiteDaoMapper.xml" />
		<mapper resource="com/plasma/buss/company/dao/mapper/PlasmaCompanyDaoMapper.xml" />
		<mapper resource="com/plasma/buss/plasma/dao/mapper/ProviderBaseinfoDaoTemp.xml"/>
		<mapper resource="com/plasma/buss/assay/dao/mapper/NewCardDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/check/dao/mapper/CheckDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/collection/dao/mapper/PlasmaCollectionDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/lock/dao/mapper/PasswordLockDaoMapper.xml"/>
		
		<mapper resource="com/plasma/buss/role/dao/mapper/MenuDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/role/dao/mapper/RoleMenuDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/role/dao/mapper/UserRoleDaoMapper.xml"/>
		<mapper resource="com/plasma/buss/home/dao/mapper/HomeDaoMapper.xml"/>
	</mappers>

</configuration> 