<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
<title>采浆机型</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/usera.css}" rel="stylesheet" />
<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
</head>
<style type="text/css">
.indegirtion .btn-info {
	margin-right: 1em;
}
</style>
<body id="newpray">
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight weralid"
			style="">
			<!--基本信息及验证-->
			<div class="col-xs-12 colx8 colnewo">
				<div class="row newregis indegirtion">
					<div class="row newregistr" id="search_par">
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi">机型名称：</label>
								<div class="input-group inhemog">
									<input type="text" name="keyword" id="keyword"
										placeholder="输入关键字" autocomplete="off" class="layui-input" />
								</div>
							</div>
						</div>

						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>采室</la>：</label>
								<div class="input-group inhemog">
									<select title="请选择采室" id="roomId" name="roomId"
										class="form-control required">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-xs-4 input-group newInpa butnewikr" style="">
							<button id="btn-reset" type="button" class="btn  btn-info ">重置</button>
							<button id="searchBtn" type="button" class="btn  btn-info padmjg"
								data-type="reload">查询</button>
							<shiro:hasPermission name="plasmType:add">
							<button id="depotAdd" type="button" class="btn  btn-info ">添加</button>
							</shiro:hasPermission>
						</div>
						<div class="col-xs-5 colxsgray"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-bg" id="" style="">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA" style=""></div>
			<div class="row busr">
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<script type="text/html" id="barDemo">
							<shiro:hasPermission name="plasmType:update">
							<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">修改</a>
							</shiro:hasPermission>
							<shiro:hasPermission name="plasmType:del">
							<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
							</shiro:hasPermission>
						</script>
					<table class="layui-table" id="rumsers" lay-filter="page" style=""></table>
				</div>
			</div>
		</div>
	</div>

	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.webcam.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/dateUtil.js}"></script>
	<!-- 采浆机号设置JS -->
	<script th:src="@{/js/collectionConfig/plasmType.js}"></script>

</body>
</html>
