.row-number .ibox-content{
  height: 120px;
}
.number{
  text-align: right;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 0;
}
.blood_amount{
  width:100%;
  height:100px;
  padding: 0 20px;
}
.line_chart_box{
  background: #fff;
}
.blood_amount{
  background: #fff;
}
.blood_amount>div{
  width: 50%;
  float: left;

}
#weather{
  width:100%;
  height:130px;
  padding: 10px 20px;
  background: url("../img/tianqi.png") no-repeat;
  background-size: 100% 100%;
  color: #FFF;
  margin-top: 20px;
}

#weather .citytq{
  padding-left: 24px;
  background: url("../img/dingwei.png") no-repeat;
  background-size: 18px;
}
#weather .situation{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
#weather  .situation img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#weather .wind{
  text-align: center;
}
.tab_box{
    background: #f3f3f4;
    float: left;
    width: 100%;
}
.tab_box a{
  border-right: 1px solid #c5c5c5;
  float: left;
  border-bottom: 1px solid #c5c5c5;
  display: inline-block;
  width: 61px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  margin:  0;
  padding: 0;
  background: #f8f8f8;
}
.tab_box a.on{
  color: #666;
  background: #FFF;
  border-bottom: .0px solid #c5c5c5;
}
.title{
  line-height: 40px;
}

.rate{
  line-height: 40px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background: #23c6c8;
  color: #fff;
}
.dataTables-example thead tr th,
.dataTables-example tbody tr td{
  white-space:nowrap;
  text-align: center;
}
.ibox-content{
  border: 0;
}


.gray-bg{background:#f3f3f4;overflow:  auto;height: 100%;}
	.imxsleft{    float: left;
    background: #36a8f0;
    padding: 1em;
    border-radius: 5em;}
  
	.imxsleft img{    width: 4em;}
	.imxsright{    float: left;
    font-size: 14px;
    margin-top: 1em;
    margin-left: 1em;
}
	.imxsright p{    padding: 0;
    margin: 0;}
	.imxsright p label{     font-size: 1.7em;
    color: #36a8f0;}
    	.imxsright p span{   font-size: 0.2em;
    color: #36a8f0;
    margin-left: 1em;}
	.imxsdiv{    margin: 0 auto;    margin-top: 0.5em;
    display: block;
    width: fit-content;}
    
      .imx2ed{background: #31e0d5;} 
      .imxsdiv .imx2eds p label{color: #31e0d5;}
      .imxsdiv .imx2eds p span{color: #31e0d5;}
      
        .imx3ed{background: #fddd04;} 
      .imxsdiv .imx3eds p label{color: #fddd04;}
      .imxsdiv .imx3eds p span{color: #fddd04;}
      
          .imx4ed{background: #f5736e;} 
      .imxsdiv .imx4eds p label{color: #f5736e;}
      .imxsdiv .imx4eds p span{color: #f5736e;}

.conrrow{margin: 0;}
.conrlobd .tab_box p{
    color: #36a8f0;
    text-align:  center;
    font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.borwo{}
.borwo h3{
    border-left: 4px solid #ff4324;
    padding-left: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.3em;
}
      .conrlobd{
    padding-top: 0;
    border-top: 4px solid #36a8f0;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
.conrlobd .rowmore{
    float: right;
}
.conrlobd .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobd .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobd .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobd .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #36a8f0;
}




      .conrlobds{
    padding-top: 0;
    border-top: 4px solid #31e0d5;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
    .conrlobds .tab_box p{
    color: #31e0d5;
    text-align:  center;
    font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
        
}
.conrlobds .rowmore{
    float: right;
}
.conrlobds .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobds .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobds .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobds .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #31e0d5;
}




      .conrlobdsa{
    padding-top: 0;
    border-top: 4px solid #ffe00d;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
        .conrlobdsa .tab_box p{
    color: #ffe00d;
    text-align:  center;
  font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.conrlobdsa .rowmore{
    float: right;
}
.conrlobdsa .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobdsa .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobdsa .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobdsa .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #ffe00d;
    border: 1px solid #ffe00d;
}



      .conrlobdsb{
    padding-top: 0;
    border-top: 4px solid #f5736e;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
        .conrlobdsb .tab_box p{
    color: #f5736e;
    text-align:  center;
  font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.conrlobdsb .rowmore{
    float: right;
}
.conrlobdsb .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobdsb .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobdsb .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
      border: 1px solid #dedede;
  height: 120px;
}
.number{
  text-align: right;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 0;
}
.blood_amount{
  width:100%;
  height:100px;
  padding: 0 20px;
}
.line_chart_box{
  background: #fff;
}
.blood_amount{
  background: #fff;
}
.blood_amount>div{
  width: 50%;
  float: left;

}
#weather{
  width:100%;
  height:130px;
  padding: 10px 20px;
  background: url("../img/tianqi.png") no-repeat;
  background-size: 100% 100%;
  color: #FFF;
  margin-top: 20px;
}

#weather .citytq{
  padding-left: 24px;
  background: url("../img/dingwei.png") no-repeat;
  background-size: 18px;
}
#weather .situation{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
#weather  .situation img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#weather .wind{
  text-align: center;
}
.tab_box{
    background: #f3f3f4;
    float: left;
    width: 100%;
}
.tab_box a{
  border-right: 1px solid #c5c5c5;
  float: left;
  border-bottom: 1px solid #c5c5c5;
  display: inline-block;
  width: 61px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  margin:  0;
  padding: 0;
  background: #f8f8f8;
}
.tab_box a.on{
  color: #666;
  background: #FFF;
  border-bottom: .0px solid #c5c5c5;
}
.title{
  line-height: 40px;
}

.rate{
  line-height: 40px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background: #23c6c8;
  color: #fff;
}
.dataTables-example thead tr th,
.dataTables-example tbody tr td{
  white-space:nowrap;
  text-align: center;
}
.ibox-content{
  border: 0;
}


.gray-bg{background:#f3f3f4;overflow:  auto;height: 100%;}
	.imxsleft{    float: left;
    background: #36a8f0;
    padding: 1em;
    border-radius: 5em;}
  
	.imxsleft img{    width: 4em;}
	.imxsright{    float: left;
    font-size: 14px;
    margin-top: 1em;
    margin-left: 1em;
}
	.imxsright p{    padding: 0;
    margin: 0;}
	.imxsright p label{     font-size: 1.7em;
    color: #36a8f0;}
    	.imxsright p span{   font-size: 0.2em;
    color: #36a8f0;
    margin-left: 1em;}
	.imxsdiv{    margin: 0 auto;    margin-top: 0.5em;
    display: block;
    width: fit-content;}
    
      .imx2ed{background: #31e0d5;} 
      .imxsdiv .imx2eds p label{color: #31e0d5;}
      .imxsdiv .imx2eds p span{color: #31e0d5;}
      
        .imx3ed{background: #fddd04;} 
      .imxsdiv .imx3eds p label{color: #fddd04;}
      .imxsdiv .imx3eds p span{color: #fddd04;}
      
          .imx4ed{background: #f5736e;} 
      .imxsdiv .imx4eds p label{color: #f5736e;}
      .imxsdiv .imx4eds p span{color: #f5736e;}

.conrrow{margin: 0;}
.conrlobd .tab_box p{
    color: #36a8f0;
    text-align:  center;
    font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.borwo{}
.borwo h3{
    border-left: 4px solid #ff4324;
    padding-left: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.3em;
}
      .conrlobd{
    padding-top: 0;
    border-top: 4px solid #36a8f0;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
.conrlobd .rowmore{
    float: right;
}
.conrlobd .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobd .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobd .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobd .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #36a8f0;
}




      .conrlobds{
    padding-top: 0;
    border-top: 4px solid #31e0d5;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
    .conrlobds .tab_box p{
    color: #31e0d5;
    text-align:  center;
    font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.conrlobds .rowmore{
    float: right;
}
.conrlobds .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobds .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobds .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobds .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #31e0d5;
}




      .conrlobdsa{
    padding-top: 0;
    border-top: 4px solid #ffe00d;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
        .conrlobdsa .tab_box p{
    color: #ffe00d;
    text-align:  center;
    font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.conrlobdsa .rowmore{
    float: right;
}
.conrlobdsa .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobdsa .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobdsa .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobdsa .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #ffe00d;
    border: 1px solid #ffe00d;
}



      .conrlobdsb{
    padding-top: 0;
    border-top: 4px solid #f5736e;
    padding-left:  0;
    padding-right: 0;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    }
        .conrlobdsb .tab_box p{
    color: #f5736e;
    text-align:  center;
   font-size:  1.5em;
    padding: 0.7em 0;
    margin: 0;
        font-weight: bold;
}
.conrlobdsb .rowmore{
    float: right;
}
.conrlobdsb .rowmore .newikrd{
    margin-right: 2em;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.conrlobdsb .rowmore .newikrd label{float:left;margin-right: 1em;}
.conrlobdsb .rowmore .newikrd input{
    float: left;
    width: 11em;
    margin-right: 1em;
    height: 2em;
    border: 1px solid #dedede;
}
.conrlobdsb .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #f5736e;
    border: 1px solid #f5736e;
}
;
}
.conrlobdsb .rowmore .newikrd button{
    font-size:  12px;
    padding: 0.4em 1.5em;
    background: #f5736e;
    border: 1px solid #f5736e;
}
