
.UserA row {
	padding: 0.5em 1.2%;
}

#mainframe .UserA {
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 0.9em;
	padding: 0 1% 0em 1%;
}


/*.form-group{margin: 0;}*/

#mainframe .UserA .reuse label {
	text-align: left;
	font-size: 16px;
	font-weight: initial;
	color: #54a664;
	width: 100%;
}

#mainframe .UserA .reuseS input {
	height: 2.5em;
	border: 1px solid #e7e7e7;
	text-indent: 7%;
}

.UserC {
	color: #54a664;
	font-size: 15px;
}

#mainframe .pagination>.active>a {
	background: #ff4324;
}

#mainframe .table-scrollable {
	margin-bottom: 1em;
}

.Ueski div {
	margin: 0;
}

.Ueski {
	margin: 0;
}

#mainframe .inmodal .modal-title {
	font-size: 18px;
}

#mainframe .modal-body {
	padding: 0;
}
.useDa{display: none;}



#modalTown p {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 3%;
}

#modalTown p img {
	width: 31px;
	margin-right: 1%;
}

#modalTown p label {
	color: #666;
	font-size: 16px;
}

#modalTown p button {
	width: 29%;
	line-height: 30px;
	display: inline;
}

.login_btn {
    display: block;
    background: #3ca153;
    color: #fff;
    font-size: 15px;
    width: 100%;
    line-height: 44px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#userTown{   
    margin: 0 44%;
    background: gainsboro;
    padding: 1.5em 0 0.5em 0;
    border-radius: 0.3em;}
.hidrS{background:#bbbbbb}
.modal-dialog{margin: 0;    width: initial;}
.inmodal{    padding: 3em 36%;}
.layui-layer-btn .layui-layer-btn0{background:#65c979!important;border: 1px solid #65c979 !important ;}
.layui-layer-title{font-size: 16px !important;}
.pulluserlo{float:left !important;margin-left: 2em !important;margin-bottom: 0.5em !important;}
.pulluserloS{  float:left !important ;margin-left: 2em !important;}
.modifa .form-horizontal{    padding-bottom: 1em !important;; }
.user_forgr{    margin-bottom: initial !important;}
#townGriduser td{    padding: 0.5em 0em !important;}
#townGridRole td{    padding: 0.5em 0em !important;}

  .layui-btn-xs{ background: #65c979 !important;
    padding: 0.5em 7% !important;
    line-height: 1.5em !important;
    height: auto !important;
    color: #FFF!important;}
    .layui-btn+.layui-btn {
    padding: 0.5em 7% !important;
    line-height: 1.5em !important;
    height: auto !important;
    background: #FF5722!important;
}

.layui-table-page .layui-laypage {
    float: right!important;
    padding-right: 1%!important;
}

.layui-table-page .layui-laypage .layui-laypage-curr .layui-laypage-em {
    background: #FF5722!important;
}

.modal-content{box-shadow: inherit !important;
	
}
#juria {
			float: left !important;
			margin-left: 8%;
			margin-top: -4em;
			display: block;
		}
		
.zTreeDemoBackground{ width:  100%; border: 1px solid #54a664;    max-height: 380px; overflow-y: scroll;}
