<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<title>送浆 </title>
		<link rel="stylesheet" href="/layui-master/src/css/layui.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.min862f.css?v=4.1.0" />
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/list/log.css" />
		<style type="text/css">
			.newolod {padding-left: 35%;}
			.colsur {
				width: auto !important
			} 
			.bustrNew .phyegistrS {	width: 37%;} 
			.bustrNew .phytable {width: 62% !important;}
		</style>
	</head> 
	<body id="newpray">
			<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid">
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis indegirtion">
						<div class="row newregistr" id="search">
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">状态：</label>
									<div class="input-group inhemog">
										<select name="status" class="form-control" id="status">
											<option value="">请选择</option>
											<option value="0">未出库</option>
											<option value="1">已出库</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi"><la>数量</la>：</label>
									<div class="input-group inhemog">
										<input class="form-control newfrin" name="name" id="sNumber"/>
									</div>
								</div>
							</div>
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">箱号：</label>
									<div class="input-group inhemog">
										<div class="col-xs-5 advancol">
											<input class="form-control" name="startDate" id="start" />
										</div>
										<div class="col-xs-1 advancolS">
											--
										</div>
										<div class="col-xs-5 advancol">
											<input class="form-control" name="endDate" id="end" />
										</div>
									</div>
								</div> 
							</div>
							
							<div class="col-xs-3 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">血浆类型：</label>
									<div class="input-group inhemog">
										<select name="type" class="form-control" id="type">
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row newrowseg">
						<div class="form-group newikrd">
							<div class="input-group newInpa butnewikr" style="">
								<input type="hidden" value="" id="id"/>
								<button type="button" class="btn  btn-info" id="query">查询</button>
								
								<shiro:hasPermission name="plasmaStock:outAllUpdate">
									<button type="button" class="btn  btn-info" id="all">送浆</button>
								</shiro:hasPermission>
								
								<shiro:hasPermission name="plasmaStock:outCacal">
									<button type="button" class="btn  btn-info" id="cacal">取消送浆</button>
								</shiro:hasPermission>
								<button type="button" class="btn  btn-info" id="export">导出</button>
								<button type="button" class="btn  btn-info" id="exportCompany">导出数据到公司</button>
								<button type="button" class="btn  btn-info" id="plasma_check">血浆检测装运表</button>
								<button type="button" class="btn  btn-info" id="plasma_summary">血浆装箱汇总表</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA">
					<div class="col-xs-12">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal">
									<div class="col-xs-5 colikra" style="margin-left:-2em; width:28%">
										<div class="form-group newformcol">
											<label class="control-label col-xs-4">箱号信息列表</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="row busr">
					<div class="col-md-12 bustrNew" style="margin: 0 !IMPORTANT;">
						<table class="layui-table" id="stock" lay-filter="demo" style=" MARGIN-TOP: -2EM;"></table>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script src="/js/jquery.min.js"></script>
		<!--bootstarp表格插件-->
		<script src="/js/bootstrap.min.js?v=3.3.6"></script>
		<!--layer插件包-->
		<script src="/js/utils.js"></script>
		<script charset="utf-8" src="/layui-master/src/layui.js"></script>
		<script src="/js/plasmaStock/stock_out.js"></script>
	</body>

</html>
