<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadl.health.dao.EquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fadl.health.entity.Equipment">
        <id column="id" property="id" />
        <result column="imei" property="imei" />
        <result column="lordpower" property="lordpower" />
        <result column="signalxhao" property="signalxhao" />
        <result column="bluetooth_type" property="bluetoothType" />
        <result column="eq_status" property="eqStatus" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="eqtype" property="eqtype" />
        <result column="bluetooth_name" property="bluetoothName" />
        <result column="bluetooth_status" property="bluetoothStatus" />
        <result column="bluetooth_list" property="bluetoothList" />
        <result column="bluetooth_electricity" property="bluetoothElectricity" />
        <result column="clock" property="clock" />
        <result column="phone1" property="phone1" />
        <result column="phone2" property="phone2" />
        <result column="name" property="name" />
        <result column="version" property="version" />
        <result column="uploadtime" property="uploadtime" />
        <result column="bluetoothmac" property="bluetoothmac" />
        <result column="agentid" property="agentid" />
        <result column="model" property="model" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imei, lordpower, signalxhao, bluetooth_type AS bluetoothType, eq_status AS eqStatus, createtime, updatetime, eqtype, bluetooth_name AS bluetoothName, bluetooth_status AS bluetoothStatus, bluetooth_list AS bluetoothList, bluetooth_electricity AS bluetoothElectricity, clock, phone1, phone2, name, version, uploadtime, bluetoothmac, agentid, model
    </sql>
    <!-- 获取设备在线离线数量饼状图 -->
	<select id="queryEquipmentState" resultType="com.fadl.common.DataRow" parameterType="java.util.HashMap">
		SELECT COUNT(*) AS count,SUM(CASE WHEN eq_status='H:0' THEN 1 ELSE 0 END) AS online,SUM(CASE WHEN eq_status='H:1' THEN 1 ELSE 0 END) AS offline FROM equipment tp
		INNER JOIN (SELECT * from user WHERE isDelete=0 AND role='使用者') tv
		ON tp.imei=tv.imei
		INNER JOIN agent tt
		ON tp.agentid=tt.id
		INNER JOIN (SELECT * FROM admin WHERE id=#{adminId}) tk
		ON tt.id=tk.agentId
	</select>
	
	<!-- 查询设备数据列表 -->
	<select id="queryEquipmentList" resultType="com.fadl.common.DataRow" parameterType="java.util.HashMap">
		SELECT id,imei,lordpower,signalxhao,CASE WHEN bluetooth_type=0 THEN '未绑定' ELSE '绑定' END AS bluetooth_type,
		CASE WHEN eq_status='H:0' THEN '离线' ELSE '在线' END AS eq_status,phone1,phone2,version,DATE_FORMAT(updatetime,'%Y-%m-%d %H:%i:%s') as updatetime from equipment
		WHERE 1=1
		<if test="imei!=null and imei!=''">
		AND imei LIKE CONCAT('%',#{imei},'%')
		</if>
		<if test="eq_status!=null and eq_status!=''">
		AND eq_status=#{eq_status}
		</if>
		LIMIT #{pageNum},#{pageSize}
	</select>
	<!-- 查询设备数据列表总数 -->
	<select id="queryEquipmentListCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(*) from(
			SELECT id,imei,lordpower,signalxhao,CASE WHEN bluetooth_type=0 THEN '未绑定' ELSE '绑定' END AS bluetooth_type,
			CASE WHEN eq_status='H:0' THEN '离线' ELSE '在线' END AS eq_status,phone1,phone2,version,DATE_FORMAT(updatetime,'%Y-%m-%d %H:%i:%s') as updatetime from equipment
			WHERE 1=1
			<if test="imei!=null and imei!=''">
			AND imei LIKE CONCAT('%',#{imei},'%')
			</if>
			<if test="eq_status!=null and eq_status!=''">
			AND eq_status=#{eq_status}
			</if>
		) tt
	</select>
	<!-- 通过设备id查询使用者学习值 -->
	<select id="queryEquipmentIdHealthdao" resultType="com.fadl.common.DataRow" parameterType="java.lang.String">
		SELECT HRV,sbp_ave,dbp_ave,Heartrate,Bloodoxygen,microcirculation,respirationrate,tt.createtime FROM user_eq tp
		LEFT JOIN equipment tc
		ON tp.eq_id=tc.id
		LEFT JOIN jfhealthdao tt
		ON substring(tt.phone,9)=tp.user_id
		WHERE tc.imei=#{imei} AND tp.typeof=2
	</select>
	<!-- 查询改该设备是否属于该供应商 -->
	<select id="queryEquipmentAgent" resultType="com.fadl.common.DataRow" parameterType="java.util.HashMap">
		SELECT tt.id as agentId,tc.* FROM admin tp
		LEFT JOIN agent tt
		ON tp.agentId=tt.id
		LEFT JOIN equipment tc
		ON tt.id=tc.agentid
		WHERE tp.id=#{adminId} AND tc.imei=#{imei}
	</select>
	<!-- 代理商管理页面根据代理商ID查询设备信息 -->
	<select id="queryEquipmentImeiInfo" resultType="com.fadl.common.DataRow" parameterType="java.util.HashMap">
		SELECT id,imei,model,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%s') as createtime FROM equipment
		WHERE 1=1
		 <if test="id!=null and id!='' and id!='undefined'">
		AND agentid=#{id}
		</if>
		<if test="imei!=null and imei!=''">
		AND imei LIKE CONCAT('%',#{imei},'%')
		</if>
		LIMIT #{pageNum},#{pageSize}
	</select>
	<!-- 代理商管理页面根据代理商ID查询设备信息总数 -->
	<select id="queryEquipmentImeiInfoCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(*) from(
		SELECT id,imei,model,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%s') as createtime FROM equipment
		 WHERE 1=1
		 <if test="id!=null and id!='' and id!='undefined'">
		AND agentid=#{id}
		</if>
		<if test="imei!=null and imei!=''">
		AND imei LIKE CONCAT('%',#{imei},'%')
		</if>
		) tt
	</select>
</mapper>
