<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadl.health.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fadl.health.entity.Member">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="charges" property="charges" />
        <result column="integral" property="integral" />
        <result column="member" property="member" />
        <result column="endTime" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, charges, integral, member, endTime
    </sql>

</mapper>
