<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
		<meta charset="UTF-8"/>
		<title>耗材添加</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head> 
<style type="text/css">
	.indegirtion .btn-info{    margin-right: 1em;}
	.layui-layer-dialog .layui-layer-content{color: #d38f8f !important;}
	.wrapper .newikrd .input-group {
    width: 60%;
}
</style>
	<body id="newpray">
		<div class="gray-bg" id="">
			<div class="wrapper wrapper-content animated fadeInRight weralid">
			 	 <!--基本信息及验证-->
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<div class="phyegistrS">
						<div class="col-xs-12 colx8 colnewo">
	 			 		 <div class="row newregis indegirtion" id="box" style="height :8em">
							 <div class="col-xs-6 colxsgray">
								 <div class="form-group newikrd">
									 <label class="control-label UserC"><ls>订单号</ls>：</label>
									 <div class="input-group">
													<input value="" title="text" disabled="disabled" type="text" id="oddNumber" class="form-control" />
									 </div>
								 </div>
							 </div>
							 <div class="col-xs-6 colxsgray">
								 <div class="form-group newikrd">
								  <label class="control-label UserC">耗材名称：</label>
									 <div class="input-group">
									 				<input id="id" type="hidden"/>
													<input value=""  title="text" disabled="disabled" type="text" id="name" class="form-control" />
									 </div>
								 </div>
							 </div>
							 <div class="col-xs-6 colxsgray">
								 <div class="form-group newikrd">
									 <label class="control-label UserC"><la>批号</la>：</label>
									 <div class="input-group">
													<input value="" title="text" disabled="disabled" type="text" id="batchNumber" class="form-control" />
									 </div>
								 </div>
							 </div>
							 <div class="col-xs-6 colxsgray">
								 <div class="form-group newikrd">
									 <label class="control-label UserC"><ls>有效期</ls>：</label>
									 <div class="input-group">
													<input value="" title="text" disabled="disabled" type="text" id="expiryTime" class="form-control" />
									 </div>
								 </div>
							 </div>
							 <div class="col-xs-6 colxsgray">
								 <div class="form-group newikrd">
								 <label class="control-label UserC">销毁数量：</label>
									<!--  <label class="control-label UserC"><la>退换数量</la>：</label> -->
									 <div class="input-group">
													<input value=""  title="text" id="num"  type="text" class="form-control" />
									 </div>
								 </div>
							 </div>
	 			 		 </div>
	 			 		 <div class="row">
	 			 			 <div class="form-group newikrd">
	 			 				 <div class="input-group newInpa butnewikr" style=" margin:  1em auto;">
	 			 				 	<input id="suppliesId" type="hidden"/>
	 			 					 <button type="button" class="btn  btn-info" id="add">添加</button>
	 			 				 </div>
	 			 			 </div>
	 			 		 </div>
	 			 	 </div>
						<p>订购单列表</p>
						<table class="layui-hide" id="suppliesInfo" lay-filter="demo"></table>
					</div>
					<div class="phyegistrS phytable">
						<div class="col-xs-12 colx8 colnewo">
	 			 		 <div class="row newregis indegirtion" style="height :8em">
	 			 				<!--  <div class="col-xs-6 colxsgray">
	 			 					 <div class="form-group newikrd">
	 			 						 <label class="control-label UserC">订购仓库：</label>
	 			 						 <div class="input-group">
	 			 							 <select name="type" class="form-control">
	 			 								 <option value="">请选择</option>
	 			 								 <option value="">是</option>
	 			 								 <option value="">否</option>
	 			 							 </select>
	 			 						 </div>
	 			 					 </div>
	 			 				 </div> 
	 			 				 <div class="col-xs-6 colxsgray">
	 			 					 <div class="form-group newikrd">
	 			 						 <label class="control-label UserC">订购日期：</label>
	 			 						 <div class="input-group">
	 			 							  		<input  class="form-control" />
	 			 						 </div>
	 			 					 </div>
	 			 				 </div>
								 <div class="col-xs-6 colxsgray">
								 	<div class="form-group newikrd">
								 		<label class="control-label UserC">金额合计：</label>
								 		<div class="input-group">
								 					 <input  class="form-control" />
								 		</div>
								 	</div>
								 </div>-->
								 <div class="col-xs-6 colxsgray">
								 	<div class="form-group newikrd">
								 		<label class="control-label UserC">销毁原因：</label>
								 		<div class="input-group">
								 		<input  id="reason" class="form-control" />
								 		</div>
								 	</div>
								 </div>
	 			 		 </div>
	 			 		 <div class="row">
	 			 			 <div class="form-group newikrd">
	 			 				 <div class="input-group newInpa butnewikr" style=" margin:  1em auto;">
	 			 					 <button type="button" id="exactly" class="btn  btn-info">确定</button>
	 			 				 </div>
	 			 			 </div>
	 			 		 </div>
	 			 	 </div>
						<p>耗材列表</p>
						<script type="text/html" id="barDemoding">
							<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
						</script>
						<table class="layui-hide" id="addDestroy" lay-filter="demo1"></table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共包-->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/supplies/destroy/destroy_add.js}"></script>
</html>
