<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="UTF-8"/>
		<title>采浆</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		 		<style type="text/css">
			.newolod { padding-left: 35%; } .tabkocmr table tbody{ max-height: 9em; overflow-y: scroll; float: left; width: initial; }  #newpray .gray-bg .colx8 .inhenagoi { width: 42% !important; } .wrapper .newikrd .input-group { width: 62%; } .wrapper .newikrd .cloalabel{    line-height: 2.4rem; margin-left: 5px;} .wrapper .newikrd .shuliar{width: 49% !important; float: left;}  .tabkocmr table tr th {    padding: 0.4em 0; font-size: 12px; } .tabkocmr table tr td  {   line-height: 1.1em; padding: 0.2em 0; height: 2.5em; width: 11em; font-size: 12px; } .wrapper .newikrd .input-group { width: 62%; } #newpray .gray-bg .colx8 .imadut { width: 37%!important; } .colxsgrayse{width:31%}
			
			.layui-laydate-content>.layui-laydate-list {
            padding-bottom: 0px;
            overflow: hidden;
        }
        .layui-laydate-content>.layui-laydate-list>li{
            width:50%
        }
		</style>
	</head>
	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-9 colx8 colnewo">
					<div class="row newregis" style="border-bottom: 0px solid #f1f2f5 !important;">
						<div class="col-xs-12">
							<p class="grayP">
								<label class="grayLa ">基本信息</label></p>
							<div class="row newregistr" id="basic" style="margin-left: -3%;">
								<div class="col-xs-4 colxsgray"> 
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><la>姓名</la>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="name" readonly="readonly" id="name"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><la>血型</la>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="bloodType" id="bloodType" readonly="readonly"/>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><la>性别</la>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="sex" id="sex" readonly="readonly"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC imadut">本月采浆次数：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="month" id="month" readonly="readonly"/>
										</div>
									</div>
								</div>
								<div class="col-xs-4 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><la>年龄</la>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="age" id="age" readonly="readonly"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><la>类型</la>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="type" id="type" readonly="readonly"/>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC imadut">献浆卡号：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="providerNo" id="providerNo" readonly="readonly"/>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC imadut">本年采浆次数：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="year" id="year" readonly="readonly"/>
										</div>
									</div>
								</div>
								<div class="col-xs-4 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><ls>登记号</ls>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="registriesNo" id="registriesNo" readonly="readonly"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC imadut"><ls style="    letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="icNumber" id="icNumber" readonly="readonly"/>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC imadut">血管等级：</label>
										<div class="input-group">
											<input class="form-control newfrin" name="bloodGrade" id="bloodGrade" value=""/>
										</div>
									</div>
								</div> 
							 
							</div>
						</div>
						<form id="addColl">
							<input type="hidden" value="" id="id" name="id"/>
							<input type="hidden" value="" id="isCollection" name="isCollection"/>
						<div class="col-xs-12">
							<p class="grayP">
								<label class="grayLa ">采浆情况</label></p>
							<div class="row newregistr sub_coll" id="sub_coll">
								<div class="col-xs-3 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC"><la>采区</la>：</label>
										<div class="input-group">
											<select name="roomId" class="form-control" id="roomId" tip="请选择采区">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC"><la>机型</la>：</label>
										<div class="input-group">
											<select name="typeId" class="form-control" id="typeId" tip="请选择机型">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC">采浆机号：</label>
										<div class="input-group">
											<select name="machineId" class="form-control" id="machineId" tip="请选择机号">
												<option value="">请选择</option>
											</select>
										</div> 
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC" ><ls>采浆量</ls>：</label>
										<div class="input-group">
											<input value="" title="" class="form-control newfrin" style="width: 75%;" onkeyup="this.value=this.value.replace(/\D/g,'')" tip="请输入采浆量" id="plasmAmount" name="plasmAmount"/>
											<label style="margin-top:  0.4em;padding-left: 0.5em;">(g)</label>
										</div>
									</div> 
								</div>
								<div class="col-xs-3 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC" >处理全血量：</label>
										<div class="input-group"  style="    width: 56%;">
											<input value="" title="" class="form-control newfrin" style="width: 66%;" tip="请输入处理全血量" name="wholeBlood"/>
											<label style="margin-top:  0.4em;padding-left: 0.5em;">(ml)</label>
										</div>
									</div> 
									<div class="form-group newikrd">
										<label class="control-label UserC" >抗凝剂用量：</label>
										<div class="input-group" style="    width: 56%;">
											<input value="" title="" class="form-control newfrin" style="width: 66%;" tip="请输入抗凝剂用量" name="knAmount"/>
											<label style="margin-top:  0.4em;padding-left: 0.5em;">(ml)</label>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC" style=" width: 56%;">循环次数：</label>
										<div class="input-group">
											<input value="" title="" class="form-control newfrin" style="width: 66%;" onkeyup="this.value=this.value.replace(/\D/g,'')" tip="请输入循环次数" name="loopCount"/>
											<label style="margin-top:  0.4em;padding-left: 0.5em;">(次)</label>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC" style="    width: 56%;">运行时间：</label>
										<div class="input-group">
											<input value="" title="" class="form-control newfrin" style="width: 66%;" tip="请输入运行时间" name="runTime"/>
											<label style="margin-top:  0.4em;padding-left: 0.5em;">(分)</label>
										</div>
									</div>
								</div>
								<div class="col-xs-3 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC">静脉穿刺：</label>
										<div class="input-group">
											<select name="veinCount" class="form-control" tip="请选择静脉穿刺次数">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC">采浆状况：</label>
										<div class="input-group">
											<select name="situation" id="situation" class="form-control" tip="请选择静采浆状况">
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC">耗材模板：</label>
										<div class="input-group">
											<select name="suppliesId" id="suppliesId" class="form-control" tip="请选择静耗材模板">
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC">是否采足：</label>
										<div class="input-group">
											<select name="isAmple" id="isAmple" class="form-control" tip="请选择是否采足">
												<option value="0">采足</option>
												<option value="1">采不足</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-3 colxsgray tabkocmr">
									<table lay-filter="parse-table-demo" class="layui-table" style="    margin: 0 10px 0 0;width: 81%;" id="cose_detail">
									  <thead>
									    <tr>
									      <th lay-data="{field:'username', width:200}" colspan="2">费用明细</th> 
									    </tr> 
									  </thead>
									  <tbody>
									  	
									  </tbody>
									  <tbody>
									  	<tr>
									      <td>合计</td>
									      <td>0</td> 
									    </tr>
									  </tbody>
									</table>
								</div>
							</div> 
						</div>  
						<div class="col-xs-12" id="plasma_process">
							<p class="grayP">
								<label class="grayLa ">采浆速度</label></p>
							
							<div id="caicheng" style="display: none;">
								<div class="row newregistr collection">   
									<label class="control-label UserC">一程：</label>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">采集速度：</label>
											<div class="input-group shuliar">
												<!-- <select name="result" class="form-control" tip=""> 
												</select>  -->
												<input value="" title="" class="form-control newfrin" />
											</div>
											<label class="cloalabel">转/分</label>	
										</div>
										 
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC"><ls>采浆量</ls>：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
												
											</div>
											<label class="cloalabel">(g)</label>	
										</div>
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">回输速度：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
													</div>
												<label class="cloalabel">转/分</label>	
										</div>
									</div>
								</div>
								
								<div class="row newregistr collection">   
									<label class="control-label UserC">二程：</label>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">采集速度：</label>
											<div class="input-group shuliar">
												<!-- <select name="result" class="form-control" tip=""> 
												</select>  -->
												<input value="" title="" class="form-control newfrin" />
											</div>
											<label class="cloalabel">转/分</label>	
										</div>
										 
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC"><ls>采浆量</ls>：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
												
											</div>
											<label class="cloalabel">(g)</label>	
										</div>
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">回输速度：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
													</div>
												<label class="cloalabel">转/分</label>	
										</div>
									</div>
								</div>
								<div class="row newregistr collection">   
									<label class="control-label UserC">三程：</label>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">采集速度：</label>
											<div class="input-group shuliar">
												<!-- <select name="result" class="form-control" tip=""> 
												</select>  -->
												<input value="" title="" class="form-control newfrin" />
											</div>
											<label class="cloalabel">转/分</label>	
										</div>
										 
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC"><ls>采浆量</ls>：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
												
											</div>
											<label class="cloalabel">(g)</label>	
										</div>
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">回输速度：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
													</div>
												<label class="cloalabel">转/分</label>	
										</div>
									</div>
								</div>
								<div class="row newregistr collection">   
									<label class="control-label UserC">四程：</label>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">采集速度：</label>
											<div class="input-group shuliar">
												<!-- <select name="result" class="form-control" tip=""> 
												</select>  -->
												<input value="" title="" class="form-control newfrin" />
											</div>
											<label class="cloalabel">转/分</label>	
										</div>
										 
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC"><ls>采浆量</ls>：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
												
											</div>
											<label class="cloalabel">(g)</label>	
										</div>
									</div>
									<div class="col-xs-4 colxsgrayse">
										<div class="form-group newikrd">
											<label class="control-label UserC">回输速度：</label>
											<div class="input-group shuliar">
												<input value="" title="" class="form-control newfrin" />
													</div>
												<label class="cloalabel">转/分</label>	
										</div>
									</div>
								</div>
							</div>
							<div class="row newregistr">   
								 	<label class="control-label UserC">检查：</label>
								<div class="col-xs-4 colxsgrayse">
									<div class="form-group newikrd">
										<label class="control-label UserC">耗材外观检查：</label>
										<div class="input-group" style="width: 53% !important;">
											<select name="isSuppliesCheck" class="form-control" >
												<option value="0">合格</option>
												<option value="1">不合格</option>
											</select>
										</div>
									</div>
									 
								</div>
								<div class="col-xs-4 colxsgrayse">
									<div class="form-group newikrd">
										<label class="control-label UserC">开采时间：</label>
										<div class="input-group">
												<input  class="form-control newfrin" id="collectionStart" name="collectionStart" tip="请输入开采时间" readonly="readonly"/>
										
										</div>
									</div>
								</div>
								<div class="col-xs-4 colxsgrayse">
									<div class="form-group newikrd">
										<label class="control-label UserC">结束时间：</label>
										<div class="input-group">
											<input  class="form-control newfrin" id="collectionEnd" name="collectionEnd" tip="请输入结束时间" readonly="readonly"/>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
						<div class="col-xs-12 sub_coll">
							<p class="grayP">
								<label class="grayLa ">采浆结果</label></p>
							<div class="row newregistr">
								<div class="col-xs-4 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC">采浆结果：</label>
										<div class="input-group">
											<select name="result" class="form-control" tip="请选择采浆结果">
												<option value="0">合格</option>
												<option value="1">不合格</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
										<label class="control-label UserC"><la>备注</la>：</label>
										<div class="input-group">
											<input  class="form-control newfrin" id="remarks" name="remarks"/>
										</div>
									</div>
								</div>
								<div class="col-xs-4 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC">采浆护士：</label>
										<div class="input-group">
											<select name="userId" id="userId" class="form-control" tip="请选择采浆护士">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-4 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC">发放金额：</label>
										<div class="input-group">
											<input  class="form-control newfrin" id="money" name="money" onkeyup="this.value=this.value.replace(/\D/g,'')" tip="请输入发放金额"/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" class="not" name="detail" id="detail" value=""/><!-- 采程详情 -->
						<input type="hidden" class="not" name="bloodGrade" id="sub_bloodGrade" value=""/>
						<input type="hidden" class="not" id="result" value="-1"/>
						<input type="hidden" class="not" name="type" id="valdationType" value=""/><!-- 验证类型(默认人脸识别) -->
						<input type="hidden" class="not" name="isIdentity" id="isIdentity" value=""/><!-- 是否验证成功 -->
						<input type="hidden" class="not" name="image" id="imageFace"/><!-- 需要保存的人脸识别图片 -->
						</form>
					</div>
					<div class="col-xs-12 colx8  ">
						<div class="row newrowseg" style="margin-top: 0em;margin-bottom: 0.5em;">
							<div class="form-group newikrd">
								<div class="input-group newInpa butnewikr" style=" ">
									<shiro:hasPermission name="plasmCollection:update">
										<button type="button" class="btn  btn-info" id="confirm">确定</button>
									</shiro:hasPermission>
									<button type="button" onclick="read()" class="btn  btn-info">读取</button>
									<!-- <button type="button" class="btn  btn-info" id="newfacial">面部识别</button> -->
									<button type="button" class="btn  btn-info" id="refresh">刷新</button>
									<button type="button" class="btn  btn-info" id="show_caicheng">显示采程</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-3 colx8 colnewo">
					<div class="col-xs-12" style="    padding-top: 1em;">
						<div class="row newregistr">
							<div class="col-xs-12 colxsgray">
								<div class="row">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 coldix">
												<img id="demo1"   src="../../../img/new_pa1.png" style="    width: auto;  margin-left: 1em;  height: 12.8em;  position: inherit;  top: -1em;  margin-top: 1em;  right: 3%;  padding-bottom: 1em;"/>
										 	</div>
											<div class="col-xs-12 coldix">
												<img id="imageFace_show" class="layui-upload-img" src="../../../img/new_pa1.png" style="width:auto; height:12em;margin-top:-1em;margin-bottom: 1em;margin-left:0;"/>
											</div>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style=" ">
					<div class="col-xs-12">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal" style="  margin-top: 0.8em;">
									<div class="col-xs-3 colikra"  style="margin-left:-2em">
										<div class="form-group newformcol">
											<label class="control-label col-xs-4" style=" ">浆员信息列表</label>
										</div>
									</div>
										<div class="col-xs-5 colxsgray" style="margin-right: -13%;margin-left: 1%;">
										<div class="form-group " style="  width: 48%;  float: left;margin-right:2%">
											<label class="control-label UserCS">献浆卡号：</label>
											<div class="input-group">
												<input  class="form-control newfrin" id="providerNo_search"/>
											</div>
										</div>
										<div class="form-group newikrd" style=" width: 49%;  float: left; margin-left: 3%;">
											<label class="control-label UserCS"><ls>登记号</ls>：</label>
											<div class="input-group">
												<input  class="form-control newfrin"  id="registriesNo_search"/>
											</div>
										</div>
									</div> 
									<div class="col-xs-4"> 
										<div class="form-group newformcol">
											<label class="control-label col-xs-4 UserCS" style=" width: 56%;">日期：</label>
											<div class="input-group col-xs-5 date">
													<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="" readonly="readonly" class="form-control" />
 											</div>
										</div>
									</div>
									<div class="col-xs-1">
										<div class="form-group newformcol">
											<div class="pull-right">
												<button type="button" class="btn  btn-info" id="query">查询</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row busr">
					<div class="col-md-12 bustrNew">
						<!--table数据-->
						<div class="phyegistrS" id="domne">
							<p>未采人员</p>
							<table class="layui-hide" id="notColl" lay-filter="demo"></table>
						</div>
						<div class="phyegistrS phytable">
							<p>已采人员</p>
							<table class="layui-hide" id="coll" lay-filter="demo"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.webcam.js}"></script>
		<script th:src="@{/js/zoom.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script> 
		<script th:src="@{/editable-select/jquery.editable-select.min.js}"></script>
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<!-- 人脸识别 -->
		<script src="/js/common/start_camera.js"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plasm_collection/plasm_collection.js}"></script>
			<script th:src="@{/js/imgx.js}"></script>
 
	<img src="" alt="" class="bigimg" />
<div class="mask">
	<img src="" alt="" />
</div>
	</body>
</html>
