<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadl.workflow.dao.WorkflowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fadl.workflow.entity.Workflow">
        <id column="id" property="id" />
        <result column="allId" property="allId" />
        <result column="flowStep" property="flowStep" />
        <result column="workStep" property="workStep" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
        <result column="plasmaId" property="plasmaId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, allId, flowStep, workStep, createDate, updateDate, creater, updater, plasmaId
    </sql>
	
	<select id="selectByAllId" parameterType="java.lang.Long" resultType="com.fadl.workflow.entity.Workflow">
		SELECT * FROM f_workflow WHERE allId = #{allId}
	</select>
</mapper>
