<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="UTF-8"/>
		<title>板次打印</title>
		<link th:href="@{/layui-master/dist/css/layui.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
		
	</head>
	<style>
	
#col-xs-12 {
	float: left;
	width: 100%
}

#newpray .dayina {
	width: 100%;
	margin-bottom: 0;
}
#newpray .UserC {
	margin-bottom: 0;
}

#newpray .gray-bg .colx8 .inhenagoi {
	text-align: left;
	color: #b9b9b9;
}

.ibox-content {
	padding: 0;
}

#newpray .gray-bg {
	padding: 0
}

.colxsgray {
	float: left;
	width: 20%;
	/* margin-left: 3em; */
	padding: 0
}

#newpray .gray-bg {
	margin-bottom: initial;
}
.kiage{width:100%;padding-left: 12%;}
#bustable table p {
	margin: 0 0 0 1px
}

.busr table tr th {
	padding: 0.5em 0;
	width: 7em;
	font-size: 12px;
}
.newregis{    padding: 0.2em 0px;    margin: 0; }
.busr table tr td {
	padding: 0.2em 0;
	height: 5em;
	width: 7em;
	font-size: 12px;
}

.busr table {
	margin: 0
}

#newpray .busr {
	width: 100%;
	margin-left: 0px !important;
}

.dabiaoz .col-md-12 {
	margin-top: -3em !important;;
}
.baidin{background: #c5c2c2 !important;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5c2c2',EndColorStr='#c5c2c2');}
		   @media print {
            body {-webkit-print-color-adjust: exact;}
           .dayindiv #headLeft{    text-align: left; padding-left: 3rem;} .dayindiv #headRight{    text-align: right; padding-right: 3rem;}
      		  }
      		  	    @page {
   size: auto;
   margin:2mm 5mm 2mm 5mm;
  }
  .omalr {bottom:-1.8em}
  .dayindiv p{font-size:15px}
	</style>
	<script language="javascript">
		function printdiv(printpage) {
			var newstr = printpage.innerHTML;
			var oldstr = document.body.innerHTML;
			document.body.innerHTML = newstr;
			window.print();
			document.body.innerHTML = oldstr;
			return false;
		}
		window.onload = function(){
			var bt = document.getElementById("bt");
			var div_print = document.getElementById("div_print");
			bt.onclick = function() {
				printdiv(div_print);
			}
		}
	</script>
	<body id="newpray">
  <button type="button" class="btn btn-success" name="print" id="bt">点击打印</button>
  <shiro:hasPermission name="report:pp:view">
		<button type="button" class="btn btn-success" name="editReportInfo" id="editReportInfo" onclick="gotoEditReportInfo('/reportInfo/initPlatePrintTwoPage',16)">编辑表头</button>
		</shiro:hasPermission>
		<div class="gray-bg dayina">
			<div id="div_print">
			<div class="dayindiv">
						 <div class="row">
							<div class="col-xs-4" id= "headLeft">
							
							</div>
							<div class="col-xs-4" id= "headCenter">
							
							</div>
							<div class="col-xs-4" id= "headRight">
							
							</div> 
						 </div>
				</div>
			<div class="dayindiv">
				<p  th:text="${elisaInfo.elisaTemplate.elisaReport.reportName}"></p>
				
				
			</div>
			<div class="gray-bg" id="">
			<input type="hidden" id="id" name ="id" th:value = "${elisaInfo.id}"/>
			<input type="hidden" id="eadbutS" name ="eadbutS" th:value = "${eadbutS}"/>
			<input type="hidden" id="showSampleNo" name ="showSampleNo" th:value = "${showSampleNo}"/>
			<input type="hidden" id="testingMethodid" name="testingMethodid"  th:value="${tci.testingMethodid}" />
			<input type="hidden" id="projectName" name="projectName"  th:value="${tci.projectName}" />
				<div class="wrapper wrapper-content animated fadeInRight" style="width: 1133px;    margin: 0 auto;">
						<div class="row newregis indegirtion">
							<div class="colxsgray">
									<label class="" th:text="${elisaInfo.elisaTemplate.elisaReport.reportSignature}"></label>
							</div>	
						</div>
					<div class="row newregis indegirtion">
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">送检单位：</label>
								<label class="control-label UserC inhenagoi"  ><span th:text="${elisaInfo.elisaTemplate.elisaReport.inspectionUnit}"></span></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">送检标本：</label>
								<label class="control-label UserC inhenagoi" th:text ="${elisaInfo.elisaTemplate.elisaReport.inspectionSpecimen}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">使用方法：</label>
								<label class="control-label UserC inhenagoi" >
								<span id="checkMethod"> </span>
								</label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">送检日期：</label>
								<label class="control-label UserC inhenagoi" ><span th:text = "${elisaInfo.updateDate1}"></span>[<span th:text = "${elisaInfo.sequenceNumber}"></span>]</label>
							</div>
						</div>
						<div class="colxsgray">	
							<div class="form-group newikrd">
								<label class="control-label UserC  ">检测日期：</label>
								<label class="control-label UserC inhenagoi" ><span th:text = "${elisaInfo.testDate1}"></span>[<span th:text = "${elisaInfo.sequenceNumber}"></span>]</label>
							</div>
						</div>
					</div>
					<div class="row newregis indegirtion">
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">检测单位：</label>
								<label class="control-label UserC inhenagoi" th:text = "${elisaInfo.elisaTemplate.elisaReport.detectionUnit}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">试剂厂家：</label>
								<label class="control-label UserC inhenagoi" th:text="${supply.name}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">试剂批号：</label>
								<label class="control-label UserC inhenagoi" th:text="${stock.batchNumber}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">有效期：</label>
								<label class="control-label UserC inhenagoi" th:text="${tci.termOfValidity1}"></label>
							</div>
						</div>
					</div>
					<div class="row newregis indegirtion">
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">检验设备型号及厂家：</label>
								<label class="control-label UserC inhenagoi" th:text="${elisaInfo.elisaTemplate.elisaReport.elisaEquipmentAndManufacturers}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">洗板机型号及厂家：</label>
								<label class="control-label UserC inhenagoi" th:text="${elisaInfo.elisaTemplate.elisaReport.cleaningEquipmentAndManufacturers}"></label>
							</div>
						</div>
						<div class="colxsgray bigas">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">质控品批号：</label>
								<label class="control-label UserC inhenagoi" th:text="${qcStock.batchNumber}"></label>
							</div>
						</div>
						<div class="colxsgray bigas">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">有效期：</label>
								<label class="control-label UserC inhenagoi" th:text="${qcStock.expiryTime1}"></label>
							</div>
						</div>
						<div class="colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC  ">使用波长：</label>
								<label class="control-label UserC inhenagoi" th:text="${elisaInfo.elisaTemplate.elisaReport.useWavelength}"></label>
							</div>
						</div>
					</div>
					<div class="row busr" id="bustable">
					</div>

					<div class="row newregis indegirtion">
						<div class="colxsgray" style="width: 80%;">
								<label class="">结果判断：<span th:text="${elisaInfo.elisaTemplate.elisaReport.criticalResult}"></span></label>
						</div>
						<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC  ">打印时间：</label>
							<label class="control-label UserC inhenagoi"><span th:text="${printTime}"></span> </label>
						</div>
					</div>
					</div>
					
				
				<div class="row newregis indegirtion">
					<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC">编号：</label>
							<label class="control-label UserC inhenagoi" ><span th:text="${elisaInfo.elisaTemplate.elisaReport.reportNO}"></span>
							</label>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC">临界值计算公式：</label>
							<label class="control-label UserC inhenagoi" ><span th:text="${elisaInfo.elisaTemplate.cutoffFormula}"></span>
							=<span th:text="${elisaInfo.cutOffValue}"></span>
							</label>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC  ">灰区：</label>
							<label class="control-label UserC inhenagoi" ><span th:text="${grayMin}"></span>
							-<span th:text="${grayMax}"></span>
							</label>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC  ">环境温度：</label>
							<label class="control-label UserC inhenagoi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;℃</label>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC  ">湿度：</label>
							<label class="control-label UserC inhenagoi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%</label>
						</div>
					</div>
					
				</div>
				<div class="row newregis indegirtion">
					
					
					<div class="colxsgray">
						<div class="form-group newikrd">
							<div class="colxsgray" style="width: 100%;">
							<label class="">检测者：</label>
							<label class=""  ></label>
							</div>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
							<div class="colxsgray" style="width: 100%;">
								<label class="">复核者：</label>
								<label class="" ></label>
							</div>
						</div>
					</div>
					<div class="colxsgray">
						<div class="form-group newikrd">
						<div class="colxsgray" style="width: 100%;">
							<label class="">注：</label>
							<label class="">保存期十年</label>
							</div>
						</div>
					</div>
				</div> 
				</div>
				<div class="dayindiv">
								<div class="row">
									<div class="col-xs-4" id= "footLeft"> </div>
									<div class="col-xs-4" id= "footCenter"> </div>
									<div class="col-xs-4" id= "footRight"> </div> 
						 		</div>
				</div>
			</div>
			</div>
		</div>
		<!--jQuery包-->
		
		<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<!--mbb酶标板JS-->
	<script th:src="@{/js/business/elisa/bancdayin.js}"></script>
	<script type="text/javascript">
		getReportInfo(16);
	</script>
	</body>
</html>
