<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>酶标板标题设置_修改</title>
		<link rel="stylesheet" href="../../../../layui-master/src/css/layui.css"/>
		<!--bootstarp-->
		<link href="../../../../css/bootstrap.min.css" rel="stylesheet"/>
		<link href="../../../../css/style.min862f.css?v=4.1.0" rel="stylesheet"/>
		<link href="../../../../css/common.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../../../../css/icheck-bootstrap.css"/>
		<link href="../../../../css/list/log.css" rel="stylesheet"/>
		<style type="text/css">
			.newolod {	padding-left: 35%;			}
			#newpray .gray-bg .colx8 .inhenagoi{width: auto !important;}
		</style>
	</head>
	<body id="newpray" style="background: #FFF;">
 		<div class="gray-bg" id="" style=" ">
 			<form action="" method="post">


 			<div class="wrapper wrapper-content animated fadeInRight">
 				<div class="row" style=" ">
 					<div class="col-xs-12" style="    margin-left: 6%;">
 						<div class="ibox">
 							<div class="ibox-content" style="padding: 0;">
 								<div class="row form-horizontal">
 									<div class="col-xs-12">
 											<div class="form-group newformcol cactivitad">
 											<label class="control-label col-xs-4 UserCS" style=" width: 9em;">酶标板标题：</label>
 											<div class="input-group date" style="    ;">
 												<input value=" " title="" class="form-control newfrin" />
 											</div>
 										</div>
 									</div>

									<div class="col-xs-12">
 											<div class="form-group newformcol cactivitad">
 											<label class="control-label col-xs-4 UserCS" style=" width: 9em;">当前使用：</label>
 											<div class="input-group date">
 									<select name="type" class="form-control">
 										<option value="">请选择</option>
 										<option value="">普通</option>
 										<option value="">不普通</option>
 									</select>
 								</div>
 										</div>
 									</div>
 								</div>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>

				<div class="row newrowseg" style="text-align: center;">
<button type="button" class="btn  btn-info" id=" " style="float: unset;padding: 0.4em 1.7em;">确定</button>
 								</div>
 			</form>
 		</div>

		<!--jQuery包-->
		<script src="../../../../js/jquery.min.js"></script>
		<!--bootstarp表格插件-->
		<script src="../../../../js/bootstrap.min.js?v=3.3.6"></script>
		<!--layer插件包-->
		<script src="../../../../layui-master/src/layui.js" charset="utf-8"></script>
		<script src="../../../../js/business/inspection/elisa/elisashe_datelis.js"></script>
	</body>
</html>
