<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>耗材配置_修改</title>
		<link rel="stylesheet" href="../../../../layui-master/src/css/layui.css">
		<!--bootstarp-->
		<link href="../../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../../css/common.css" rel="stylesheet">
		<link rel="stylesheet" href="../../../../css/icheck-bootstrap.css">
		<link href="../../../../css/list/log.css" rel="stylesheet">
		<style type="text/css">
			.newolod {padding-left: 35%;}
			.wrapper .newikrd .inhemog {width: 74% !important;}
			#newpray .gray-bg .colx8 .UserC {width: auto !important;}
			.colnewo .indegirtion{margin-left: 0px;}
			#newpray{background: #FFF}
		</style>
	</head>
	<body id="newpray">
		<div>
			<div class="gray-bg">
				<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
					<div class="col-xs-12 colx8 colnewo">
						<div class="row indegirtion">
								<div class="col-xs-12 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC "><la>类型</la>：</label>
										<div class="input-group inhemog">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>
									</div>
									<div class="form-group newikrd">
									<label class="control-label UserC "><la>名称</la>：</label>
										<div class="input-group inhemog">
										 	<input  class="form-control newfrin"/>
										</div>
									</div>
									 <div class="form-group newikrd">
										<label class="control-label UserC "><la>规格</la>：</label>
										<div class="input-group inhemog">
											<input  class="form-control newfrin"/>
										</div>
									</div>
									 <div class="form-group newikrd">
										<label class="control-label UserC "><ls>有效期</ls> ：</label>
										<div class="input-group inhemog">
										<input  class="form-control newfrin"/>
										</div>
									</div>
									<div class="form-group newikrd">
									 <label class="control-label UserC "><la>批号</la>：</label>
									 <div class="input-group inhemog">
										<input  class="form-control newfrin"/>
									 </div>
								 </div>


								 <div class="form-group newikrd">
									<label class="control-label UserC ">开始日期：</label>
									<div class="input-group inhemog">
										<input  class="form-control newfrin"/>
									</div>
								</div>


								<div class="form-group newikrd">
								 <label class="control-label UserC ">截止日期：</label>
								 <div class="input-group inhemog">
									<input  class="form-control newfrin"/>
								 </div>
							 </div>

							 <div class="form-group newikrd">
								<label class="control-label UserC ">厂家名称：</label>
								<div class="input-group inhemog">
								<input  class="form-control newfrin"/>
								</div>
							</div>
								</div>
						</div>
						<div class="row newrowseg">
							<div class="form-group newikrd">
								<div class="input-group newInpa butnewikr">
									<button type="button" class="btn  btn-info" id="">确定</button>
					 	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
		<!--jQuery包-->
		<script src="../../../../js/jquery.min.js"></script>
		<!--bootstarp表格插件-->
		<script src="../../../../js/bootstrap.min.js?v=3.3.6"></script>
		<!--layer插件包-->
		<script src="../../../../layui-master/src/layui.js" charset="utf-8"></script>
		<script src="../../../../js/business/inspection/elisa/elisahao_datelis.js"></script>
	</body>
</html>
