<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="UTF-8"/>
		<title>酶标板项目设置</title>
<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/icheck-bootstrap.css}"/>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
<link th:href="@{/editable-select/jquery.editable-select.min.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {padding-left: 35%;}
			.col-xs-3{width:29%}
				.ralmeib{    padding-left: 3%;}
		</style>
	</head>
	<body id="newpray">
	<form id="hmoshe">
	<input type="hidden" id="id" name="id" />
	<input type="hidden" id="delFlag"  name="delFlag" />
		<div>
			<div class="gray-bg ">
				<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
					<div class="col-xs-12 colx8 colnewo">
						<div class="row newregis indegirtion">
								<div class="col-xs-6 colxsgray">
									<div class="form-group newikrd">
										<label class="control-label UserC ">项目名称：</label>
										<div class="input-group inhemog">
										<input type="text" id="projectNameT" name="projectNameT" value=""  style="  width:  70%;   float: left;"/>
							<select name="projectName" id="projectName"  class="form-control not" onchange="changeProject(); " style=" width: 30% !important;" >
										</select>
										</div>
									</div>
									
								</div>
								<div class="col-xs-6 colxsgray">
									<div class="form-group newikrd">
								<div class="input-group newInpa butnewikr">
									<button type="submit" class="btn  btn-info" id="">保存</button>
									<button type="reset" class="btn  btn-info" id="">还原</button>
									<button type="button" class="btn  btn-info" onclick="doDel();" id="xiuaddd">删除</button>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
				<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid">
			<!--基本信息及验证-->

			<div class="col-xs-12 colx8">
				<div class="row">
					<p class="grayP">
						<label class="grayLa ">酶标板项目设置</label></p>
					<div class="row newregistr ralmeib">
					<div class="col-xs-3 colxsgray">
						<div class="radioloa roamobd rliarormo">
							<div class="checkbox icheck-success">
									<input type="checkbox" checked="checked" id="isBlank" name="isBlank" value="1"/>
									<label for="isBlank">空气空白</label>
									</div>
								</div>
					</div>

					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">程序模式：</label>
							<div class="input-group inhemog">
								<select name="programModel" id="programModel"  class="form-control">
									
								</select>
							</div>
						</div>
					</div>


					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">进板方式：</label>
							<div class="input-group inhemog">
								<select name="inboardMode" id="inboardMode" class="form-control">
									
								</select>
							</div>
						</div>
					</div>
					</div>

					<div class="row newregistr ralmeib">
					<div class="col-xs-3 colxsgray">
						<div class="radioloa roamobd rliarormo">
							<div class="checkbox icheck-success">
									<input type="checkbox"  id="isOscillation" name="isOscillation" value="1"/>
									<label for="isOscillation">是否震荡</label>
									</div>
								</div>
					</div>

					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">震荡速度：</label>
							<div class="input-group inhemog">
								<select name="oscillationSpeed" id="oscillationSpeed" class="form-control">
									
								</select>
							</div>
						</div>
					</div>


					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">震荡时间：</label>
							<div class="input-group inhemog">
								<select name="oscillationTime" id="oscillationTime" class="form-control" style="width: 62px !important">
									<option th:each="i,rowStat:${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}" th:selected="${i==15}"></option>
								</select><span style="line-height: 30px;">(秒)</span>
							</div>
						</div>
					</div>
					</div>

					<div class="row newregistr ralmeib">
					<div class="col-xs-3 colxsgray">
						<div class="radioloa roamobd rliarormo">
							<div class="checkbox icheck-success">
									<input type="checkbox"  id="isDuWaveDetection" name="isDuWaveDetection" value="1"/>
									<label for="isDuWaveDetection">双波检测</label>
									</div>
								</div>
					</div>

					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">主滤光片：</label>
							<div class="input-group inhemog">
								<select name="mainFilter" id="mainFilter" class="form-control">
									<option value="405">405</option>
									<option value="450">450</option>
									<option value="492">492</option>
									<option value="620">620</option>
									<option value="630">630</option>
								</select>
							</div>
						</div>
					</div>


					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">副滤光片：</label>
							<div class="input-group inhemog">
								<select name="subFilter" id="subFilter" class="form-control">
									<option value="405">405</option>
									<option value="450">450</option>
									<option value="492">492</option>
									<option value="620">620</option>
									<option value="630">630</option>
								</select>
							</div>
						</div>
					</div>
					</div>

					<div class="row newregistr ralmeib">
					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">延长时间：</label>
							<div class="input-group inhemog">
								<input name="extensionOfTime" id="extensionOfTime" title="" class="form-control" />
							</div>
						</div>
					</div>
					

					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">读板次数：</label>
							<div class="input-group inhemog">
								<input name="readCount" id="readCount" title="" class="form-control" />
							</div>
						</div>
					</div>


					<div class="col-xs-4 colxsgray">
						<div class="form-group newikrd">
							<label class="control-label UserC ">间隔时间：</label>
							<div class="input-group inhemog">
								<input name="intervals" id="intervals" title="" class="form-control" />
							</div>
						</div>
					</div>
					</div>

					<div class="row newregistr ralmeib">
					<div class="col-xs-6 colxsgray">
						<div class="radioloa roamobd rliarormo">
							<div class="checkbox icheck-success">
									<input type="checkbox" id="isSelfTest" name="isSelfTest" value="1"/>
									<label for="isSelfTest">酶标读板自检</label>
									</div>
								</div>
					</div>
					<div class="col-xs-6 colxsgray">
						<div class="radioloa roamobd rliarormo">
						 <div class="checkbox icheck-success">
								 <input type="checkbox" id="canUseBlankHole" name="canUseBlankHole" value="1"/>
								 <label for="canUseBlankHole">使用空白孔</label>
								 </div>
							 </div>
					</div>
					</div>
				</div>
			</div>
	 	</div>
		</div>
		</div>
		</form>
			<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<!--bootstarp表格插件-->
	<script  th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<script th:src="@{/editable-select/jquery.editable-select.min.js}"></script>
	<!--mbb酶标板JS-->
	<script th:src="@{/js/business/elisa/elisa_hmoshe.js}"></script>
	</body>
</html>
