<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


	<head>
		<meta charset="UTF-8"/>
		<title>酶标板标题设置</title>
		<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<link th:href="@{/css/icheck-bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
		<style type="text/css">
			.newolod {	padding-left: 35%;			}
			#newpray .gray-bg .colx8 .inhenagoi{width: auto !important;}
		</style>
	</head>
	<body id="newpray">
			<div class="gray-bg ">
				<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
					<div class="col-xs-12 colx8 colnewo">
							<div class="row newregistr">
								<div class="col-xs-5">
									<div class="form-group newikrd">
										<label class="control-label UserC inhenagoi">酶标板标题：</label>
										<div class="input-group eliad">
						<input value=" " title="" class="form-control newfrin" />
										</div>
									</div>
								</div>
								<div class="col-xs-5">
									<div class="form-group newikrd">
										<label class="control-label UserC inhenagoi">当前使用 ：</label>
										<div class="input-group eliad">
											<select name="type" class="form-control">
												<option value="">请选择</option>
												<option value="">条码打印</option>
												<option value="">打印2</option>
											</select>
										</div>
									</div>
								</div>
							 	<div class="col-xs-1">
									<div class="form-group newikrd">
										<div class="input-group newInpa butnewikr">
											<button type="button" class="btn  btn-info" id="meibs">添加</button>
										</div>
									</div>
							</div>
					</div>
				</div>
			</div>
			<div class="gray-bg">
				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="row busr">
						<div class="col-md-12 bustrNew">
							<table class="layui-hide" id="jiemei" lay-filter="demo" style=""></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>

			<div class="gray-bg" id="" style="padding:initial ">
				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="row busr">
						<div class="col-md-12 bustrNew">
							<script type="text/html" id="barDemo">
								<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">修改</a>
								<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
							</script>
							<table class="layui-hide" id="jiemeim" lay-filter="demo" style=""></table>
						</div> 
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<!--mbb酶标板JS-->
	<script th:src="@{/js/business/elisa/elisa_meibshe.js}"></script>
	</body>
</html>
