<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<title>采浆机号-修改</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />

<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/list/usera.css}" rel="stylesheet" />
</head>
<style>
body {
	background: #FFF;
}
</style>
<body id="newpray">
	<div class="gray-bg " style="padding-top: 1em; padding-bottom: 1em;">
		<div class="wrapper wrapper-content animated fadeInRight weralid"
			style="">
			<!--基本信息及验证-->
			<form id="updateDepotForm">
				<div class="col-xs-12 colx8" style="padding-right: 4em;">

					<div class="row">
						<div class="ibox-content">

							<div class="row form-horizontal">
								<div class="col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="control-label col-xs-4"
											style="line-height: 2em;"> 机号名称：<font color="red">*</font>
										</label>
										<div class="col-xs-8 input-group">
											<input name="id" th:value="${machineNumber.id}" type="hidden" />
											<input id="name" th:value="${machineNumber.name}" name="name"
												class="form-control required" placeholder="请输入机号名称" />
										</div>
									</div>
								</div>
							</div>

							<div class="row form-horizontal">
								<div class="col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="control-label col-xs-4"
											style="line-height: 2em;"> 机器状态：<font color="red">*</font>
										</label>
										<div class="col-xs-8 input-group">
											<input name="statusId" id="statusId"
												th:value="${machineNumber.status}" type="hidden" /> <select
												title="请选择状态" id="status" name="status"
												class="form-control required">
												<option value="">请选择</option>
												<option value="0">正常</option>
												<option value="1">损坏</option>
												<option value="2">报废</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row form-horizontal">
								<div class="col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="control-label col-xs-4"
											style="line-height: 2em;"> 采浆机型：<font color="red">*</font>
										</label>
										<div class="col-xs-8 input-group">
											<input name="plasmType" id="plasmType"
												th:value="${machineNumber.plasmTypeId}" type="hidden" /> <select
												title="请选择机型" id="plasmTypeId" name="plasmTypeId"
												class="form-control required">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row form-horizontal">
								<div class="col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="control-label col-xs-4"
											style="line-height: 2em;"> 采室：<font color="red">*</font>
										</label>
										<div class="col-xs-8 input-group">
											<input name="room" id="room" th:value="${plasmType.roomId}"
												type="hidden" /> <select title="请选择采室"
												onchange="queryPlasmTypeByMachine()" id="roomId"
												name="roomId" class="form-control required">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row form-horizontal">
								<div class="col-sm-12 col-xs-12">
									<div class="form-group">
										<label class="control-label col-xs-4"
											style="line-height: 2em;"> 机号类型：<font color="red">*</font>
										</label>
										<div class="col-xs-8 input-group">
											<input name="typeId" id="typeId"
												th:value="${machineNumber.type}" type="hidden" /> <select
												title="请选择类型" id="type" name="type"
												class="form-control required">
												<option value="">请选择</option>
												<option value="0">未使用</option>
												<option value="1">使用中</option>
											</select>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group newformcol">
							<div class="pull-right" style="margin-top: 1em">
								<button type="submit" class="btn  btn-info"
									style="margin-right: 1em;">确定</button>
								<button type="button" class="btn  btn-info" id="cannel">取消</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- form表单提交 -->
	<script th:src="@{/js/jquery-form.js}"></script>
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<script th:src="@{/js/collectionConfig/machineNumber_details.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
</body>
</html>
