<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type"
	content="multipart/form-data; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<title>采浆机型-新增</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/list/usera.css}" rel="stylesheet" />
</head>
<style>
body {
	background: #FFF;
}
</style>
<body>
	<div>
		<div class="modal-content">
			<form id="addDepotForm" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="row">
						<div class="ibox">
							<div class="ibox-content">

								<div class="row form-horizontal">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label col-xs-4"
												style="line-height: 2.5em;"> 机型名称：<font color="red">*</font>
											</label>
											<div class="col-xs-8 input-group">
												<input title="请输入机型名称" id="name" name="name"
													class="form-control required" placeholder="请输入机型名称" />
											</div>
										</div>
									</div>
								</div>

								<div class="row form-horizontal">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label col-xs-4"
												style="line-height: 2.5em;"> 是否选中：<font color="red">*</font>
											</label>
											<div class="col-xs-8 input-group">
												<select title="请选择状态" id="isSelected" name="isSelected"
													class="form-control required">
													<option value="">请选择</option>
													<option value="0">未选择</option>
													<option value="1">已选择</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row form-horizontal">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group">
											<label class="control-label col-xs-4"
												style="line-height: 2.5em;"> 采室名称：<font color="red">*</font>
											</label>
											<div class="col-xs-8 input-group">
												<select title="请选择采室" id="roomId" name="roomId"
													class="form-control required">
													<option value="">请选择</option>
												</select>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="col-xs-12 adminuser">
						<div class="form-group newformcol">
							<div class="pull-right">

								<button type="submit" class="btn  btn-info"
									style="margin-right: 1em;">确定</button>
								<button type="button" class="btn  btn-info" id="cannel">取消</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- form表单提交 -->
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>

	<script th:src="@{/layui-master/src/layui.js}"></script>

	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>

	<script th:src="@{/js/collectionConfig/plasmType_add.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
</body>

</html>