<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>用户管理</title>
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<link href="../../../css/list/usera.css" rel="stylesheet">
		<link href="../../../css/fileinput.min.css" rel="stylesheet">
	</head> 
	<body>
		<div class="">
			<div class="modal-content">
				<form id="newForm" enctype="multipart/form-data">

					<div class="modal-body">
						<div class="row">
							<div class="ibox">
								<div class="ibox-content">
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                   		 超级权限：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<select title="请选择用户角色" id="isSuper" name="isSuper" class="form-control required">
														<option value="">请选择</option>
														<option value="0">(否)超级管理员</option>
														<option value="1">(是)超级管理员</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                   		 角色权限：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<select title="请选择用户角色" id="roleId" name="roleId" class="form-control required">
														<option value="">请选择</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    姓名：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input title="请输入姓名" id="name" name="name" class="form-control required" placeholder="请输入姓名" />
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                      				                              性别：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<select title="请选择性别" id="sex" name="sex" class="form-control required">
														<option value="">请选择</option>
														<option value="0">男</option>
														<option value="1">女</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    用户名称：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input title="请输入用户名称" id="userName" name="userName" class="form-control required" placeholder="请输入用户名称" />
												</div>
											</div>
										</div>
									</div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                    手机号：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input title="请输入手机号" id="mobile" name="mobile" class="form-control required" placeholder="请输入手机号" />
												</div>
											</div>
										</div>
									</div>
										<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                                 		   密码：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<input type="password" title="请输入密码"  id="passWord" name="passWord" class="form-control required" placeholder="请输入密码" />
												</div>
											</div>
										</div>
									</div>
									
									<div class="row form-horizontal">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label col-xs-3">
                                                    附件<font color="red">*</font>
                                                </label>
                                                <div class="col-xs-8 input-group">
                                                	<input type="hidden" id="imageListInput" value="" />
                                                    <input title="请选择附件" type="file" id="imageList" name="imageList" class="file"  multiple data-min-file-count="1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div class="row form-horizontal">
										<div class="col-sm-12 col-xs-12">
											<div class="form-group">
												<label class="control-label col-xs-3">
                                             	       状态：<font color="red">*</font>
                                                </label>
												<div class="col-xs-8 input-group">
													<select title="请选择状态" id="isDisable" name="isDisable" class="form-control required">
														<option value="">请选择</option>
														<option value="0">不禁用</option>
														<option value="1">禁用</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
		<script src="../../../layui-master/src/layui.js"></script> 
		<script src="../../../js/fileinput/fileinput.js"></script>
   		<script src="../../../js/fileinput/zh.js"></script>
		<script src="../../../js/user/userList.js"></script>
		
	</body>

</html>