<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>角色管理</title> 
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet"> 
		<link href="../../../css/list/usera.css" rel="stylesheet">
		<style type="text/css">
		</style>
	</head> 
	<body> 
		 
	<div class="modal-dialog">
				<div class="modal-content">
					<form id="newForm">
						 
						<div class="modal-body">
							<div class="row">
								<div class="ibox">
									<div class="ibox-content"> 
										<div class="row form-horizontal">
											<div class="col-sm-12 col-xs-12">
												<div class="form-group">
													<label class="control-label col-xs-3">
                                                    名称：<font color="red">*</font>
                                                </label>
													<div class="col-xs-8 input-group">
														<input title="请输入名称" id="townName" name="townName" class="form-control required" placeholder="请输入名称" />
													</div>
												</div>
											</div>
										</div>

										<div class="row form-horizontal">
											<div class="col-sm-12 col-xs-12">
												<div class="form-group">
													<label class="control-label col-xs-3">
                                                    状态：<font color="red">*</font>
                                                </label>
													<div class="col-xs-8 input-group">
														<select title="请选择角色状态" id="companyName" name="companyName" class="form-control required">
															<option value="">请选择</option>
															<option value="">可用</option>
														</select>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div> 
					</form>
				</div>
			</div>
	</body>
</html>