<!DOCTYPE html>
<html> 
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>月统计</title>
		<!--table插件css-->
		<link rel="stylesheet" href="../../../layui-master/dist/css/layui.css">
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<!--本地css文件-->
		<link href="../../../css/list/log.css" rel="stylesheet">
	</head>
	<style type="text/css">
		.table td,
		.table th {font-style: normal;font-weight: normal;text-align: center;}
		.bootstrap-table {width: 100%;height: 387px;overflow-y: auto;}
	</style> 
	<body id="newpray" style="background: #FFF;">
		<div class="modal-dialog" style="margin: 0;">
			<div class="modal inmodal newolod Adanced" id="" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog new_model">
					<div class="modal-content">
						<form id="newForm">
							<div class="modal-body">
								<div class="row">
									<div class="ibox">
										<div class="ibox-content">
											<div class="row form-horizontal">
												<div class="col-sm-9 col-xs-12 colNewlnew">
													<label class="control-label UserC">登记日期：</label>
													<div class="input-group">
														<div class="col-xs-5 advancol">
															<input  class="form-control">
														</div>
														<div class="col-xs-1 advancolS">
															--
														</div>
														<div class="col-xs-5 advancol">
															<input  class="form-control">
														</div>
													</div>
												</div>
												<div class="col-sm-3 col-xs-12 colNewlnew busAdance">
													<button type="button" class="btn  btn-info">查询</button>
													<button type="button" class="btn  btn-info">导出到EXCEL</button>
												</div>
											</div>
											<div class="row form-horizontal">
												<div class="row busr">
													<div class="col-md-12 adancer">
														<div class="buscolmd">
															<table class="layui-table" lay-filter="parse-table-demo">
																<thead>
																	<tr>
																		<td rowspan="2" lay-data="{field:'louceng', width:150}">编号</td>
																		<td rowspan="2" lay-data="{field:'louceng', width:150}">日期</td>
																		<td colspan="3" lay-data="{ width:150}">供血浆者登记</td>
																		<td colspan="3" lay-data="{ width:150}">体检人数</td>
																		<td colspan="3" lay-data="{ width:150}">永柜人数</td>
																		<td rowspan="2" lay-data="{field:'louceng', width:150}">备注</td>
																	</tr>
																	<tr>
																		<td lay-data="{field:'men1', width:150}">老将员人数</td>
																		<td lay-data="{field:'men2', width:150}">新浆员人数</td>
																		<td lay-data="{field:'men3', width:150}">合计</td>
																		<td lay-data="{field:'men4', width:150}">老将员人数</td>
																		<td lay-data="{field:'men5', width:150}">新浆员人数</td>
																		<td lay-data="{field:'men6', width:150}">合计</td>
																		<td lay-data="{field:'men7', width:150}">老将员人数</td>
																		<td lay-data="{field:'men8', width:150}">新浆员人数</td>
																		<td lay-data="{field:'men9', width:150}">合计</td>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>1</td>
																		<td>30万</td>
																		<td>20万</td>
																		<td>60万</td>
																		<td>100万</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																	</tr>
																	<tr>
																		<td>1</td>
																		<td>30万</td>
																		<td>20万</td>
																		<td>60万</td>
																		<td>100万</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																	</tr>
																	<tr>
																		<td>1</td>
																		<td>30万</td>
																		<td>20万</td>
																		<td>60万</td>
																		<td>100万</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																	</tr>
																</tbody>
																<footer>
																	<tr>
																		<td lay-data="{field:'men1', width:150}">0</td>
																		<td>30万</td>
																		<td>20万</td>
																		<td>60万</td>
																		<td>100万</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>看着办</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																		<td>发发发</td>
																	</tr>
																</footer> 
															</table>
														</div>
														 
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!--jQuery包-->
	<script src="../../../js/jquery.min.js"></script>
	<!--layer插件包-->
	<script src="../../../layui-master/src/layui.js" charset="utf-8"></script>
	<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
	<!--本地js文件--> 

</html>