<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>检验项目设置-默认设置</title>
		<link rel="stylesheet" href="../../../layui-master/src/css/layui.css">
		<!--bootstarp-->
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<!---->
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<!--文件上传-->
		<link href="../../../css/fileinput.min.css" rel="stylesheet">
		<!---->
		<link href="../../../css/common.css" rel="stylesheet">
		<!--新献浆员登记css-->
		<link href="../../../css/list/log.css" rel="stylesheet">
		<style type="text/css">
			.newolod {padding-left: 35%;}
		</style>
	</head>

<body id="newpray">
	<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid">
			<!--基本信息及验证-->
			<div class="col-xs-12 colx8 colnewo">
				<div class="row newregis indegirtion">
					<p class="grayP">
						<label class="grayLa ">基本信息</label></p>
					<div class="row newregistr">
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>姓名</la>：</label>
								<div class="input-group  inhemog">
									<input value=" " title="" class="form-control newfrin">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>类型</la>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" class="form-control newfrin">
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi">献浆卡号：</label>
								<div class="input-group inhemog">
									<input value=" " title="" class="form-control newfrin">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>性别</la>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" class="form-control newfrin">
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><ls>小样号</ls>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" class="form-control newfrin">
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><ls>登记号</ls>：</label>
								<div class="input-group inhemog">
									<input  class="form-control newfrin">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row newrowseg">
					<p class="grayP" style="margin-bottom: 2em;">
						<label class="grayLa ">检测信息</label></p>
					<div class="col-xs-4 coload indmp">
						<div class="coloadDi">
							<div class="newIdr">检测项目</div>
							<div class="form-group newikrd">
								<div class="input-group" style="PADDING: 1.4EM 0;">
									<label class="control-label UserC Usnre">检测值：</label>
									<input  class="form-control newfrin" id="inputNewS" style=" width: 74% !important;">
								</div>
								<div class="input-group">
									<label class="control-label UserC Usnre">检测值：</label>
									<input  class="form-control newfrin" id="inputNewS" style=" width: 74% !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 coload indmp">
						<div class="coloadDi">
							<div class="newIdr">检测项目</div>
							<div class="form-group newikrd">
								<div class="input-group" style="PADDING: 2.7EM 0;">
									<label class="control-label UserC Usnre">检测值：</label>
									<select name="type" class="form-control" style=" width: 74% !important;">
										<option value="">请选择</option>
										<option value="">液面下</option>
										<option value="">液面下</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4"></div>
				</div>
				<div class="row newrowseg">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr">
							<button type="button" class="btn  btn-info">确定</button>
							<button type="button" class="btn  btn-info">打印</button>
							<button type="button" class="btn  btn-info">导出到EXCEL</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA">
				<div class="col-xs-12">
					<div class="ibox">
						<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal">
								<div class="col-xs-5 colikra">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4">浆员信息列表</label>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4">日期</label>
										<div class="input-group col-xs-8 date">
											<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="2017-06-25" class="form-control" />
											<span class="input-group-addon">至</span>
											<input name="endTime" id="endTime" type="text" placeholder="结束日期" title="请输入结束日期" value="2017-06-25" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-xs-1">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="button" class="btn  btn-info">查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row busr">
				<div class="row busr_sxid sxideNew">
					<ul></ul>
				</div>
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<!--	<table class="layui-hide" id="newtest" lay-filter="demo"></table>-->
					<table class="layui-table" id="inhemogS" lay-filter="parse-table-demo" style=""></table>

					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--jQuery包-->
	<script src="../../../js/jquery.min.js"></script>

	<!--bootstarp表格插件-->
	<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
	<!--layer插件包-->
	<script src="../../../layui-master/src/layui.js" charset="utf-8"></script>
	<!--新献浆员登记JS-->
	<script src="../../Business/Inspection/Inprotein.js"></script>

</body></html>