<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<title>检疫期列表</title>
<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
<!--bootstarp-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!--新献浆员登记css-->
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<style type="text/css">
.newolod {
	padding-left: 35%;
}
.newregis{    padding: 1em 0;}
.layui-layer-page .layui-layer-content {
	padding-bottom: 1em;
	overflow: hidden !important;
}

#bisudcost {
	position: fixed;
	top: 42%;
	z-index: 9999;
	left: 32%;
	right: 0px;
	width: 28em !important;
	padding: 1em 0;
	background: #fff;
	display: block;
	border: 1px solid #e6e6e6;
}
</style>
</head>

<body id="newpray">
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="col-xs-12 colx8 colnewo">
						<div class="row newregis"> 
							<div class="row newregistr">
								<div class="col-xs-3 colxsgray">
									 <div class="form-group newikrd">
										 <label class="control-label UserC">姓名：</label>
										<div class="input-group">
											<input  id="name" type="text" class="form-control newfrin" />
										</div>
									</div>
								</div>
								<div class="col-xs-3 colxsgray">  
									<div class="form-group newikrd">
										<label class="control-label UserC">开始天：</label>
										<!-- <div class="input-group">
											<input  class="form-control newfrin" id="remark" />
										</div> -->
										<div class="input-group">
									<div class="col-xs-5 advancol">
										<input value="180" title="" type="text" class="form-control" id="startDay" />
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input value="360" title="" type="text" class="form-control" id="endDay" />
									</div>
								</div>
									</div>
								</div>
								
								<div class="col-xs-3 colxsgray"> 
								<div class="form-group newformcol">
											<div class="pull-left">
												<button type="button" class="btn  btn-info" style="margin: 0 1em;" id="searchBtn">查询</button>
												<button type="button" class="btn  btn-info" style="margin: 0 1em;" id="reset">重置</button>
												<!-- <button type="hidden" class="btn  btn-info" id="bindAdd">新增绑定</button> -->
											</div>
										</div>
								</div> 
							</div>
						</div>
				 	
				</div> 
			<div class="row busr">
				<div class="col-md-12 bustrNew">
					<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">登记</a>
						</script>
					<table class="layui-hide" id="newtestS" lay-filter="demo"></table>
				</div>
			</div>
		</div>
	</div>


	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.webcam.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/business/quarantine/quarantine_list.js}"></script>

	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/dateUtil.js}"></script>
</body>

</html>