<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
		<meta charset="UTF-8"/>
		<title>详情页面</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<!---->
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!---->
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head>
<style type="text/css">
	.indegirtion .btn-info{    margin-right: 1em;}
</style> 
	<body id="newpray">
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
			</div>
		</div>
		<div class="gray-bg" id="" style="">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style="">
				<input name="providerNo" id="providerNo" th:value="${providerNo}" type="hidden"/>
				</div>
				<div class="row busr" style="margin-left: -2em!important; margin-right: -0.5em !important;">
					<div class="col-md-12 bustrNew">
						<table class="layui-table" id="details" lay-filter="page" style=""></table>
					</div>
				</div>
			</div>
		</div> 
	</body>
	<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共类 -->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/business/register/collection_count_details.js}"></script>
</html>
