<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>献浆员登记</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<link th:href="@{/css/icheck-bootstrap.css}"  rel="stylesheet" />
		<style type="text/css">
		.newolod {padding-left: 35%;}
		 body .layui-layer-content{background-color:  #FFF !important; color: #f6f8f7;}
		 .newrowseg {margin-top:0em}
		 	.layui-table-view {margin: 12px 0;}
			.fliespan label {
				position: absolute;
				bottom: -2.1em;
			} 
			.newikrds {
				float: left;
				width: 100%
			} 
			.aralbcks {
				float: left;
				margin-top: 0.1em;
				text-align: right;
			} 
			.aralbcka {
				float: right;
				width: 4em;
				margin-left: 1em;
			} 
			.aralbcka input {
				width: 88%
			}
		 </style>
	</head> 
<body id="newpray">  
	<!-- <form id="aa" enctype="multipart/form-data"> -->
	<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid">
			<!--基本信息及验证--> 
			<div class="col-xs-9 colx8 colnewo">
				<div class="row newregis">
					<p class="grayP">
						<label class="grayLa ">基本信息</label></p>
					<div class="row newregistr">
						<div class="col-xs-4 colxsgray">  
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>姓名</la>：</label>
								<div class="input-group">
								<input id="id" type="hidden"/>
									<input value="" id="name" title=""  readonly="readonly" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>血型</la>：</label>
								<div class="input-group">
									<input value="" id="bloodType" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">献浆编号：</label>
								<div class="input-group">
									<input value="" id="providerNo"  title="" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>类型</la>：</label>
								<div class="input-group">
									<input value="" id="immuneName" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC"><ls>效价值</ls>：</label>
								<div class="input-group">
									<input value="" id="effectiveValue" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div> 
								<div class="form-group newikrd">
								<label class="control-label UserC">断档登记号：</label>
								<div class="input-group" style="width:69%;">
								<select name="break" id="breakNumber" class="form-control"  >
								<option value="">请选择</option>
								</select>
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC"><ls style="letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
								<div class="input-group">
									<input value="" id="icNumber" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div> 
							<div class="form-group newikrd">
								<label class="control-label UserC"><ls>登记号</ls>：</label>
								<div class="input-group">
									<input value="" id="registriesNo" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>

							<div class="form-group newikrd">
								<label class="control-label UserC"><la>性别</la>：</label>
								<div class="input-group">
									<input value="" id="sex" title="" readonly="readonly" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">免疫编号：</label>
								<div class="input-group">
									<input value="" id="immuneRegisterId" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">手机号码：</label>
								<div class="input-group">
									<input value="" id="phone" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
								<div class="form-group newikrd">
								<label class="control-label UserC"><la>备注</la>：</label>
								<div class="input-group">
									<input value="" id="remarks" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
							
					</div>
						<div class="col-xs-4 colxsgray">
<div class="form-group newikrd">
								<label class="control-label UserC">最近采浆日期：</label>
								<div class="input-group reioade" style="width:64%">
									<input value="" id="collection" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC">最后效价日期：</label>
								<div class="input-group reioade" style="width:64%">
									<input value="" id="valencyDate" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div> 
							<div class="form-group newikrd">
								<label class="control-label UserC">本月采浆次数：</label>
								<div class="input-group reioade" style="width:64%">
									<input value="" id="month" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div> 
							<div class="form-group newikrd">
								<label class="control-label UserC">本年采浆次数：</label>
								<div class="input-group reioade" style="width:64%">
									<input value="" id="year" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
							</div> 
							<div class="form-group newikrds">
									<div class="input-group inhemog" style="float: left;width: 100%;">
										<div style=" float: left;">
											<label style="float:right;margin-top: 0.5em;">元</label>
											<div class="aralbcka">
												<input id="roadFee" name="roadFee" value="0" type="text" readonly="readonly" style="text-align: center;" />
											</div>
											<div style="float:right">
												<div class="aralbcks">
													<div class="radio icheck-success">
														<input type="radio" id="default1" value="0"  name="roadFeeType" checked="checked" />
														<label for="default1">路费</label>
													</div>
												</div>
												<div class="aralbcks">
													<label>
														<div class="radio icheck-success">
															<input type="radio" id="default2" value="1" name="roadFeeType"/>
															<label for="default2">车补</label>
														</div>
													</label>
												</div>
											</div>
										</div>
									</div>
								<div class="form-group newikrd">
								<label class="control-label UserC"><ls>小组名称</ls>：</label>
								<div class="input-group reioade" style="width:64%">
									<input value="" id="groupName" readonly="readonly" title="" class="form-control newfrin"/>
								</div>
								</div>
							</div> 
							
						</div>
					</div>
				</div>
				<div class="row newrowseg">
					<p class="grayP" style="margin-bottom: 2em;">
						<label class="grayLa ">分配验证</label></p>
					<div class="col-xs-6 coload ">
						<div class="coloadDi" style="  padding: 2.9em 0;">
							<div class="newIdr">验证方式</div>
							<div class="form-group newikrd">
								<label class="control-label UserC Usnre">验证方式：</label>
								<!-- <button type="button" class="btn  btn-info " id="Newvarfisc">静脉验证</button> -->
								<button type="button" class="btn  btn-info " id="face">面部验证</button>
							</div>
							<div class="form-group newikrd">
								<div class="input-group newgroup">
								</div>
							</div> 
						</div>
					</div>
					<div class="col-xs-6 coload">
						<div class="coloadDi coloare" style="  padding: 2.9em 0;">
							<div class="newIdr">选 择 项</div>
							<div class="form-group newikrd">
									<div class="input-group">
										<label class="control-label UserC Usnre">打印方式：</label>
										<div class="input-group col-xs-8 date" id="inputNewS">
											<select name="printing" id="printing" class="form-control">
												<option value="0">小票打印</option>
												<option value="1">条码打印</option>
											</select>
										</div>
									</div>
								</div>
						</div>
					</div>
						<input type="hidden" name="result" value="1" id="result"/><!--是否验证成功 -->
						<input type="hidden" name="type" value="0" id="type"/><!--人工通过设置验证类型2 -->
						<input type="hidden" id="providerNo" value=""/>
				</div>
				<div class="row" style="margin-top:1.7em">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr">
							<shiro:hasPermission name="registration:add">
							<button type="button" id="dengji" onclick="register()" class="btn  btn-info">登记</button>
							</shiro:hasPermission>
							<shiro:hasPermission name="registration:query">
							<button type="button" onclick="calculation()" class="btn  btn-info">查询</button>
							</shiro:hasPermission>
							<button type="button" onclick="printing()" class="btn  btn-info">打印</button>
							<shiro:hasPermission name="registration:query">
							<button type="button" onclick="read()" class="btn  btn-info">读取</button>
							</shiro:hasPermission>
							<button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
							<button type="button" class="btn  btn-info Phyegis" id="check_print">打印体格表</button>
							<shiro:hasPermission name="registration:phone">
							<button type="button" class="btn  btn-info Phyegis" id="updatephone">修改手机号</button>
							</shiro:hasPermission>
							<shiro:hasPermission name="registration:addCost">
								<button type="button" class="btn  btn-info" id="add_cost">添加路费</button>
							</shiro:hasPermission>
						</div>
					</div>
				</div>
			</div> 
			<!--上传证件及照片-->
			<div class="col-xs-3 colnewo">
					<div class="row">
						<div class="col-xs-12">
							<p>证件照</p >
						</div>
						<div class="col-xs-12 coldiv">
							<div class="layui-upload-list">
								<img  th:src="@{/img/new_pa1.png}" id="demo1" style=" height: 13em; width:auto" />
								<img  th:src="@{/img/new_pa1.png}" id="demo3" style=" height: 0em; width:auto" />
								<p id="demoText"></p >
							</div>
						</div>
						<div class="row">
						</div>
					</div>
					<div class="row" style=" margin-top: 2em;">
						<div class="col-xs-12">
							<p>现场照片</p >
						</div>
						<div class="col-xs-12 coldix" style="margin-bottom:1em">
						<img id="imageFace_show"  class="layui-upload-img" th:src="@{/img/new_pa1.png}" style="width: auto;height: 13em;position: static;" />
							<input id="imageFace" type="hidden"/>
						</div>
					</div>
				</div>
		</div>
	</div>
<!-- </form> -->
	<div class="gray-bg" >
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA">
				<div class="col-xs-12">
					<div class="ibox">
						<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal">
							<div class="col-xs-7 colikra" style="  margin-left:-1%;  margin-top: 1.2em;">  
									<div class="form-group newformcol">
										<label class="control-label col-xs-4" style="margin:0;padding:0;">浆员信息列表</label>
									</div>
								</div>
								
								<div class="col-xs-4"  style="  margin-top: 0.8em;">
									<div class="form-group newformcol">
										<label class="control-label col-xs-7 UserCS">日期</label>
										<div class="input-group col-xs-5 date">
											<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-xs-1"  style="  margin-top: 0.8em;">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="button" id="query" class="btn  btn-info">查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row busr"> 
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
						</script>
					<table class="layui-hide" id="newtest" lay-filter="page"></table>
					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script> 
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/js/zoom.js}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<!-- 人脸识别 -->
	<script  th:src="@{/js/common/start_camera.js}"></script>
	<!--新献浆员登记JS-->
	<script th:src="@{/js/business/register/registration.js}"></script> 
<script th:src="@{/js/dateUtil.js}"></script>
<script th:src="@{/js/imgx.js}"></script> 
	<img src="" alt="" class="bigimg" />
<div class="mask">
	<img src="" alt="" />
</div>
</body>
</html>