<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadl.supplies.dao.ReturnMapper">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fadl.supplies.entity.Return">
		<id column="id" property="id" />
		<result column="batchNumber" property="batchNumber" />
		<result column="returnOrder" property="returnOrder" />
		<result column="reason" property="reason" />
		<result column="num" property="num" />
		<result column="status" property="status" />
		<result column="createDate" property="createDate" />
		<result column="updateDate" property="updateDate" />
		<result column="creater" property="creater" />
		<result column="updater" property="updater" />
		<result column="plasmaId" property="plasmaId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, batchNumber, returnOrder, reason, num, status, createDate, updateDate, creater, updater, plasmaId
    </sql>
    
    <!-- 查询退还列表 -->
    <select id="queryReturnList" resultType="com.fadl.common.DataRow" parameterType="com.fadl.supplies.entity.Return">
    	SELECT  * FROM f_supplies_return
		WHERE 1=1
		<if test="returnOrder!=null and returnOrder!=''">
		AND returnOrder LIKE CONCAT('%',#{returnOrder},'%')
		</if>
		<if test="createDate!=null and createDate!='' and updateDate!=null and updateDate!=''">
		AND DATE_FORMAT(createDate,'%Y-%m-%d') BETWEEN #{createDate} AND #{updateDate}
		</if>
		<if test="status!=null">
		AND status=#{status}
		</if>
		GROUP BY returnOrder
    </select>
    <!-- 详情页面 -->
    <select id="queryReturnDatelis"  resultType="com.fadl.common.DataRow" parameterType="java.util.Map">
		SELECT  tp.id,tl.name,tk.name as type,tf.name as unit,tg.name as supply,tp.batchNumber,tp.num,tp.createDate FROM f_supplies_return tp
		LEFT JOIN f_supplies_info tl
		ON tp.suppliesId=tl.id
		LEFT JOIN f_supplies_type tk
		ON tk.id=tl.typeId
		LEFT JOIN f_supplies_supply tg 
		ON tg.id = tl.supplyId
		LEFT JOIN f_unit tf
		ON tf.id=tl.unitId
		WHERE returnOrder=#{returnOrder}
	</select>
</mapper>
