<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>用户管理</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<link th:href="@{/css/list/usera.css}" rel="stylesheet"/>
		<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet"/>
	 
	</head>

	<body>
		<div class="gray-bg" id="mainframe">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style=" ">
					<div class="col-xs-12">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal">
									<div class="col-xs-2">
										<div class="form-group reuse">
											<label class="control-label col-xs-4">系统用户列表</label>
										</div>
									</div>
									<div class="col-xs-3">
										<div class="form-group reuseS">
											<label class="control-label col-xs-6 UserC">角色：</label>
											<div class="input-group col-xs-6">
												<select title="请选择用户角色" id="roleId" name="roleId" class="form-control required">
													<option value="">请选择</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-3">
										<div class="form-group reuseS">
											<label class="control-label col-xs-6 UserC">姓名：</label>
											<div class="input-group col-xs-6">
												<input placeholder="请输入姓名" id="searchName" title="至少输入两个字符" class=" login_input reg_user" style="width: 100%"/>
											</div>
										</div>
									</div>
									<div class="col-xs-3">
										<div class="form-group reuseS">
											<label class="control-label col-xs-6 UserC">电话：</label>
											<div class="input-group col-xs-6">
												<input placeholder="请输入电话" id="searchMobile" title="至少输入两个字符" class=" login_input reg_user" style="width: 100%"/>
											</div>
										</div>
									</div>
									<div class="col-xs-1">
										<div class="form-group ">
											<div class="pull-right">
												<button type="button" id="searchBtn" class="btn  btn-info">查询</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row" style="padding: 0.5em 1.2%;">
						<div class="col-xs-12 modifa">
							<div class="row form-horizontal">
								<ul class="col-xs-4 ">
									<i class="fa fa-home"></i>
									<div class="form-group Ueski">
										<div class="pull-right pulluserlo">
											<shiro:hasPermission name="admin:add">
												<button type="button" id="userAdd" class="btn  btn-info butIdin">新增</button>
											</shiro:hasPermission>
											<shiro:hasPermission name="admin:del">
												<button type="button" id="userDel" class="btn btn-info butIdin batchDel" data-type="getCheckData" style=" margin-left: 1em;background-color: #65c979;height: 34px;">批量删除</button>
											</shiro:hasPermission>
										</div>
									</div>
								</ul>
								<ul class="col-xs-8">
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="margin-top: -2em;">
						<!--table表格-->
						<script type="text/html" id="barDemo">
							<shiro:hasPermission name="admin:update">
								<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">修改</a>
							</shiro:hasPermission>
							<shiro:hasPermission name="admin:del">
								<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
							</shiro:hasPermission>

							<shiro:lacksPermission name="admin:update">
								<shiro:lacksPermission name="admin:del">
									<a class="layui-btn layui-btn-danger layui-btn-xs">无权限操作</a>
								</shiro:lacksPermission>
							</shiro:lacksPermission>
						</script>
						<table class="layui-hide" id="usertable" lay-filter="page" ></table>

						<div class="row">
							<div class="col-md-7 col-sm-12">
								<div class="dataTables_paginate bootstrap_full_number">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<!--用户管理js包-->
		<script th:src="@{/js/user/admin_list.js}"></script>
	</body>

</html>