<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>权限管理</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/js/treeview/zTreeStyle.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<link th:href="@{/css/list/usera.css}" rel="stylesheet" />
	</head>
	<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="newForm">
				<div class="modal-body">
					<div class="row">
						<div class="ibox">
							<div class="ibox-content">
								<div class="row form-horizontal">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group" style="margin-left: -24%;">
											<label class="control-label col-xs-3">角色名称：<font color="red"></font></label>
											<div class="col-xs-8 input-group">
												<select name="type" onchange="loadpermission()" class="form-control" id="roleId">
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row form-horizontal">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group" style="margin-left: -24%;">
											<label class="control-label col-xs-3">权限分配：<font color="red"></font></label>
											<div class="col-sm-8" style="  overflow-y: auto;padding: 0;">
												<div id="menuTrees"></div>
												<!--权限树形菜单-->
												<div class="zTreeDemoBackground left">
													<ul id="treeDemo" class="ztree"></ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group newformcol">
								<div class="pull-right" id="juria">
									<button type="button" class="btn  btn-info" id="treebut" onclick="jurad()" style=" margin-right: 1em;">确定</button>
									<button type="button" class="btn  btn-info" id="cannel">取消</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	</body>
	<script type="text/javascript" th:src="@{/js/treeview/js/jquery-1.4.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/treeview/js/jquery.ztree.core-3.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/treeview/js/jquery.ztree.excheck-3.4.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/user/permission_list.js}"></script>

</html>
