<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Examples</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/department.css}" rel="stylesheet"/>
     <!-- 引入确认提示框、***、***样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
	 <!-- 提示框CSS -->
    <link rel="stylesheet" th:href="@{/css/alert.css}"/>
	
<body>
    <div id="app">
    <!-- 新增工作人员 -->
    <el-dialog title="新增工作人员" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.name" auto-complete="off"></el-input>
                </el-form-item>
                 <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-select v-model="form.gender" placeholder="请选择性别">
                    	<el-option label="女" value="0"></el-option>
                        <el-option label="男" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="岗位" :label-width="formLabelWidth">
                    <el-input v-model="form.post" auto-complete="off"></el-input>
                </el-form-item>
               
                <el-form-item label="出生日期" :label-width="formLabelWidth">
                	 <el-date-picker v-model="form.birth" type="date" placeholder="选择日期" value-format="yyyy-MM-dd"  :picker-options="pickerOptions"></el-date-picker>
                </el-form-item>
                <el-form-item label="学历" :label-width="formLabelWidth">
                <el-select v-model="form.education" placeholder="请选择学历">
                  		<el-option label="初高中" value="0"></el-option>
                        <el-option label="大专" value="1"></el-option>
                        <el-option label="本科" value="2"></el-option>
                        <el-option label="硕士" value="3"></el-option>
                        <el-option label="博士" value="4"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="户籍" :label-width="formLabelWidth">
                    <el-input v-model="form.register" auto-complete="off"></el-input>
                </el-form-item>
                 <el-form-item label="婚否" :label-width="formLabelWidth">
                 <el-select v-model="form.isMarry" placeholder="请选择婚否">
                  		<el-option label="未婚" value="0"></el-option>
                        <el-option label="已婚" value="1"></el-option>
                    </el-select>
                </el-form-item>
                 <el-form-item label="入职日期" :label-width="formLabelWidth">
                 	<el-date-picker v-model="form.entryDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd"></el-date-picker>
                </el-form-item>
                 <el-form-item label="手机" :label-width="formLabelWidth">
                    <el-input v-model="form.phone" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                <!-- <el-button type="primary" v-on:click="dialogFormVisible = false" v-on:click="determine">确 定</el-button> -->
                <el-button type="primary"  v-on:click="determine">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 修改弹框 -->
        <el-dialog title="修改工作人员" :visible.sync="dialogFormModify">
            <el-form :model="modify">
				<input id="hrId" type="hidden"/>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="modify.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-select v-model="gender" placeholder="请选择性别">
                    <el-option  v-for="item in optionsex" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="岗位" :label-width="formLabelWidth">
                    <el-input v-model="modify.post" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="出生日期" :label-width="formLabelWidth">
                    <el-date-picker v-model="modify.birth" type="date" placeholder="选择日期" value-format="yyyy-MM-dd"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="学历" :label-width="formLabelWidth"><!-- modify.education -->
                    <el-select v-model="education"  placeholder="请选择学历">
                    <el-option  v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                  
                    </el-select>
                </el-form-item>
                <el-form-item label="户籍" :label-width="formLabelWidth">
                    <el-input v-model="modify.register" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="婚否" :label-width="formLabelWidth">
                    <el-select v-model="isMarry" placeholder="请选择婚否">
                     <el-option  v-for="item in optionisMarry" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="入职日期" :label-width="formLabelWidth">
                    <el-date-picker v-model="modify.entryDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd"
                        :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="联系电话" :label-width="formLabelWidth">
                    <el-input v-model="modify.phone" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogFormModify = false">取 消</el-button>
                <el-button type="primary" v-on:click="updateHrInfo" class="alert-btn1">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 修改基础信息-->
        <el-dialog title="修改基础信息" :visible.sync="updateFormVisible">
            <el-form :model="update">
                <el-form-item label="机构名称" :label-width="formLabelWidth">
                    <el-input  v-model="update.agentName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="机构地址" :label-width="formLabelWidth">
                    <el-input  v-model="update.address" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="机构负责人" :label-width="formLabelWidth">
                    <el-input  v-model="update.master" auto-complete="off"></el-input>
                </el-form-item>
                 <el-form-item label="机构座机电话" :label-width="formLabelWidth">
                    <el-input  v-model="update.landline" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="负责人手机号码" :label-width="formLabelWidth">
                    <el-input v-model="update.phone" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="负责人联系邮箱" :label-width="formLabelWidth">
                    <el-input  v-model="update.mailbox" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="updateFormVisible = false">取 消</el-button>
                <!-- <el-button type="primary" v-on:click="dialogFormVisible = false" v-on:click="determine">确 定</el-button> -->
                <el-button type="primary"  v-on:click="updateAgen">确 定</el-button>
            </div>
        </el-dialog>
        <div class="header">
            <div class="img">
                <img th:src="@{/img/home.png}" alt=""/>
            </div>
            <div class="home">信息管理＞机构管理</div>
        </div>
        <div class="content">
            <div class="history">
                <div class="icon">
                    <img th:src="@{/img/msg.png}" alt=""/>
                </div>
                <p>机构信息</p>
            </div>
            <div class="table">
            <input id="agentId" type="hidden"/>
                <table class="table table-bordered">
                    <div class="clearfix" style="padding: 10px 0;">
                        <div class="pull-left">
                            基础信息
                        </div>
                        <div class="pull-right">
                        	<button type="button" class="btn btn-primary" v-on:click="updateFormVisible = true" onclick="updateAgentInfo()">修改基础信息
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                        </div>
                    </div>
                    <tbody>
                        <tr>
                            <td style="color:#4985cb; font-weight: bold;">机构名称</td>
                            <td id="agentName"></td>
                            <td style="color:#4985cb; font-weight: bold;">地址</td>
                            <td id="address"></td>
                        </tr>
                        <tr>
                            <td style="color:#4985cb; font-weight: bold;">机构负责人</td>
                            <td id="master"></td>
                            <td style="color:#4985cb; font-weight: bold;">机构座机电话</td>
                            <td id="landline"></td>
                        </tr>
                        <tr>
                            <td style="color:#4985cb; font-weight: bold;">负责人手机号码</td>
                            <td id="phone"></td>
                            <td style="color:#4985cb; font-weight: bold;">负责人联系邮箱</td>
                            <td id="mailbox"></td>
                        </tr>
                        <tr>
                            <td style="color:#4985cb; font-weight: bold;">开始使用日期</td>
                            <td id="endDate"></td>
                            <td style="color:#4985cb; font-weight: bold;">预计到期日期</td>
                            <td id="startDate"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover" id="table">
                    <div class="clearfix" style="padding: 10px 0;">
                        <div class="pull-left">
                            工作人员信息
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" v-on:click="dialogFormVisible = true">新增工作人员信息
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </button>
                            
                        </div>
                    </div>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>年龄</th>
                            <th>籍贯</th>
                            <th>学历</th>
                            <th>婚否</th>
                            <th>岗位名称</th>
                            <th>入职日期</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) of slist">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.birth}}</td>
                            <td>{{item.age}}</td>
                            <td>{{item.register}}</td>
                            <td>{{item.education}}</td>
                            <td>{{item.isMarry}}</td>
                            <td>{{item.post}}</td>
                            <td>{{item.entryDate}}</td>	
                            <td>{{item.phone}}</td>
                            <td>
                            
                             <button type="button" class="btn btn-primary btn-mod" v-on:click="dialogFormModify=true"><span class="mod" v-on:click="change(item.id)">修改</span></button>
                             <button type="button" class="btn btn-warning" v-on:click="deleteRow(item.id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
                <div class="block">
				    <el-pagination
				     v-on:size-change="handleSizeChange"
				      v-on:current-change="handleCurrentChange"
				      background="background"
			
				      :page-sizes="[10, 20, 30, 40]"
				      :page-size="10"
				      layout="total, sizes, prev, pager, next, jumper"
				      :total="total">
				    </el-pagination>
				  </div>
            </div>
        </div>
    </div>
   		<script th:src="@{/js/vue.js}"></script>
   		<script th:src="@{/js/jquery.min.js}"></script>
   		<script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/axios.min.js}"></script>
	    <!-- 确认提示框、***、**** -->
	    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	    <!-- 提示框 -->
    	<script th:src="@{/js/tips/alert.js}"></script>
	    
	    <script th:src="@{/js/common/utils.js}"></script>
	    <script th:src="@{/js/department/department.js}"></script>
</body>
</head>
</html>
