<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plasma.buss.lock.dao.PasswordLockDao">
    <!-- 查询锁登记列表 -->
    <select id="queryPasswrodLockList" resultType="DataRow" parameterType="java.util.Map">
        select fpl.hid,fpl.createDate,fps.plasmaName from f_password_lock fpl left join f_plasma_site fps
			on fpl.plasmaId=fps.code where 1=1
        <if test="startDate != null and startDate != '' ">and DATE_FORMAT(fpl.updateDate,'%Y-%m-%d') &gt;= #{startDate}</if>
        <if test="endDate != null and endDate != '' ">and DATE_FORMAT(fpl.updateDate,'%Y-%m-%d') &lt;= #{endDate}</if>
        <if test="plasmaId1 != null and plasmaId1 != '' ">and fpl.plasmaId=#{plasmaId1}</if>
        LIMIT ${pageNum},${pageSize}
    </select>
    <!-- 查询锁登记列表总数 -->
    <select id="queryPasswrodLockListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(*) FROM (select fpl.hid from f_password_lock fpl left join f_plasma_site fps
			on fpl.plasmaId=fps.code WHERE 1=1
        <if test="startDate != null and startDate != '' ">and DATE_FORMAT(fpl.updateDate,'%Y-%m-%d') &gt;=
            #{startDate}</if>
        <if test="endDate != null and endDate != '' ">and DATE_FORMAT(fpl.updateDate,'%Y-%m-%d') &lt;= #{endDate}</if>
                <if test="plasmaId1 != null and plasmaId1 != '' ">and fpl.plasmaId=#{plasmaId1}</if>
        ) t
    </select>
    <!-- 插入锁写入信息 -->
    <insert id="insertPasswrodLock" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map">
        insert into f_password_lock (rawID,inputData,uid,hid,creater,createDate,updateDate,plasmaId)
        values (#{rawID},#{inputData},#{uid},#{hid},#{creater},NOW(),NOW(),#{plasmaId})
    </insert>
    <!-- 根据hid查询加密狗是否存在 -->
    <select id="queryHidExits" resultType="DataRow" parameterType="java.lang.String">
    	select * from f_password_lock where hid=#{hid}
    </select>
    <!-- 删除加密狗的记录信息 -->
    <delete id="deleteHid" parameterType="java.lang.String">
    	delete from f_password_lock where hid=#{hid} 
    </delete>
</mapper>