
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/headRegistration.css" />
    <link rel="stylesheet" href="../css/forgotPass.css" />
    
    <script type="text/javascript" src="../js/jquery-1.7.1.js"></script>
    <!--<script type="text/javascript" src="dist/localization/messages_zh.js" ></script>-->
</head>
<body>
    <div class="forgetPwdBox index-main-body index-register" id="particles-js" onselectstart="return false;" style="-moz-user-select:none;">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas>
        <!--整体框架-->
        <div class="container">
            <div class="formTitle">
                <!--========表单页头========-->
                <div class="formTitleL">
                    <div><a href="/"><img src="../img/logo.png" /></a></div>
                    <div>密码找回</div>
                </div>
                <div class="formTitleR">
                    <a href="../html/login.html">我已想起密码，马上登录》</a>
                </div>
            </div>
            <!--========页头结束========-->
            <div class="formContent">
                <!--========表单内容=======-->
                <div class="main-form">
                    <div class="main-form-list">
                        <ul>
                            <li class="list-huakuai">
                                <div>
                                    <div class="step">1</div>
                                    <div class="stepText">身份验证</div>
                                </div>
                            </li>
                            <li class="">
                                <div>
                                    <div class="step">2</div>
                                    <div class="stepText">设置新密码</div>
                                </div>
                            </li>
                            <li class="">
                                <div>
                                    <div class="step"><img src="../img/tick.png" /></div>
                                    <div class="stepText">修改完成</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <form class="information formContentD show">
                    <!--=============手机号===========-->
                    <div class="phoneLine">
                        <div class="formPrompting">
                            <div><img src="../img/icon-star.png" /></div>手机号<span id="Phonecheck"></span>
                        </div>
                        <div class="formInput">
                            <input placeholder="请输入您注册时的手机号" name="Phone" id="Phone" type="text" />
                        </div>
                    </div>
                    <!--=============手机验证码===========-->
                    <div class="codeLine">
                        <div class="formPrompting">
                            <div><img src="../img/icon-star.png" /></div>手机验证码<span></span>
                        </div>
                        <div class="formInput formSend">
                            <input placeholder="请输入正确验证码" name="valid" id="valid" type="text" />
                            <input type="button" name="" id="vcode" value="点击发送验证码" />
                        </div>
                    </div>
                    <input type="button" class="next" id="next1" value="下一步" />
                </form>
                <form class="information formContentD" id="newpassword" action="/Company/RetrievePassword" method="post" enctype="multipart/form-data">
                    <input name="__RequestVerificationToken" type="hidden" value="1_LaK77PBj574Kz-IAjqYY9zrTUmRLTUPw5AHdcaGb5-a0AIJluA3hB_6PJfW-n14MqZo7rKDDS7VbmFkA9oYT8YV73VgEHst6b7neGe4jo1" />
                    <!--=============新密码===========-->
                    <input type="hidden" name="companyphone" id="companyphone" />
                    <input type="hidden" name="pwdcode" id="pwdcode" />
                    <div class="passwordLine">
                        <div class="formPrompting">
                            <!--=============题目===========-->
                            <div><img src="../img/icon-star.png" /></div>新密码<span id="passWord"></span>
                        </div>
                        <div class="formInput">
                            <!--=============输入框===========-->
                            <input placeholder="请输入您新密码" type="password" id="pwd1" />
                        </div>
                    </div>
                    <!--=============再次输入===========-->
                    <div class="passwordLine">
                        <div class="formPrompting">
                            <!--=============题目===========-->
                            <div><img src="../img/icon-star.png" /></div>再次输入<span id="passWord2"></span>
                        </div>
                        <div class="formInput">
                            <!--=============输入框===========-->
                            <input name="pwd2" type="password" placeholder="请再次输入密码" id="pwd2" />
                        </div>
                    </div>
                    <button class="redButton" type="button" id="yemian2">下一步</button>
                </form>
                <form class="information over">
                    <div class="succeedTextH3">恭喜你，密码修改成功!</div>
                    <div class="reLogin">
                        <a href="../html/login.html"><input type="button" class="redButton2" value="重新登陆" /></a>
                    </div>
                </form>
            </div><!--========表单内容=======-->
        </div>
    </div><!--整体框架-->
    <!--[if (gte IE 9)|(!IE)]> -->
    <script type="text/javascript" src="../js/particles.min.js"></script>
    <!-- <![endif]-->
    <script type="text/javascript" src="../js/forgotPass.js"></script>
</body>
</html>