<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
		<head>
		    <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		    <title>墨子星智慧健康数字化管理系统</title>
		    <meta name="description" content=""/>
		    <meta name="keywords" content=""/>
		    <link th:href="@{/css/global.css}" rel="stylesheet"/>
		    <link th:href="@{/css/index.css}" rel="stylesheet"/>
		    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}"/>
		</head>

		<body class="main">
		<!-- 修改密码 -->
    <div class="modal fade" id="passwprd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">原密码
                                <i class="iconfont icon-xinghao" style="color: red;font-size: 12px;"></i>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="oldPassword" placeholder="请输入原密码"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">新密码
                                <i class="iconfont icon-xinghao" style="color: red;font-size: 12px;"></i>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="newPass" placeholder="请输入新密码"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwords" class="col-sm-3 control-label">确认新密码
                                <i class="iconfont icon-xinghao" style="color: red;font-size: 12px;"></i>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="newWord" placeholder="请再次输入新密码"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="confirmPassword()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
		<!-- 修改头像 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改头像
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="bcd" style="width: 200px;height: 200px;">
                    
                    </div>
                    <form id="uploadForm" enctype='multipart/form-data'>
                        <button type="button" class="btn btn-primary upload">选择头像</button>
                        <input type="file" id="files" name="file" />
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="a">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="agentImage()">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    
		    <div class="index-header">
		        <div class="left">
		        		<input id="avatar" th:value="${avatar}" type="hidden" />
		            	<input id="adminName" th:value="${adminName}" type="hidden" />
		            <div class="title" id="chen">
		            	<input id="agentName" th:value="${agentName}" type="hidden" />
		            </div>
		            <div class="slide" id="btn">
		                <img th:src="@{/img/05.png}" alt=""/>
		            </div>
		            <div class="search">
		            </div>
		        </div>
		        <ul>
		            <li>管理员，欢迎登录系统！</li>
		           <li>|</li>
		            <li><a href="login.html" title=""><i class="iconfont icon-guanji"><span>退出登录</span></i></a></li>
		        </ul>
		    </div>
		    <div class="row">
		        <div class="col-md-2" id="row-height">
		            <div class="admin">
		                <div class="button">
		                    <img th:src="@{/img/07.png}" alt=""/>
		                </div>
		                <div class="head" id="avatarImage">
		                    <img th:src="@{/img/head.png}" alt=""/>
		                </div>
		                <div class="dropdown">
		               <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="caret"></span>
                    	</button>
		               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="" data-toggle="modal" data-target="#myModal">
                            <a role="menuitem" tabindex="-1" href="#">修改头像</a>
                        </li>
                        <li role="presentation" class="" data-toggle="modal" data-target="#passwprd">
                            <a role="menuitem" tabindex="-1" href="#">修改密码</a>
                        </li>
                       <!--  <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                        </li> -->
                    </ul>
		               
		               
		                </div>
		
		            </div>
		            <div class="panel-group table-responsive" role="tablist">
		                <div class="panel panel-primary leftMenu">
		                    <div class="panel-heading home index-home" id="homepage" data-toggle="collapse"
		                    data-target="#homepageList" role="tab">
		                        <div class="glyphicon glyphicon-th-large"></div>
		                        <h4 class="panel-title ">
		                                       主页
		                        <span class="glyphicon glyphicon-chevron-right right"></span>
		                        </h4>
		                    </div>
		                     <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
		                    <div id="homepageList" class="panel-collapse collapse in" role="tabpanel"
		                        aria-labelledby="homepage">
		                        <ul class="list-group">
		                       <!--  <shiro:hasPermission name="head:view">
		                        <li class="list-group-item" id="headquarters">
		                               总公司
		                            </li>
		                            </shiro:hasPermission> -->
		                            <shiro:hasPermission name="beadhouse:view">
		                            <li class="list-group-item" id="beadhouse">
		                                养老院
		                            </li>
		                            </shiro:hasPermission>
		                           <!--  <shiro:hasPermission name="partner:view">
		                            <li class="list-group-item" id="cityPartner">
		                               城市合伙人
		                            </li>
		                            </shiro:hasPermission> -->
		                        </ul>
		                    </div>
		                </div>
		                <div class="panel panel-primary leftMenu">
		                    <!-- 利用data-target指定要折叠的分组列表 -->
		                    <div class="panel-heading home" id="dataQuery" data-toggle="collapse"
		                        data-target="#healthData" role="tab">
		                        <div class="glyphicon glyphicon-pencil"></div>
		                        <h4 class="panel-title">
		                            数据查询
		                            <span class="glyphicon glyphicon-chevron-right right"></span>
		                        </h4>
		                    </div>
		                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
		                    <div id="healthData" class="panel-collapse collapse in" role="tabpanel"
		                        aria-labelledby="dataQuery">
		                        <ul class="list-group">
		                        <shiro:hasPermission name="history:view">
		                            <li class="list-group-item history" id="changeToSet">
		                                历史健康数据
		                            </li>
		                            </shiro:hasPermission>
		                          <!--     <li class="list-group-item love" id="changelove">
		                                重点关爱管理
		                            </li> -->
		                        </ul>
		                    </div>
		                </div>
		                <!--panel end-->
		                <div class="panel panel-primary leftMenu">
		                    <div class="panel-heading home" id="collapseListGroupHeading2" data-toggle="collapse"
		                        data-target="#collapseListGroup2" role="tab">
		                        <div class="glyphicon glyphicon-user"></div>
		                        <h4 class="panel-title">
		                            信息管理
		                            <span class="glyphicon glyphicon-chevron-right right"></span>
		                        </h4>
		                    </div>
		                    <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel"
		                        aria-labelledby="collapseListGroupHeading2">
		                        <ul class="list-group">
		                        <shiro:hasPermission name="addUser:view">
		                            <li class="list-group-item add" id="addUser">
		                                用户管理
		                            </li>
		                         </shiro:hasPermission>
		                        </ul>
		                         <ul class="list-group">
		                            <li class="list-group-item add" id="adminInfo">
		                                机构管理
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		                <shiro:hasPermission name="backstage:view">
		                <div class="panel panel-primary leftMenu">
		                    <div class="panel-heading home" id="collapseListGroupHeading3" data-toggle="collapse"
		                        data-target="#collapseListGroup3" role="tab">
		                        <div class="glyphicon glyphicon-hdd"></div>
		                        <h4 class="panel-title">
		                            后台管理
		                            <span class="glyphicon glyphicon-chevron-right right"></span>
		                        </h4>
		                    </div>
		                    <div id="collapseListGroup3" class="panel-collapse collapse in" role="tabpanel"
		                        aria-labelledby="collapseListGroupHeading2">
		                        <ul class="list-group">
		                            <li class="list-group-item agent" id="agent">
		                                代理商管理
		                            </li>
		                            <li class="list-group-item equipment" id="equipment">
		                                设备管理
		                            </li>
		                            <li class="list-group-item version" id="version">
		                                版本管理
		                            </li>
		                            <li class="list-group-item health" id="health">
		                                健康数据管理
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		                </shiro:hasPermission>
		                <shiro:hasPermission name="power:view">
		                <div class="panel panel-primary leftMenu">
		                    <div class="panel-heading home" id="collapseListGroupHeading4" data-toggle="collapse"
		                        data-target="#collapseListGroup4" role="tab">
		                        <div class="glyphicon glyphicon-wrench"></div>
		                        <h4 class="panel-title">
		                            权限管理
		                            <span class="glyphicon glyphicon-chevron-right right"></span>
		                        </h4>
		                    </div>
		                    <div id="collapseListGroup4" class="panel-collapse collapse in" role="tabpanel"
		                        aria-labelledby="collapseListGroupHeading2">
		                        <ul class="list-group">
		                            <li class="list-group-item role" id="role">
		                                角色管理
		                            </li>
		                            <li class="list-group-item user" id="admin">
		                                用户管理
		                            </li>
		                            <li class="list-group-item menu" id="menu">
		                                菜单管理
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		                </shiro:hasPermission>
		            </div>
		        </div>
		        <div class="col-md-10">
		            <iframe id="iframe" th:src="@{/admin/welcome}" th:frameborder="0" th:scrolling="auto"></iframe>
		        </div>
		    </div>
		
		    <div class="index-footer" id="foo">
		        <ul>
		            <li>广州墨子星智能科技集团有限公司</li>
		            <li class="iconfont icon-dingwei"> 地址：广州市番禺区海伦堡创意园一座C区4楼</li>
		            <li class="iconfont icon-dianhua"> 电话：400-165-0388</li>
		            <li class="iconfont icon-iconfontunie62c"> 邮箱：mozistar@163.com</li>
		        </ul>
		    </div>
		    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
		    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		    <script type="text/javascript" th:src="@{/js/common/utils.js}"></script>
		    <script type="text/javascript" th:src="@{/js/index/index.js}"></script>
			</body>

</html>