<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>基础注册规则设置—— 修改</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
	</head>
	<body id="newpray">
 <div class="gray-bg ">
	 <div class="wrapper wrapper-content animated fadeInRight weralid" style="">
		 <!--基本信息及验证-->
		 <div class="col-xs-12 colx8 colnewo">
			 <div class="row" style="  padding-left: 2em;">
			 <form id="control">
				 <div class="row immmod">
					 <div class="col-xs-12 colxsgray">
						 <div class="form-group newikrd">
							 <label class="control-label UserC inhenagoi">免疫名称：</label>
							 <div class="input-group  inhemog">
							 <input name="id" th:value="${immune.id}" type="hidden"/>
								<input name="immune" id="immune" th:value="${immune.immunetypeId}" type="hidden"/>
								<select name="immunetypeId" id="immunetypeId" class="form-control">
									<option value="">请选择</option>
								</select>
							 </div>
						 </div>
					 </div>
					 <div class="col-xs-12 colxsgray">
						 <div class="form-group newikrd">
							 <label class="control-label UserC inhenagoi"><ls>针次数</ls>：</label>
							 <div class="input-group  inhemog">
								 <input th:value="${immune.frequency}" name="frequency" id="frequency" title="" class="form-control newfrin" />
							 </div>
						 </div>
					 </div>
					 <div class="col-xs-12 colxsgray">
						 <div class="form-group newikrd">
							 <label class="control-label UserC inhenagoi"><la>控制</la>：</label>
							 <div class="input-group  inhemog">
							 <input name="controlll" id="controlll" th:value="${immune.controlId}" type="hidden"/>
								<select name="controlId" id="controlId" class="form-control">
										<option value="">请选择</option>
								</select>
							 </div>
						 </div>
					 </div>
					 <div class="col-xs-12 colxsgray ">
						 <div class="newikrd" style="text-align: center;">
							 <button type="submit" class="btn  btn-info" id="immAdd" style="  padding: 0.4em 2em;   float: initial;">确定</button>
						 </div>
					 </div>
				 </div>
				 </form>
			 </div>
		 </div>
	 </div>
 </div>
		 <script th:src="@{/js/jquery.min.js}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<script th:src="@{/layui-master/src/layui.js}"></script>
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/immune/config/immune_control_update.js}"></script>
</body>
</html>
