<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>到期时间设置</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/> 
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {padding-left: 35%;} 
			#newpray .innpuld {	margin-left: -8%;}
		</style>
	</head> 
	<body id="newpray">
		<div class="gray-bg " style="padding-top: 1em;padding-bottom: 1em;">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<form id="police">
					<div class="col-xs-12 colx8" style="padding-right: 4em;"> 
								<div class="row">
									<div class="col-xs-12 colxsgray">
									<div class="form-group newikrd">
												<label class="control-label UserC"><i class="redlor">红色</i>提前天数：</label>
											<div class="input-group">
												<input name="redId" th:value="${redId}" type="hidden"/>
												<input name="red" id="red" th:value="${red}" class="form-control newfrin" />
											</div>
										</div>
										<div class="form-group newikrd">
											<label class="control-label UserC"><i class="lvuirs">绿色</i>提前天数：</label>
											<div class="input-group">
													<input name="greenId" th:value="${greenId}" type="hidden"/>
													<input name="green" id="green" th:value="${green}" class="form-control newfrin" />
											</div>
										</div> 
										<div class="form-group newikrd">
												<label class="control-label UserC"><i class="nadre">蓝色</i>提前天数：</label>
											<div class="input-group">
												<input name="blueId" th:value="${blueId}" type="hidden"/>
												<input name="blue" id="blue" th:value="${blue}" class="form-control newfrin" />
											</div>
										</div> 
									</div>
								</div>
						<div class="col-xs-12">
							<div class="form-group newformcol">
								<div class="pull-right">
									<button type="submit" class="btn  btn-info" style=" margin-right: 1em;">确定</button>
									<button type="button" class="btn  btn-info" id="cannel">取消</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</body>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!-- form表单提交 -->
		<script th:src="@{/js/jquery-form.js}"></script>
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<!-- 公共类 -->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/supplies/intoStock/police_time.js}"></script>
</html>
