<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>入库-检验</title>
		<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/common.css}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
		 td:nth-child(2) {
       		 display: none;
  		  }

   		 th:nth-child(2) {
      		  display: none;
  		  }
			.newolod {
				padding-left: 35%;
			}
			.layui-layer-dialog .layui-layer-content{color: #d38f8f !important;}
			.newrowseg{    margin-top: 0.5em;
    margin-bottom: 0.5em;}	
				</style>
	</head> 
<body id="newpray">
	<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid">
			<!--基本信息及验证-->
			<div class="col-xs-12 colx8 colnewo" >
				<div class="row newregis" style="    border-bottom: 0px solid #e7e7e7 !important;"> 
					<div class="row newregistr" id="search_par">
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">检验日期：</label>
								<div class="input-group col-xs-8 date">
									<input name="updateDateStart" id="updateDateStart" type="text" placeholder="开始日期" title="请输入开始日期" class="form-control" />
									<span class="input-group-addon">至</span>
									<input name="updateDateEnd" id="updateDateEnd" type="text" placeholder="结束日期" title="请输入结束日期" class="form-control" />
								</div>
							</div>
						</div>
						
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC"><la>仓库</la>：</label>
								<div class="input-group">
									<select name="depotId" id="depotId" class="form-control">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-4 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">订购单号：</label>
								<div class="input-group">
									<input id="oddNumber" title="" class="form-control newfrin"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row newrowseg">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr">
							<shiro:hasPermission name="stock:status">
							<button type="button" class="btn btn-info hcj" data-type="getCheckData">检验</button>
							<button type="button" class="btn  btn-info hmy" data-type="cancel">取消检验</button>
							</shiro:hasPermission>
							<button id="btn-reset" type="button" class="btn  btn-info">重置</button>
							<button id="searchBtn" type="button" class="btn  btn-info">查询</button>
							<button type="button" onclick="refresh()" class="btn  btn-info">刷新</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row UserA">
				<div class="col-xs-12">
					<div class="ibox">
						<div class="ibox-content" style="padding: 0;">
							<div class="row form-horizontal">
								<div class="col-xs-5 colikra">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4">订购单列表</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row busr">
				 
				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<script type="text/html" id="barDemo">
						<shiro:hasPermission name="order:details">
						<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
						</shiro:hasPermission>
					</script>
					<table class="layui-hide" id="rumsers" lay-filter="barDemo"  lay-data=""></table>
					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
			<!--jQuery包-->
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/jquery.webcam.js}"></script>
			<!--bootstarp表格插件-->
			<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
			<!--layer插件包-->
			<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
			<script th:src="@{/js/utils.js}"></script>
			<!-- 公共包 -->
			<script th:src="@{/js/dateUtil.js}"></script>
			<!--新献浆员登记JS-->
			<script th:src="@{/js/supplies/intoStock/quarantine.js}"></script>
	</body>

</html>