<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="renderer" content="webkit" />
		<title>浆站活动修改</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />

		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
		</style>
	</head>

	<body id="newpray" style="background: #FFF;">
		<div class="gray-bg" id="" style=" ">
			<form method="post" id="updateActivityForm" enctype="multipart/form-data">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row" style=" ">
					<div class="col-xs-12" style="    margin-left: 6%;">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal">
			
									<div class="col-xs-12">
											<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">活动名称：</label>
											<div class="input-group date" style="    ;">
												<input type="hidden" id="id" name="id" th:value="${activity.id}" />
												<input type="hidden" id="moneyType" name="moneyType" th:value="${activity.moneyType}" />
												<input th:value="${activity.name}" title="" name="name" id="name" class="form-control newfrin" />
												
											</div>
										</div>
									</div>
									
									
									<!-- <div class="col-xs-12">
											<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">活动类型：</label>
											<div class="input-group date" style="    ;">
												<select id="type" name="type" class="form-control required">
													<option th:selected="${activity.type}" value="">请选择</option>
													<option th:selected="${activity.type == 0}" value="0">限定次数</option>
													<option th:selected="${activity.type == 1}" value="1">定时采浆</option>
												</select>
												
											</div>
										</div>
									</div> -->
									<div class="col-xs-12">
											<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">浆员类型：</label>
											<div class="input-group date" style="    ;">
												<select id="isNew" name="isNew" class="form-control required">
													<option th:selected="${activity.isNew}" value="">请选择</option>
													<option th:selected="${activity.isNew == 0}" value="0">新浆员</option>
													<option th:selected="${activity.isNew == 1}" value="1">老浆员</option>
												</select>
												
											</div>
										</div>
									</div>
									<div class="col-xs-12">
											<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS" >金额类型：</label>
											<div class="input-group date" style="    ;">
												<select id="moneyType" name="moneyType" class="form-control required">
													<option th:selected="${activity.moneyType}" value="">请选择</option>
													<option th:selected="${activity.moneyType == 0}" value="0">固定</option>
													<option th:selected="${activity.moneyType == 1}" value="1">递增</option>
												</select>
											</div>
										</div>
									</div>
									
									
									<div class="col-xs-12">
											<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">开始时间：</label>
											<div class="input-group date" style="    ;">
											<input th:value="${activity.startDate}" name="startDate" title="" id="startDate" class="form-control newfrin" />
											</div>
										</div>
									</div>

									<div class="col-xs-12">
												<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">结束时间：</label>
										<div class="input-group date" style="    ;">
											<input th:value="${activity.endDate}" name="endDate" title="" id="endDate" class="form-control newfrin" />
											</div>
										</div>
									</div>

									<!-- <div class="col-xs-12 caicolco" id="bindgf"> 
										<div class="row bindgdas">
											<div class="coloaivit">
														<div class="form-group newformcol">
										<label class="control-label col-xs-4 UserCS" style=""><ls>针次数</ls>：</label>
													<div class="input-group date" style="">
														<input th:value="${activity.count}" title="" id="count" name="count" class="form-control newfrin" />
													</div>
												</div>
											</div>
											<div class="coloaivit" style=" margin-left: 2em; float: left;">
												<div class="form-group newformcol">
													<label class="control-label col-xs-4 UserCS">奖励金额：</label>
													<div class="input-group date" style="">
														<input th:value="${activity.money}" id="money" name="money" title="" class="form-control newfrin" style="width: 7em;" />
													</div>
												</div>
											</div> 
										<div class="jia" style="display:none;">+</div>
										</div>
									</div>  -->
									<div class="col-xs-7 colxsgray" id="query_date" style="    width: 64.333333%;margin: 0 5.9rem;">
						<div class="form-group newikrd" style="  margin-bottom: 3px !important;">
						<!-- 	<label class="control-label UserC">出生日期：</label> -->
						<label class="control-label UserCS" style=" margin-left: -1.3rem;   line-height: 2.5rem;   margin-right: 1.6rem;"><ls>针次数</ls>：</label>
							<div class="input-group">
								<div class="col-xs-5 advancol">
									<input th:value="${activity.count}" name="count" title="" class="form-control" id="birthdayStartDate" lay-key="1"/>
								</div>
								<div class="col-xs-1 advancolS">
									--
								</div>
								<div class="col-xs-5 advancol">
									<input th:value="${activity.endCount}" title="" name="endCount" class="form-control" id="birthdayEndDate" lay-key="2"/>
								</div>
							</div>
						</div> 
						 
					</div>
									 
									<div class="col-xs-12">
										<div class="form-group newformcol cactivitad">
											<label class="control-label col-xs-4 UserCS">奖励金额：</label>
												<div class="input-group date" style="    ;">
												<input id="money" name="money" title="" th:value="${activity.money}" class="form-control newfrin" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="col-xs-12">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="submit" class="btn  btn-info" style=" margin-right: 1em;" id="sub">确定</button>  
											<button type="button" class="btn  btn-info" id="cannel">取消</button>
										</div>
									</div>
								</div>
			</form>
		</div>
				<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
			<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		
		<script th:src="@{/js/jquery-form.js}"></script>
		
		<!--  jQuery Validation plugin javascript -->
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/cost/activitycost_jia.js}"></script>
		<script th:src="@{/js/cost/activity_details.js}"></script>
		<script th:src="@{/js/utils.js}"></script>
	</body>

</html>