<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>浆员费用明细</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
		</style>
	</head> 
	<body id="newpray">

		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row UserA" style=" ">
					<div class="col-xs-12">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal">
									
									<!-- <div class="col-xs-5"> 
										<div class="form-group newformcol">
											<label class="control-label col-xs-6" style="/* width: 41%; */line-height: 2.5em;">献浆卡号：</label>
											<div class="input-group col-xs-6">
	<input value=" " title="" class="form-control newfrin" />
 											</div>
										</div>
									</div> -->
									<!-- <div class="col-xs-2">
										<div class="form-group newformcol">
											<div class="pull-right">
												<button type="button" class="btn  btn-info">查询</button>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row busr"> 
					<div class="col-md-12 bustrNew">  
						 
							<table class="layui-hide" id="newcost" lay-filter="demo"></table> 
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.webcam.js}"></script>
		<!--bootstarp表格插件-->
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/cost/grant_cost_list.js}"></script>
		
	</body>

</html>