<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
<meta charset="UTF-8"/>
<title>酶标板打印</title>
<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/icheck-bootstrap.css}"/>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
<style type="text/css">
.newolod {
	padding-left: 35%;
}
.col-xs-8 {    margin-left: 0em;}
.wrapper .coloadDi .newikrd{    float: left;    width: 100%;}
#newpray .weralid .colx8 .coload .coloadDi {
    float: left;
    width: 100%;
	margin-left: auto;
}

.wrapper .newikrd .inhemog {
	width: 63% !important
}
</style>
</head>
<body id="newpray">
	<div>
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid"
				style="">
				<div class="col-xs-12 colx8 colnewo">
					<div class="row newregis indegirtion">
						<p class="grayP">
							<label class="grayLa ">检验记录</label>
						</p>
						<div class="row newregistr">
							<div class="col-xs-4 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">检验日期：</label>
									<div class="input-group inhemog">
										<div class="col-xs-5 advancol">
											<input  id ="startTime" name ="startTime" class="form-control" />
											<input type="hidden" id="id" name= "id"/>
										</div>
										<div class="col-xs-1 advancolS">--</div>
										<div class="col-xs-5 advancol">
											<input  id ="endTime" name = "endTime" class="form-control" />
										</div>
									</div>
								</div>
									</div>
							<div class="col-xs-4 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">是否化验：</label>
									<div class="input-group inhemog">
										<select name="isAssay" id="isAssay" class="form-control" style="   width: 50% !important;">
											<option value="0">未化验</option>
											<option value="1">已化验</option>
											<option value="">全部</option>
										</select>
										<select name="result" id="result" class="form-control" style="   width: 50% !important;">
											<option value="0">合格</option>
											<option value="1">不合格</option>
											<option value="2">复检</option>
											<option value="">全部</option>
										</select>
									</div>
								</div>
									</div>
										<div class="col-xs-4 colxsgray">
								<div class="form-group newikrd">
									<label class="control-label UserC inhenagoi">浆员类型：</label>
									<div class="input-group inhemog">
										<select name="type" id="type" class="form-control">
											<option value="0">新献浆员化验</option>
											<option value="1">献浆员化验</option>
											<option value="">全部</option>
										</select>
									</div>
								</div>
						</div>
					<div class="row newrowseg" style="margin-top: 1em;">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr">
											<button type="button" class="btn  btn-info" id="search" onclick="doSearch();">查询</button>
											<button type="button" class="btn  btn-info" id="elisajilv">查看保存记录</button>
											<shiro:hasPermission name="einfo:view">
											<button type="button" class="btn  btn-info" id="elisajie">接酶标仪的酶标板</button>
											</shiro:hasPermission>
											<shiro:hasPermission name="einfo:auto">
											<button type="button" class="btn  btn-info" id="elisaAuto">获取自动酶免检验信息</button>
											</shiro:hasPermission>
											<shiro:hasPermission name="einfo:bio:view">
											<button type="button" class="btn  btn-info" id="bioAuto">打开自动生化页面</button>
											</shiro:hasPermission>
										</div>
									</div>
								</div> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight">
				<div class="row busr">
					<div class="col-md-12 bustrNew ralckr">
						<table class="layui-hide" id="toconig" lay-filter="demo" style=""></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
			<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<!--bootstarp表格插件-->
	<script  th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script>
	<!--mbb酶标板JS-->
	<script th:src="@{/js/business/elisa/elisa.js}"></script>
</body>
</html>
