<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
<meta charset="UTF-8"/>
<title>蛋白含量</title>
<link th:href="@{/layui-master/src/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet" />
<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
<style type="text/css">
.newolod {
	padding-left: 35%;
}
.wrapper .newikrd .UserC lw {
letter-spacing: 15px;
    margin-right: -13px; 
    display: initial;
    font-size: 13px;
}
</style>
</head>

<body id="newpray">
	<div class="gray-bg ">
		<div class="wrapper wrapper-content animated fadeInRight weralid"
			style="">
			<!--基本信息及验证-->
			<form id="updateForm">
			<input type="hidden" id="id" name ="id"/>
			<div class="col-xs-12 colx8 colnewo">
				<div class="row newregis indegirtion">
					<p class="grayP">
						<label class="grayLa ">基本信息</label></p>
					<div class="row newregistr">
						<div class="col-xs-3 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>姓名</la>：</label>
								<div class="input-group  inhemog">
									<input value=" " title="" id="name" name="name" class="form-control newfrin"/>
									<input type="hidden" id="id" name ="id"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>类型</la>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" id="pbType" name="pbType" class="form-control newfrin"/>
								</div>
							</div>

						</div>
						<div class="col-xs-3 colxsgray">

							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi">献浆卡号：</label>
								<div class="input-group inhemog">
									<input value=" " title="" id="providerNo" name="providerNo" class="form-control newfrin"/>
								</div>
							</div>
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><la>性别</la>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" id="sex" name ="sex" class="form-control newfrin"/>
								</div>
							</div>

						</div>

						<div class="col-xs-3 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><ls>小样号</ls>：</label>
								<div class="input-group inhemog">
									<input value=" " title="" id="sampleNo" name="sampleNo" class="form-control newfrin"/>
								</div>
							</div>
							
						</div>
	<div class="col-xs-3 colxsgray">
	<div class="form-group newikrd">
								<label class="control-label UserC inhenagoi"><ls>登记号</ls>：</label>
								<div class="input-group inhemog">
									<input  id="allId" name="allId"  class="form-control newfrin"/>
								</div>
							</div>
	</div>
					</div>
				</div>
					<div class="row newrowseg" style="margin-top:0em">
					<p class="grayP" style="margin-bottom: 2em;">
						<label class="grayLa ">检测信息</label>
					</p>
					
					<div class="col-xs-4 coload indmp">
						<div class="coloadDi">
							<div class="newIdr">检测项目</div>
							<div class="form-group newikrd">
								<div class="input-group" style="PADDING: 0.3EM 0;">
									<label class="control-label UserC Usnre">折射仪刻度值：</label>
									<input  id="value" name="value" onblur="changeProtein();" class="form-control newfrin"  style=" width: 74% !important;"/>
								</div>
								<div class="input-group" style="PADDING: 0.3EM 0;">
									<label class="control-label UserC Usnre"><lw>蛋白值</lw>：</label>
									<input  id="protein" name="protein" class="form-control newfrin"  style=" width: 74% !important;"/> <label class="control-label UserC Usnre">g/L</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4 coload indmp">
						<div class="coloadDi">
							<div class="newIdr">检测结果</div>
							<div class="form-group newikrd">
								<div class="input-group" style="PADDING: 1.4EM 0;">
									<label class="control-label UserC Usnre">判定结果：</label> <select
										name="result" id="result" class="form-control"
										style="width: 74% !important;">
										<option value="2">未检</option>
										<option value="0">合格</option>
										<option value="1">不合格</option>
									</select>

								</div>
								
							</div>
						</div>
					</div>
					<div class="col-xs-4"></div>
				</div>
			<div class="row newrowseg" style="margin-top: 1em;margin-bottom: 0.5em;">
					<div class="form-group newikrd">
						<div class="input-group newInpa butnewikr" style="">
							<button type="submit" class="btn  btn-info">确定</button>
							<!-- <button type="button" onclick="read()" class="btn  btn-info">读取</button> -->
							<button type="button" class="btn  btn-info" id="print">打印一</button>
							<button type="button" class="btn  btn-info" id="print2">打印二</button>
							<button type="button" class="btn  btn-info" onclick="window.reload();">刷新</button>
							<button type="button" class="btn  btn-info" onclick="doSubmit()" >撤回</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="gray-bg" id="" style="">
		<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row UserA" style="">
				<div class="col-xs-12">
					<div class="ibox"  style="margin-bottom:0em">
						<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal" style="  margin-top: 0.8em;">
										<div class="col-xs-8 colikra">
										<div class="form-group newformcol">
											<label class="control-label col-xs-4" style=" ">浆员信息列表</label>
										</div>
									</div>
								<div class="col-xs-3">
									<div class="form-group newformcol">
										<label class="control-label col-xs-4">日期</label>
										<div class="input-group col-xs-8 date">
											<input name="startTime" id="startTime" type="text"
												placeholder="请选择化验日期" title="请选择化验日期" value=""
												class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-xs-1">
									<div class="form-group newformcol">
										<div class="pull-right">
											<button type="button" class="btn  btn-info" onclick="doSearch();">查询</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row busr">

				<div class="col-md-12 bustrNew">
					<!--table数据-->
					<!--	<table class="layui-hide" id="newtest" lay-filter="demo"></table>-->
					<table class="layui-table" id="inhemogS"
						lay-filter="parse-table-demo" style=""></table>

					<div class="row">
						<div class="col-md-7 col-sm-12">
							<div class="dataTables_paginate bootstrap_full_number"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery-form.js}"></script>
	<script th:src="@{/layui-master/src/layui.js}"></script>
		<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/js/business/inspection/in_protein.js}"></script>

</body>

</html>