<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<title>邀请设置</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}"/>
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet"/>
		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}

			.layui-layer-page .layui-layer-content {
				padding-bottom: 1em;
				overflow: hidden!important;
			}
		</style>
	</head> 
	<body id="newpray">
		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
			<div class="col-xs-12 colx8 colnewo">
						<div class="row newregis"> 
							<div class="row newregistr">
								<div class="col-xs-3 colxsgray">  
									 <div class="form-group newikrd">
										<label class="control-label UserC">添加人：</label>
										<div class="input-group"> 
											<input id="creater" type="text" class="form-control newfrin" />
										</div>
									</div>
								</div>
								 
								<div class="col-xs-3 colxsgray"> 
								<div class="form-group newikrd">
										<label class="control-label UserC">等级：</label>
										<div class="input-group"> 
											<input value=""  id="level" title="" type="text" class="form-control newfrin" />
										</div>
									</div>
								</div> 
								<div class="col-xs-4 colxsgray"> 
								<div class="form-group newformcol">
											<div class="pull-left">
												<button type="button" class="btn  btn-info" style="margin: 0 1em;gin: 0 1em;  padding: 0.3em 1em" id="query">查询</button>
												<button type="button" class="btn  btn-info" style="margin: 0 1em;gin: 0 1em;  padding: 0.3em 1em" id="reset">重置</button>
												<shiro:hasPermission name="inviteFit:add">
													<button type="button" class="btn  btn-info" style="margin: 0 1em;gin: 0 1em;   padding: 0.3em 1em" id="activityadd">新增邀请配置</button>
												</shiro:hasPermission>
											</div>
										</div>
								</div> 
							</div>
						</div> 
				</div> 
				<div class="row busr">
					<div class="col-md-12 bustrNew">
						<script type="text/html" id="barDemo">
							<shiro:hasPermission name="inviteFit:update">
						  		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">修改</a>
					 		</shiro:hasPermission>
							<shiro:hasPermission name="inviteFit:delete">
						  		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
					 		</shiro:hasPermission>
						</script>
						<table class="layui-hide" id="newtestS" lay-filter="page"></table>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.webcam.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/cost/bind_fit_list.js}"></script>
		<script th:src="@{/js/utils.js}"></script>
		<script th:src="@{/js/dateUtil.js}"></script>
	</body>

</html>
