<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>静脉验证</title>
		<!--bootstarp框架及公共样式-->
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<!--本地css文件-->
		<link href="../../../css/list/log.css" rel="stylesheet"> 
	</head> 
	<body>
		<div class="modal-dialog" style="margin: 0;">
	<div class="modal-content">
		<form id="newForm">
			<div class="modal-body">
				<div class="row">
					<div class="ibox">
						<div class="ibox-content">
							<div class="row form-horizontal">
								<div class="col-xs-6" style=" padding-right: 6%;">
									<div class="form-group">
										<label class="control-label col-xs-5 Newcontrol">
                                               		     献浆员卡号：<font color="red">*</font>
                                                </label>
										<div class="col-xs-7 input-group">
											<input title="请输入姓名" id="townName" name="townName" class="form-control required" placeholder="请输入姓名" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-xs-5 Newcontrol">
                                     				               请选择手掌：<font color="red">*</font>
                                                </label>
										<div class="col-xs-7 input-group">
											<select title="请选择用户角色" id="companyName" name="companyName" class="form-control required">
												<option value="">请选择</option>
												<option value="">右手</option>
												<option value="">左手</option>
												<option value="">小手</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="row verrow">
											<div class="row busr">

												<div class="col-md-12 newvair">
													<table class="table table-bordered table-condensed table-hover dataTables-example" id="townGrid">
														<thead>
															<th>献浆员卡号</th>
															<th>手掌</th>
															<th>静脉数据</th>
														</thead>
														<tbody>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
															<tr>
																<td>1222222</td>
																<td>右手</td>
																<td>（BLOB）</td>
															</tr>
														</tbody>

													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-6 colNewl">
									<div class="row">
										<div class="col-xs-6">
											<p style="    text-align: -webkit-auto;">操作区</p>
											<div id="newreg_sitra">
												<img src="../../../img/Palm.gif" />
											</div>
										</div>
										<div class="col-xs-6">
											<p style="    text-align: -webkit-auto;">预览区</p>
											<div class="row">
												<div class="col-xs-12">
													<div class="newreg_sitrati">
														<img src="../../../img/PalmS.png" />
													</div>
												</div>
												<div class="col-xs-12">
													<div class="newreg_sitrati">
														<img src="../../../img/PalmS.png" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div id="newreg_tionas">
												<div class="col-xs-3 coldiv6">
													<button type="button" class="btn  btn-info">启动</button>
												</div>
												<div class="col-xs-5 coldiv6 colordivS">
													<button type="button" class="btn  btn-info">验证</button>
												</div>
												<div class="col-xs-3 coldiv6">
													<button type="button" class="btn  btn-info">确定</button>
												</div>

											</div>
										</div>

										<div class="col-xs-12">
											<div id="newreg_reiton">
												<img src="../../../img/Padmd_03.png" />
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
<!--jQuery包-->
<script src="../../../js/jquery.min.js"></script>
<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
<!--本地js文件--></html>