<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<title>面部验证</title>
		<!--bootstarp框架及公共样式-->
		<link href="../../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../css/style.min862f.css?v=4.1.0" rel="stylesheet">
		<link href="../../../css/common.css" rel="stylesheet">
		<!--本地css文件-->
		<link href="../../../css/list/log.css" rel="stylesheet">
	</head> 
	<body>
		<div class="modal-dialog" style="margin: 0;">
			<div class="modal inmodal newolod" id="modalTown-buzuord" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog new_model">
					<div class="modal-content">
						<form id="newForm">
							<div class="modal-body">
								<div class="row">
									<div class="ibox">
										<div class="ibox-content">
											<div class="row form-horizontal">
												<div class="col-sm-12 col-xs-12 colNewlnew colofacial">
													<div class="row">
														<div class="col-xs-12 ">
															<p class="cameBus">验证区</p>
															<div id="newreg_sitraNewyaz" class="facialsitr">
																<!--	 <div id="webcam"></div> -->
															</div>
														</div>
													</div>
													<div class="col-xs-12">
														<div id="newreg_tionas newstira">
															<div class="col-xs-12 coldiv6 coladition " >
																<button type="button" class="btn  btn-info btn_facial">面部验证</button>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!--jQuery包-->
	<script src="../../../js/jquery.min.js"></script>
	<script src="../../../js/jquery.webcam.js"></script>
	<script src="../../../js/bootstrap.min.js?v=3.3.6"></script>
	<!--本地js文件-->
	<script src="../../../js/list/face.js"></script> 
</html>