<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="renderer" content="webkit"/>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>费用发放</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<!--bootstarp-->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<!--文件上传-->
		<link th:href="@{/css/fileinput.min.css}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<!--新献浆员登记css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
		<style type="text/css">
		.busr .bustrNew {
    
padding: 0 4px;
}
			.newolod {
				padding-left: 35%;
			}
		.layui-layer-page .layui-layer-content{
				  padding: 1em 0;
			}
		 
			.wrapper .newikrd .input-group{    width: 64%;}
		#bisudcost{	position: fixed; 
    top: 42%;
    z-index: 999;
    left: 32%;
    right: 0px;
    width: 28em !important;
    padding: 1em 0;
    background: #fff;
    display: block;
    border: 1px solid #e6e6e6;}
    .tabkocmr table tr th {    padding: 0.4em 0;
    font-size: 12px; }
.tabkocmr table tr td  {   line-height: 1.1em;
    padding: 0.2em 0;
    height: 2.5em;
     width: 12em;
    font-size: 12px;
}
	.tabkocmr table tbody{    
	max-height:13em;
    overflow-y: scroll;
    float: left;
    width: initial;}
    #newpray .gray-bg .colx8 .imadut {
    width: 37%!important;
}.wrapper .newikrd .input-group {
    width: 62%;
}
.newregistr{margin-left:0}
		</style>
	</head> 
	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<div class="col-xs-9 colx8 colnewo">
					<div class="row newregis"> 
						<div class="row newregistr">
							<div class="col-xs-3 colxsgray"> 
								<div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>姓名</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="pName" readonly="readonly" />
										<input  class="form-control newfrin" id="id" type="hidden" />
										<input  class="form-control newfrin" id="isGrant" type="hidden" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>血型</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="bType" readonly="readonly"  />
									</div>
								</div>
		<div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>类型</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="pType"  readonly="readonly" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut"><ls>登记号</ls>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="regNo"  readonly="readonly" />
									</div>
								</div>
								<div class="form-group newikrd">
								<label class="control-label UserC imadut"><ls style="    letter-spacing: 4px;  margin-right: -3px;">IC卡号</ls>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="icNum" readonly="readonly"  />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>备注</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="remark" />
									</div>
								</div>
								<!-- <div class="form-group newikrd">
									<label class="control-label UserC imadut">发放费用：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="cost"  readonly="readonly" />
										<input  class="form-control newfrin" id="roadFee" type="hidden"  readonly="readonly" />
										<input  class="form-control newfrin" id="activityMoney" type="hidden"  readonly="readonly" />
									</div>
								</div>  -->
										<div class="form-group newikrd" style="display:none">
											<label class="control-label UserC imadut">打印方式：</label>
											<div class="input-group">
												<select name="type" class="form-control">
													<option value="">请选择</option>
													<option value="">条码打印</option>
													<option value="">否</option>
												</select>
											</div>
										</div> 
							</div>
							<div class="col-xs-3 colxsgray"> 
								<div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>性别</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="sex"  readonly="readonly" />
									</div>
								</div>
						<div class="form-group newikrd">
									<label class="control-label UserC imadut">献浆卡号：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="proNo" readonly="readonly"  />
									</div>
								</div>
<div class="form-group newikrd">
									<label class="control-label UserC imadut">免疫编号：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="imNum"  readonly="readonly" />
									</div>
								</div>
<div class="form-group newikrd">
									<label class="control-label UserC imadut">固定浆员：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="isNew"  readonly="readonly" />
									</div>
								</div>
								
									<div class="form-group newikrd">
									<label class="control-label UserC imadut">采浆护士：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="colName" readonly="readonly"  />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" >采浆费用：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="money"  style="width: 77%;color: red;"/>
										<label style="margin-top:  0.4em;padding-left: 0.5em;color: red;">元</label>
									</div>
								</div>
								<!-- <div class="form-group newikrd">
									<label class="control-label UserC imadut"><la>备注</la>：</label>
									<div class="input-group">
										<input  class="form-control newfrin" id="remark" />
									</div>
								</div> -->
							</div>
							<div class="col-xs-3 colxsgray">
							
								
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">采浆预约日期：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" id="colDate"  readonly="readonly" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">上次采浆日期：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" id="lastcolDate"  readonly="readonly" />
									</div>
								</div>  
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">本月采浆次数：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" id="month"  readonly="readonly" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">本年采浆次数：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" id="year"  readonly="readonly" />
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">上次发放费用：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" style="width: 77%;color: red;" id="lastmoney"  readonly="readonly" />
										<label style="margin-top:  0.4em;padding-left: 0.5em;color: red;">元</label>
									</div>
								</div>
								<div class="form-group newikrd">
									<label class="control-label UserC imadut" style="width:48%!important;">上次采浆距今：</label>
									<div class="input-group" style="width:51.5%">
										<input  class="form-control newfrin" style="width: 77%;" id="daydiff" readonly="readonly" />
										<label style="margin-top:  0.4em;padding-left: 0.5em;">天</label>
									</div>
								</div>
							</div> 
							<div class="col-xs-3 colxsgray tabkocmr">
							<table lay-filter="parse-table-demo" class="layui-table" id="costdetail" style="margin: 0 10px 0 15px;">
							  <thead>
							    <tr>
							      <th lay-data="{field:'username', width:200}" colspan="2">费用明细</th> 
							    </tr> 
							  </thead>
							   
							  <tbody>
							   
							   </tbody>
							  <tbody>
							  	<tr>
							      <td>合计</td>
							      <td>0</td> 
							    </tr>
							  </tbody>
							</table>
							 </div> 
							 </div>
					</div>
				 	<div class="row newrowseg">
						<div class="form-group newikrd">
							<div class="input-group newInpa butnewikr" style="">
								<shiro:hasPermission name="cost:grant">
									<button type="button" class="btn  btn-info Phyegis" id="grancost">发放</button>
								</shiro:hasPermission>
								<button type="button" class="btn  btn-info Phyegis" id="read">读取</button>
								<button type="button" class="btn  btn-info Phyegis" style="display:none">打印</button>
								
								<button type="button" class="btn  btn-info Phyegis" id="Physeg" style="display: none;">静脉验证</button>
								<button type="button" class="btn  btn-info Phyegis" id="Phyfonta">面部识别</button> 
								<button type="button" class="btn  btn-info Phyegis"  id="qgrancost">取消发放</button>
								<button type="button" class="btn  btn-info Phyegis" id="refresh">刷新</button>
								<button type="button" class="btn  btn-info Phyegis" id="printcost">打印小票</button>
								
								<input type="hidden" class="not" id="immune" value=""/><!--免疫判断隐藏框 -->
								<input type="hidden" class="not" id="result" value=""/>
								<input type="hidden" class="not" name="type" id="valdationType" value=""/><!-- 验证类型(默认人脸识别) -->
								<input type="hidden" class="not" name="isIdentity" id="isIdentity" value=""/><!-- 是否验证成功 -->
								<input type="hidden" class="not" name="image" id="imageFace"/><!-- 需要保存的人脸识别图片 -->
								<input type="hidden" class="not" name="providerNo" id="providerNo"/>
								<input type="hidden" class="not" id="cost"/>
							</div>
						</div>
					</div> 
				</div> 
				<!--上传证件及照片-->
				
				<div class="col-xs-3 colnewo">
					 <div class="row" style=" margin-top: 2em;">
						<div class="col-xs-12 coldix">
 <img id="demo1"  th:src="@{/img/new_pa1.png}" style="height: 10em;width:auto;position: initial;" />
  </div> 
					</div> 
					<div class="row"> 
						<div class="col-xs-12 coldiv">
							<div class="layui-upload-list">
<img class="layui-upload-img" th:src="@{/img/new_pa1.png}" style="height:10em;    width: auto;" id="imageFace_show" />
  <!-- <p id="demoText"></p> -->
  						<div style="display: none;"><img src="" id="demo3"/></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg" id="" style=" ">
			<div class="wrapper wrapper-content animated fadeInRight">
				   <div class="row UserA" style=" ">
					<div class="col-xs-12" style="padding-left:0">
						<div class="ibox">
							<div class="ibox-content" style="padding: 0;">
								<div class="row form-horizontal">
							<div class="col-xs-7 colikra" style="    margin-top: 1.2em;">  
										<div class="form-group newformcol">
										<label class="control-label col-xs-4" style="margin:0;padding:0;">浆员信息列表</label>
									</div>
									</div> 
									<div class="col-xs-4" style="  margin-top: 0.8em;">
										<div class="form-group newformcol">
											<label class="control-label col-xs-4 UserCS" style=" width: 56%;">日期：</label>
											<div class="input-group col-xs-5 date">
<input name="startTime" id="startTime" type="text" placeholder="开始日期" title="请输入开始日期" value="" class="form-control" />
 											</div>
										</div>
									</div>
									<div class="col-xs-1" style="  margin-top: 0.8em;">
										<div class="form-group newformcol">
											<div class="pull-right">
												<button type="button" class="btn  btn-info" id="query">查询</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row busr"> 
					
					<div class="col-md-6 bustrNew" id="domne">  
						<!--<script type="text/html" id="barDemo">
							<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看明细</a>
						</script>-->
								<p style="margin-left: 1.6rem;    color: #82b78d;">未发费用人员</p>
							<table class="layui-hide" id="newtestS" lay-filter="demo"></table> 
					</div>
					
					<div class="col-md-6 bustrNew">  
						<!-- <script type="text/html" id="barDemo">
							<a class="la yui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看明细</a>
						</script>  -->
						<p style="margin-left: 1.6rem;    color: #82b78d;">已发费用人员</p>
							<table class="layui-hide" id="newtestright" lay-filter="demo1"></table> 
					</div>
				</div>  
				<div class="gray-bg audcost" id="bisudcost" style="display: none;" >
					<div class="row"> 
						<div class="col-xs-2"> 
						<img th:src="@{/img/gacost.jpg}" style="margin-left: 71%;width: 2.5em;" /> 
						</div>
						<div class="col-xs-10" style="line-height: 2.7em;text-align: left;" id="qxff">
						</div>
					</div>
					<div class="row" style=" width: 100%;"> 
						<div class=" " style="margin:   0 auto;margin-left: 36%;">
										<div class="form-group newformcol">
											<div class="pull-center">
												<button type="button" class="btn  btn-info" style="margin-right: 1em;padding: 0.2em 1.5em;" id="sub">是</button>  
												<button type="button" class="btn  btn-info" id="cannel2" style="  padding: 0.2em 1.5em;" >否</button>										
									</div>
								</div>
						</div>
					</div> 
				</div> 
				</div>
			</div>
	
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/zoom.js}"></script>
		<!--bootstarp表格插件-->
		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!-- 公共包 -->
		<script th:src="@{/js/utils.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
		<script th:src="@{/js/cost/grant_cost_list.js}"></script>
		<script th:src="@{/js/dateUtil.js}"></script>
		
		<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
		<!-- 人脸识别 -->
		<script th:src="@{/js/common/start_camera.js}"></script> 
					<script th:src="@{/js/imgx.js}"></script>
	<img src="" alt="" class="bigimg" />
<div class="mask">
	<img src="" alt="" />
</div>
 
	</body>

</html>