<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<title>邀请绑定</title>
<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
<!--bootstarp-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
<link th:href="@{/css/common.css}" rel="stylesheet" />
<!--新献浆员登记css-->
<link th:href="@{/css/list/log.css}" rel="stylesheet" />
<style type="text/css">
.newolod {
	padding-left: 35%;
}
.newregis{    padding: 1em 0;}
.layui-layer-page .layui-layer-content {
	padding-bottom: 1em;
	overflow: hidden !important;
}

#bisudcost {
	position: fixed;
	top: 42%;
	z-index: 9999;
	left: 32%;
	right: 0px;
	width: 28em !important;
	padding: 1em 0;
	background: #fff;
	display: block;
	border: 1px solid #e6e6e6;
}
</style>
</head>

<body id="newpray">
	<div class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="col-xs-12 colx8 colnewo">
						<div class="row newregis"> 
							<div class="row newregistr">
								<div class="col-xs-3 colxsgray">  
									 <div class="form-group newikrd">
										<label class="control-label UserC">邀请人：</label>
										<div class="input-group"> 
											<input  id="inviter" type="text" class="form-control newfrin" />
										</div>
									</div>
								</div>
								<div class="col-xs-3 colxsgray">  
									<div class="form-group newikrd">
										<label class="control-label UserC">邀请时间：</label>
										<!-- <div class="input-group">
											<input  class="form-control newfrin" id="remark" />
										</div> -->
										<div class="input-group">
									<div class="col-xs-5 advancol">
										<input value="" title="" type="text" class="form-control" id="startDate" />
									</div>
									<div class="col-xs-1 advancolS">
										--
									</div>
									<div class="col-xs-5 advancol">
										<input value="" title="" type="text" class="form-control" id="endDate" />
									</div>
								</div>
									</div>
								</div>
								<div class="col-xs-3 colxsgray"> 
								<div class="form-group newikrd">
										<label class="control-label UserC">被邀请人：</label>
										<div class="input-group"> 
											<input value="" id="invited" title="" type="text" class="form-control newfrin" />
										</div>
									</div>
								</div> 
								
								<div class="col-xs-3 colxsgray"> 
								<div class="form-group newformcol">
											<div class="pull-left">
												<button type="button" class="btn  btn-info" style="margin: 0 1em;" id="searchBtn">查询</button>
												<button type="button" class="btn  btn-info" style="margin: 0 1em;" id="reset">重置</button>
												<!-- <button type="hidden" class="btn  btn-info" id="bindAdd">新增绑定</button> -->
											</div>
										</div>
								</div> 
							</div>
						</div>
				 	
				</div> 
			<div class="row busr">
				<div class="col-md-12 bustrNew">
					<script type="text/html" id="barDemo">
							<shiro:hasPermission name="bindMessage:add">
						  		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">绑定</a>
					 		</shiro:hasPermission>
							<shiro:hasPermission name="bindMessage:update">
						  		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">解绑</a>
					 		</shiro:hasPermission>
						</script>
					<table class="layui-hide" id="newtestS" lay-filter="demo"></table>
				</div>
			</div>
		</div>
	</div>
	<div id="">
		<div class="layui-layer-shade" id="layui-layer-shade1" times="1"
			style="z-index: 1989; background-color: rgb(0, 0, 0); opacity: 0.3; display: none;"></div>
		<div class="gray-bg audcost" id="bisudcost" style="display: none;">
			<div class="row">
				<span>X</span>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<img th:src="@{/img/gacost.jpg}"
						style="margin-left: 71%; width: 2.5em;" />
				</div>
				<div class="col-xs-10" style="line-height: 2.7em; text-align: left;">
					邀请人(张三)确定要与被邀请人(李四)解绑吗?</div>
			</div>
			<div class="row" style="width: 100%;">
				<div class=" " style="margin: 0 auto; margin-left: 36%;">
					<div class="form-group newformcol">
						<div class="pull-center">
							<button type="button" class="btn  btn-info" id="butbind"
								style="margin-right: 1em; padding: 0.2em 1.5em;">是</button>
							<button type="button" class="btn  btn-info" id="cannel2"
								style="padding: 0.2em 1.5em;">否</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.webcam.js}"></script>
	<!--bootstarp表格插件-->
	<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/cost/invite_bind_list.js}"></script>

	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/dateUtil.js}"></script>
</body>

</html>