<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="renderer" content="webkit" />
		<title>写卡</title>
		<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet" />
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<!--浆员信息变更css-->
		<link th:href="@{/css/list/log.css}" rel="stylesheet" />
	</head>
<style>
#idNoCard{font-size:12px}
</style>
	<body id="newpray">
		<div class="gray-bg ">
			<div class="wrapper wrapper-content animated fadeInRight weralid">
				<div class="col-xs-12 colx8 inforcol">
					<div class="row rowinfor">

						<div class="col-xs-3 colxsgray">
							<div class="form-group newikrd">
								<label class="control-label UserC">献浆卡号：</label>
								<div class="input-group">
									<div class="col-xs-12 advancol">
										<input  id="providerNo" class="form-control" />
									</div>

								</div>
							</div>
						</div>

						<div class="col-xs-3 colxsgray">
							<div class="form-group newikrd">
	<label class="control-label UserC">身份证号：</label>
								<div class="input-group">
									<div class="col-xs-12 advancol">
	<input  id="idNo" class="form-control" />
									</div>
								</div>
							</div>
						</div> 
						<div  class="col-xs-3 colxsgray"> 
							<div class="form-group newikrd">
								<div class="input-group newInpa butnewikr" style=" margin:  0 auto!important">
									<input type="hidden" id="pro"/>
									<input type="hidden" id="id" value=""/>
									<button type="button" class="btn  btn-info" id="query">查询</button>
									<button type="button" class="btn  btn-info" id="print">打卡</button>
									<button type="button" class="btn  btn-info" id="write">写卡</button>
								</div> 
					</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gray-bg">
			<div class="wrapper wrapper-content animated fadeInRight">
			
				<div class="row busr">
					<div class="row busr_sxid rowbusrs">
					</div>
					<div class="col-md-12" style="margin-top: -2em;">
						<!--table 表格-->
						<div style="width: 55%;float: left;">
							<table class="layui-hide" id="Advancedtest" lay-filter="demo"></table>
						</div>
						<!--table 表格-->
						<div class="fakaimg">
							<div id="">
								<ul>
									<li>
										<h3><span id="comCard"></span></h3>
									</li>
									<li><label>编号：</label>
										<span id="proNoCard"></span>
									</li>
									<li><label>姓名：</label>
										<span id="nameCard"></span>
									</li>
									<li><label>性别：</label>
										<span id="sexCard"></span>
									</li>
									<li><label>血型：</label>
										<span id="bloodTypeCard"></span>
									</li>
									<li><label>民族：</label>
										<span id="nationCard"></span>
									</li>
									<li><label>身份证号：</label>
										<span id="idNoCard"></span>
									</li>
									<li><label>出生日期：</label>
										<span id="birthCard"></span>
									</li>
									<li><label>家庭地址：</label>
										<span id="addCard"></span>
									</li>
									<li><label>建档日期：</label>
										<span id="createDateCard"></span>
									</li>
									<li><label>机构编码：</label>
										<span id="orgNoCard"></span>
									</li>
								</ul>
				<ul style="width: 46%;">
				<li><img th:src="@{/img/new_pa2.png}" id="img" /></li>
									<div>
		<ul style="    margin-top: 3em;position: relative;">
				<li><label>发证机关：</label><span  style="position: absolute; top: 0;  left: 0;"><img th:src="@{/img/zimg.png}" id="issuOrgCard" /></span></li>
				<li><label style="letter-spacing: 4px;">发证人：</label><span id="issuerCard"></span></li>
						<li><label>电子锁号：</label><span id="eleNoCard"></span></li>
						<li><label>发证日期：</label><span id="issuDateCard"></span></li>
										</ul>
									</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--jQuery包-->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!--layer插件包-->
		<script th:src="@{/layui-master/src/layui.js}" charset="utf-8"></script>

		<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
		<!--浆员信息变更js-->
		<script th:src="@{/js/card/write_card.js}"></script>
		<script th:src="@{/js/dateUtil.js}"></script>
		<script th:src="@{/js/utils.js}"></script>
	</body>

</html>