<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>历史健康数据</title>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<link th:href="@{/css/global.css}" rel="stylesheet"/>
	<link th:href="@{/css/history.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/vue-easytable.css}"/>
	<link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css"/>
	<script th:src="@{/js/vue.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/echarts/echarts.js}"></script>
	<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
	<!-- 引入组件库 -->
	<!-- <script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script> -->
	<script th:src="@{/js/vue-easytable.js}"></script>
</head>
<style>
	.colum-cell-class-name-test{
		color:red;
		font-weight:bold;
	}
</style>
<body>
	<div class="header">
		<div class="img">
			<img th:src="@{/img/home.png}" alt=""/>
		</div>
		<div class="home">主页＞历史健康数据</div>
	</div>
	<div class="content">
		<div class="history">
			<div class="icon">
				<img th:src="@{/img/history.png}" alt=""/>
			</div>
			<p>历史健康数据</p>
		</div>
		<div class="table">
			<div class="check" id="search_par">
				<input type="text" id="id" name="" value="" placeholder="用户ID"/>
				<input type="text" id="name" name="" value="" placeholder="用户姓名"/>
				<button type="button" onclick="query()" >查询</button>
				<button type="button" onclick="empty()" >重置</button>
				<button type="button" onclick="refresh()" >刷新</button>
			</div>
			<div id="app">
				<div>
					<v-table is-vertical-resize="vertical-resize-offset=60" is-horizontal-resize="style=width:100%"
						:multiple-sort="false" :min-height="350" even-bg-color="#f2f2f2"
						:title-rows="tableConfig.titleRows" :columns="tableConfig.columns"
						:table-data="tableConfig.tableData" row-hover-color="#eee" row-click-color="#edf7ff"
						:paging-index="(pageIndex-1)*pageSize"></v-table>

					<div class="mt20 mb20 bold"></div>
					<v-pagination v-on:page-change="pageChange" v-on:page-size-change="pageSizeChange" :total="total"
						:page-size="pageSize" :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"
						style="padding: 20px 100px 20px 0;float: right;"></v-pagination>
				</div>
			</div>
		</div>
	</div>
	<!-- 公共JS -->
	<script th:src="@{/js/common/utils.js}"></script>
	<script th:src="@{/js/health/history-table.js}"></script>
	
</body>

</html>
