<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
<meta charset="UTF-8" />
<title>检验配置-添加</title>
<link rel="stylesheet" th:href="@{/layui-master/src/css/layui.css}" />
<!--bootstarp-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>
<link th:href="@{/css/common.css}" rel="stylesheet"/>
<link th:href="@{/css/list/log.css}" rel="stylesheet"/> 
<!---->
<!--文件上传-->
<!---->
<!--新献浆员登记css-->
 		<style type="text/css">
			.newolod {
				padding-left: 35%;
			}
			#newpray .innpuld {
				margin-left: -8%;
			}
			#newpray .gray-bg .colx8 .UserC {    width: auto;    margin-left: 11%;}
			.wrapper .newikrd .input-group{    width: 67%;}
			#newpray .gray-bg{margin-bottom: initial;}
			.newformcol{     margin: 0.54em !important;}
		</style>
</head>

 <body id="newpray">
		<div class="gray-bg " style="    padding-top: 1em;    padding-bottom: 1em;">
			<div class="wrapper wrapper-content animated fadeInRight weralid" style="">
				<!--基本信息及验证-->
				<form id="addForm">
				<input type="hidden" name="optype" id="optype"/>
				<input type="hidden" name="status" id="status"/>
				<input type="hidden" name="id" id="id" th:value="${id}"/>
					<div class="col-xs-12 colx8" style="padding-right: 4em;">
						<div class="row">
							<div class="col-xs-12" style="padding: 0;">
								<div class="row">
									<div class="col-xs-12 colxsgray">

										<div class="form-group newikrd">
											<label class="control-label UserC">模板名称：</label>
											<div class="input-group">
												<input value="" id="templateName" name="templateName" title="" class="form-control newfrin" />
											</div>
										</div>

									 
										<div class="form-group newikrd">
											<label class="control-label UserC">是否默认：</label>
											 
											<div class="input-group">
												<select name="isDefault" id="isDefault" class="form-control">
													<option value="0">否</option>
													<option value="1">是</option>
												</select>
											</div>
										</div>

										<div class="form-group newikrd">
											<label class="control-label UserC">是否可用：</label>
												<div class="input-group">
												<select name="status" id="status" class="form-control">
													<option value="1">是</option>
													<option value="0">否</option>
												</select>
											</div>
										</div> 
										<div class="form-group newikrd">
											<label class="control-label UserC">配置日期：</label>
											<div class="input-group">
												<input value="" id="cmDate" name ="cmDate" title="" class="form-control newfrin" />
											</div>
										</div> 
									</div>

									 
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group newformcol">
								<div class="pull-right">
									<button type="submit" class="btn  btn-info" style=" margin-right: 1em;">确定</button>

								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
 
	<!--jQuery包-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-form.js}"></script>
	<!--  jQuery Validation plugin javascript -->
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<!-- 公共包 -->
	<script th:src="@{/js/utils.js}"></script>
	<!--bootstarp表格插件-->
	<script  th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
	<!--layer插件包-->
	<script th:src="@{/layui-master/src/layui.js}"></script> 
		<script th:src="@{/js/business/inspection/intoconig_add.js}"></script>
</body> 
</html>